<div class="management-system-maintain-config-power panel">
  <div class="management-system-maintain-config-power-head panel-title">
    电源
  </div>
  <div class="management-system-maintain-config-power-body">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">设备重启</div>
        <div class="form-item-value">
          <button class="button-clip-gradient" (click)="onreboot()">
            重启
          </button>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">设备关机</div>
        <div class="form-item-value">
          <button class="button-clip-gradient" (click)="onshutdown()">
            关机
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
