<div class="system-module-shop-details-info" *ngIf="data">
  <div class="system-module-shop-details-info-head">
    <div
      class="system-module-shop-details-info-head-image"
      (click)="onpicture()"
    >
      <ias-picture
        [id]="sign?.ImageUrl"
        [polygon]="sign?.Polygon ?? []"
      ></ias-picture>
    </div>
  </div>
  <div class="system-module-shop-details-info-body forms">
    <div class="form-item">
      <div class="form-item-text" text-space-between>商铺名称</div>
      <div class="form-item-value">
        <input type="text" [(ngModel)]="data.Name" />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>分店名称</div>
      <div class="form-item-value">
        <input type="text" [(ngModel)]="data.BranchName" />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>商铺地址</div>
      <div class="form-item-value">
        <input type="text" [(ngModel)]="data.Address" />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>联系方式</div>
      <div class="form-item-value">
        <input type="text" [(ngModel)]="data.Telphone" />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>置信度</div>
      <div class="form-item-value">
        <input type="text" readonly [value]="data.ConfidenceRatio" />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>发现时间</div>
      <div class="form-item-value">
        <input
          type="text"
          readonly
          [value]="data.BeginTime | date : Language.YearMonthDayHHmmss"
        />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>最近出现</div>
      <div class="form-item-value">
        <input
          type="text"
          readonly
          [value]="data.EndTime | date : Language.YearMonthDayHHmmss"
        />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text"></div>
      <div class="form-item-value">
        <div class="checkbox">
          <label [for]="data.Id + 'locked'">
            <input
              type="checkbox"
              [id]="data.Id + 'locked'"
              [(ngModel)]="data.Locked"
              (change)="onchange()"
            />
            锁定商铺</label
          >
        </div>
        <div class="checkbox">
          <label [for]="data.Id + 'marking'">
            <input
              type="checkbox"
              [id]="data.Id + 'marking'"
              [(ngModel)]="data.Marking"
            />
            屏蔽商铺</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
