<div class="system-statistic-road-object-timeline-days root-router">
  <ng-container *ngFor="let day of days; let i = index">
    <div
      class="system-statistic-road-object-timeline-day"
      [style.width]="day.width + '%'"
    >
      <div class="system-statistic-road-object-timeline-day-label">
        {{ day.label }}
      </div>
      <div class="system-statistic-road-object-timeline-day-point-list">
        <div
          class="system-statistic-road-object-timeline-day-point-item"
          *ngFor="let item of day.points"
          [class.selected]="selected?.Id === item.id"
          [class.hover]="recordhover?.RoadObjectId == item.objectId"
          [title]="item.title"
          (mouseover)="on.mouseover(item)"
          (mouseout)="on.mouseout(item)"
          (click)="on.click(item)"
          [style.width]="
            day.points.length > 0 ? 100 / day.points.length + '%' : '100%'
          "
        >
          <div
            class="system-statistic-road-object-timeline-day-point-item-inner"
            [style.backgroundColor]="item.color"
          ></div>
          <div
            class="system-statistic-road-object-timeline-day-point-item-info"
            *ngIf="!!hover && hover.id === item.id"
          >
            <ias-system-statistic-road-object-map-info-simple
              [data]="hover.data"
              [anchor]="'top'"
            ></ias-system-statistic-road-object-map-info-simple>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
