.system-head {
  height: 108px;
  display: flex;
  justify-content: space-between;



  &-logo {
    width: 80%;
    height: 100%;
  }

  &-operation {
    width: 20%;
    height: 108px;


    &-settings {
      height: 74px;
    }

    &-breadcrumb {
      height: 34px;

      padding-right: 40px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
