<div class="system-module-shop-sign-table">
  <div class="system-module-shop-sign-table-body table-split">
    <div class="table-split-head">
      <table border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <thead>
          <tr>
            <th class="center">序号</th>
            <th>招牌名称</th>
            <th>类型</th>
            <th>机位</th>
            <th class="center">置信度</th>
            <th>时间</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-split-body">
      <table border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas; let index = index"
            (click)="onselect(item)"
            [ngClass]="{
              selected: item === selected
            }"
          >
            <td class="center">
              <div>{{ index + 1 }}</div>
            </td>
            <td [title]="item.Text">
              {{ item.Text }}
            </td>
            <td>{{ item.SignTypeName | async }}</td>
            <td>
              {{ item.CameraNo ?? "-" }}
            </td>
            <td class="center">
              {{ item.ConfidenceRatio }}
            </td>
            <td>
              {{ item.Time | date : Language.yyyyMMddHHmmss }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
