.system-index {
  width: 100%;
  height: 100%;
  background-image: url(../../../../../assets/image/main/main-bg.png);
  background-position: center;
  background-position-y: -54px;
  background-repeat: no-repeat;
  background-size: 70% 100%;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    position: relative;
    height: 100%;
    width: 100%;
  }


  &-button {
    position: absolute;
    background-image: url(../../../../../assets/image/main/main-button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    // scale(80%);

    &.task {
      left: 30%;
      top: 32.5%;
    }

    &.module {
      left: 70%;
      top: 32.5%;
    }

    &.map {
      left: 30%;
      top: 60%;
    }

    &.event {
      left: 70%;
      top: 60%;
    }

    &.statistic {
      display: none;
      left: 30%;
      top: 70%;
    }

    // &.task {
    //   left: 30%;
    //   top: 20%;
    // }

    // &.module {
    //   left: 70%;
    //   top: 32.5%;
    // }

    // &.map {
    //   left: 30%;
    //   top: 45%;
    // }

    // &.event {
    //   left: 70%;
    //   top: 57.5%;
    // }

    // &.statistic {
    //   left: 30%;
    //   top: 70%;
    // }
  }
}
