<div class="system-event-gps-task-manager">
  <div class="system-event-gps-task-manager-head">
    <div class="system-event-gps-task-manager-head-filter">
      <div class="forms">
        <div class="form-item">
          <div class="form-item-text">开始时间</div>
          <div class="form-item-value">
            <date-time-control
              [(date)]="table.args.duration.begin"
            ></date-time-control>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">结束时间</div>
          <div class="form-item-value">
            <date-time-control
              [(date)]="table.args.duration.end"
            ></date-time-control>
          </div>
        </div>
        <!-- <div class="form-item">
          <div class="form-item-text">任务类型</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.type">
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="item.Value" *ngFor="let item of source.types">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div> -->
        <div class="form-item">
          <div class="form-item-text">状态</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.confirmed">
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="false">未确认</option>
              <option [ngValue]="true">已确认</option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">是否报警</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.alarm">
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="false">否</option>
              <option [ngValue]="true">是</option>
            </select>
          </div>
        </div>

        <div class="form-item">
          <button class="button-clip-gradient" (click)="on.search()">
            查找
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="system-event-gps-task-manager-body">
    <ias-system-event-gps-task-table
      [args]="table.args"
      [load]="table.load"
      (video)="on.video.open($event)"
      (details)="on.details.open($event)"
      (picture)="on.picture.open($event)"
    ></ias-system-event-gps-task-table>
  </div>
  <ias-window
    [Model]="window.details"
    *ngIf="window.details.show"
    [style]="window.details.style"
    [title]="window.details.title"
  >
    <ias-system-event-gps-task-details-container
      [data]="window.details.data"
      (close)="window.details.show = false"
      (video)="on.video.open($event)"
      (picture)="on.picture.open($event)"
    ></ias-system-event-gps-task-details-container>
  </ias-window>
  <ias-window
    [Model]="window.picture"
    *ngIf="window.picture.show && window.picture.args"
    [style]="window.picture.style"
    [title]="window.picture.title"
  >
    <ias-picture-list
      [id]="window.picture.args.id"
      [polygon]="window.picture.args.polygon"
      [zoom]="window.picture.args.polygon.length > 0"
      [page]="window.picture.page"
      (pageChange)="on.picture.change($event)"
      [loop]="true"
    ></ias-picture-list>
  </ias-window>
  <ias-window
    [Model]="window.video"
    *ngIf="window.video.show"
    [style]="window.video.style"
    [title]="window.video.title"
  >
    <video
      autoplay="autoplay"
      controls
      [src]="window.video.src"
      (error)="on.video.error($event)"
    ></video>
  </ias-window>
</div>
