<div class="system-event-map-panel-record-table-shop">
  <div class="system-event-map-panel-record-table-shop-body table-page-list">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th class="center">#</th>
          <th>资源名称</th>
          <th>事件时间</th>
          <th>事件类型</th>
          <th>状态</th>
          <th class="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of datas; let index = index"
          [ngClass]="{
            selected: item && selected && item.Id === selected.Id,
            nodata: !item
          }"
          (click)="on.select(item)"
          (dblclick)="on.position($event, item)"
          (mouseover)="on.mouse.over(item)"
          (mouseout)="on.mouse.out(item)"
        >
          <td class="center">
            <span *ngIf="item">{{
              page.PageSize * (page.PageIndex - 1) + index + 1
            }}</span>
          </td>
          <td [title]="item?.Name ?? ''">
            {{ item?.Name }}
          </td>
          <td>
            {{ item?.EventTime | date : "HH:mm:ss" }}
          </td>
          <td [title]="(item?.EventTypeName | async) ?? ''">
            <span
              [ngStyle]="{
                color:
                  item?.EventType === EventType.ShopSignCreated
                    ? Color.green
                    : item?.EventType === EventType.ShopSignDisappeared
                    ? Color.red
                    : 'inherit'
              }"
            >
              {{ item?.EventTypeName | async }}
            </span>
          </td>
          <td>
            @if(item){ @if(!item.Assignment?.Handled){
            <span [style.color]="Color.orange">未处置</span>
            } @else{ @if(item.Assignment?.IsMisInfo){
            <span [style.color]="Color.cyan">误报</span>
            } @else{ <span [style.color]="Color.green">已处置</span> } } }
          </td>
          <td class="center">
            <div class="operation" *ngIf="!!item">
              <div
                class="button"
                title="定位"
                (click)="on.position($event, item)"
              >
                <i class="mdi mdi-map-marker"></i>
              </div>

              <div
                class="button"
                title="事件视频"
                (click)="on.video($event, item)"
              >
                <i class="mdi mdi-youtube-play"></i>
              </div>
              <div
                class="button"
                title="事件详情"
                (click)="on.details($event, item)"
              >
                <i class="howell-icon-details"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="system-event-map-panel-record-table-shop-foot"
    *ngIf="page.TotalRecordCount"
  >
    <paginator
      [page]="page"
      [jump]="false"
      [total]="false"
      (change)="on.page($event)"
    >
    </paginator>
  </div>
</div>
