<ias-window
  [Model]="Model"
  [style]="style"
  [title]="title"
  [CloseButton]="false"
>
  <div ngProjectAs="window-head-operation" class="window-head-operation">
    <div class="button" (click)="on.close()">
      <i class="howell-icon-Close"></i>
    </div>
  </div>
  <div class="system-module-shop-registration-map-manager">
    <ias-system-module-shop-registration-map
      [load]="map.load"
      [filter]="map.filter"
      [clean]="map.clean"
      [focus]="map.focus"
      [over]="map.over"
      [out]="map.out"
      [revoke]="map.revoke"
      [draggable]="map.draggable"
      [(changed)]="data.changed"
      (loaded)="on.map.loaded($event)"
      (selected)="on.map.selected($event)"
    ></ias-system-module-shop-registration-map>
    <div
      class="system-module-shop-registration-map-manager-search"
      *ngIf="panel.search.show"
    >
      <ias-system-map-search-shop-road
        (search)="on.map.search($event)"
      ></ias-system-map-search-shop-road>
    </div>
    <div
      class="system-module-shop-registration-map-manager-list"
      *ngIf="panel.list.show"
    >
      <ias-system-module-shop-registration-map-panel-shop-list
        [datas]="data.source"
        [selected]="data.selected"
        (selectedChange)="panel.list.select($event)"
        (position)="panel.list.position($event)"
        (details)="panel.list.details($event)"
        (itemhover)="panel.list.item.over($event)"
        (itemblur)="panel.list.item.out($event)"
        (edit)="on.information($event)"
        (close)="panel.list.show = false"
      ></ias-system-module-shop-registration-map-panel-shop-list>
    </div>
    <div
      class="system-module-shop-registration-map-manager-details"
      *ngIf="panel.details.show && data.selected"
    >
      <ias-system-map-panel-details-shop-registration
        [data]="data.selected"
        [locationable]="true"
        (close)="panel.details.show = false"
        (picture)="on.picture($event)"
      ></ias-system-map-panel-details-shop-registration>
    </div>

    <div
      class="system-module-shop-registration-map-manager-controls button-group"
    >
      <div class="panel-map button">
        <i class="mdi mdi-format-list-bulleted-type"></i>
      </div>
      <div
        class="panel-map button"
        title="筛选"
        (click)="panel.filter.show = true"
      >
        <i class="mdi mdi-filter-outline"></i>
      </div>
      <div
        class="panel-map button"
        title="商铺沿道路对齐"
        (click)="panel.location.trigger()"
      >
        <i class="mdi mdi-format-horizontal-align-center"></i>
      </div>
    </div>

    <!-- <div
      class="system-module-shop-registration-map-manager-buttons"
      *ngIf="false"
    >
      <div
        class="panel-map button"
        *ngIf="data.changed.length > 0"
        (click)="on.map.revoke()"
      >
        撤销
      </div>
      <div
        class="panel-map button"
        *ngIf="data.changed.length > 0"
        (click)="on.save()"
      >
        保存
      </div>
    </div> -->
    <div
      class="system-module-shop-registration-map-manager-history"
      *ngIf="map.draggable"
    >
      <ias-system-module-shop-registration-map-panel-changed-list
        [datas]="data.changed"
        [selected]="data.selected"
        (selectedChange)="panel.list.select($event)"
        (revoke)="panel.history.changed.revoke($event)"
        (position)="panel.list.position($event)"
        (itemhover)="panel.list.item.over($event)"
        (itemblur)="panel.list.item.out($event)"
        (cancel)="panel.history.changed.close()"
        (saved)="panel.history.changed.saved()"
      ></ias-system-module-shop-registration-map-panel-changed-list>
    </div>
    <div
      class="system-module-shop-registration-map-manager-filter"
      *ngIf="panel.filter.show"
    >
      <ias-system-module-shop-registration-map-panel-filter
        [data]="map.args"
        (close)="panel.filter.show = false"
        (ok)="on.filter($event)"
      ></ias-system-module-shop-registration-map-panel-filter>
    </div>

    <div
      class="system-module-shop-registration-map-manager-settings"
      *ngIf="panel.settings.show"
    >
      <ias-system-module-shop-registration-map-panel-settings
        [(draggable)]="map.draggable"
      ></ias-system-module-shop-registration-map-panel-settings>
    </div>
    <div
      class="system-module-shop-registration-map-manager-location"
      *ngIf="panel.location.show"
    >
      <ias-system-module-shop-registration-map-panel-location
        (ok)="panel.location.ok($event)"
        (close)="panel.location.close()"
      ></ias-system-module-shop-registration-map-panel-location>
    </div>
  </div>

  <confirm-window
    *ngIf="window.confirm.show"
    [model]="window.confirm"
    [content]="window.confirm.content"
    (ok)="confirm.ok()"
    (cancel)="window.confirm.show = false"
  >
  </confirm-window>
</ias-window>
