<div class="system-task-shop-registration-details-info forms" *ngIf="data">
  <div class="form-item">
    <div class="form-item-text">商铺名称:</div>
    <div class="form-item-value">{{ data.Name }}</div>
  </div>
  <div class="form-item">
    <div class="form-item-text">商铺子名称:</div>
    <div class="form-item-value">
      @if(data.Subnames && data.Subnames.length > 0){
      <span *ngFor="let item of data.Subnames">{{ item }}</span>
      } @else{
      <span>-</span>
      }
    </div>
  </div>
  <div class="form-item">
    <div class="form-item-text">联系方式:</div>
    <div class="form-item-value">{{ data.Telphone ?? "-" }}</div>
  </div>
  <div class="form-item">
    <div class="form-item-text">所在道路:</div>
    <div class="form-item-value">{{ data.RoadName ?? "-" }}</div>
  </div>
  <div class="form-item">
    <div class="form-item-text">商铺地址:</div>
    <div class="form-item-value">{{ data.Address ?? "-" }}</div>
  </div>
  <div class="form-item">
    <div class="form-item-text">商铺关联数量:</div>
    <div class="form-item-value">{{ data.AssociatedCount ?? "-" }}</div>
  </div>
</div>
