.system-event-process-sign-disconver {
  &-body {
    &-shop {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;


      &-head {
        font-size: 20px;
        color: white;
      }

      &-picture {
        width: 100%;
        aspect-ratio: 16 / 8;
        width: 100%;
        padding: 0;

        &-body {
          height: calc(100% - 30px);
          width: 100%;
        }

        &-foot {
          width: 100%;
          height: 30px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 0 15px;
          box-sizing: border-box;
          position: relative;



          .subname {
            display: flex;
            align-items: center;
            gap: 10px;

            &-item {
              background-color: #194076;
              padding: 2px 5px;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .button-group {
            margin-right: 15px;
          }

        }
      }

      &-table {
        width: 100%;
        flex-grow: 1;
        overflow-y: hidden;
      }

      &-filter {
        position: absolute;
        right: 10px;
        bottom: calc(10px + 32px + 1px + 1px);
      }
    }
  }
}
