.system-event-process-sign-disconver {
  &-body {

    &-record {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-head {
        font-size: 20px;
        color: white;
      }

      &-picture {
        width: 100%;
        aspect-ratio: 16 / 8;
        width: 100%;
        padding: 0;

        &-body {
          height: calc(100% - 30px);
          width: 100%;
        }

        &-foot {
          width: 100%;
          height: 30px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 15px;
          box-sizing: border-box;
          position: relative;

          &-page {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }




        }
      }

      &-content {
        flex-grow: 1;
        width: 100%;
        display: flex;
        gap: 10px;

        &-info {
          width: calc((100% - 10px) / 2);
          height: auto !important;
          flex-grow: 1;

          box-sizing: border-box;

          &.red {
            border: 1px solid #914319;
          }

          &.green {
            border: 1px solid #288f32;
          }
        }

        &-map {
          width: calc((100% - 10px) / 2);
          height: auto !important;
          flex-grow: 1;
        }
      }

    }
  }
}
