<div class="system-task-shop-analysis-manager">
  <div class="system-task-shop-analysis-manager-head">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">商铺名称</div>
        <div class="form-item-value">
          <input type="text" [(ngModel)]="table.args.name" />
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">所在道路</div>
        <div class="form-item-value">
          <select [(ngModel)]="table.args.road.on">
            <option [ngValue]="undefined">全部</option>
            <option *ngFor="let item of source.road.on" [ngValue]="item.Id">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">门面道路</div>
        <div class="form-item-value">
          <select [(ngModel)]="table.args.road.ori">
            <option [ngValue]="undefined">全部</option>
            <option *ngFor="let item of source.road.ori" [ngValue]="item.Id">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-item">
        <div class="form-item-text">状态</div>
        <div class="form-item-value">
          <select [(ngModel)]="table.args.status">
            <option [ngValue]="undefined">全部</option>
            <option *ngFor="let item of source.status" [ngValue]="item">
              {{ Language.ShopStatisticStatus(item) }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item submit">
        <button class="button-clip-gradient" (click)="on.search()">查找</button>
      </div>
    </div>
  </div>
  <div class="system-task-shop-analysis-manager-body">
    <div class="system-task-shop-analysis-manager-table">
      <ias-system-task-shop-analysis-table
        *ngIf="table.args.taskId"
        [args]="table.args"
        [load]="table.load"
        [(selected)]="table.selected"
        (video)="on.video($event)"
        (loaded)="table.loaded($event)"
      ></ias-system-task-shop-analysis-table>
    </div>
    <div class="system-task-shop-analysis-manager-details">
      <ias-system-task-shop-analysis-details
        [task]="data"
        [shop]="table.selected?.shop"
        [registration]="table.selected?.registration"
      ></ias-system-task-shop-analysis-details>
    </div>
  </div>
</div>
