<div class="system-module-road-info">
  <div class="forms">
    <div class="form-item single">
      <div class="form-item-text" text-space-between>路段名称</div>
      <div class="form-item-value">
        <input type="text" [(ngModel)]="data.Name" (change)="on.change()" />
      </div>
    </div>
    <div class="form-item single">
      <div class="form-item-text" text-space-between>屏蔽半径</div>
      <div class="form-item-value">
        <input
          type="number"
          min="0"
          max="100"
          step="1"
          [(ngModel)]="data.Raduis"
          (change)="on.change()"
        />
      </div>
    </div>
    <div class="form-item single">
      <div class="form-item-text" text-space-between>路段类型</div>
      <div class="form-item-value fill">
        <hw-select [(selected)]="data.SectionType" [nullable]="false">
          <select [(ngModel)]="data.SectionType" (change)="on.type()">
            <option [ngValue]="item.Value" *ngFor="let item of source.sections">
              {{ item.Name }}
            </option>
          </select>
        </hw-select>
      </div>
    </div>
    <div class="form-item single">
      <div
        class="form-item-text"
        text-space-between
        [class.disabled]="data.SectionType != 1"
      >
        事件类型
      </div>
      <div class="form-item-value fill">
        <howell-select-multiple
          [disabled]="data.SectionType != 1"
          [datas]="source.events"
          [selecteds]="event.selected"
          (selectedsChange)="event.change($event)"
          [searchable]="false"
        ></howell-select-multiple>
      </div>
    </div>
    <div class="form-item full">
      <div class="form-item-text baseline textarea" text-space-between>
        描述
      </div>
      <div class="form-item-value">
        <textarea
          [(ngModel)]="data.Description"
          (change)="on.change()"
        ></textarea>
      </div>
    </div>
  </div>
</div>
