<div class="system-module-mobile-device-route-chart-container">
  <div class="system-module-mobile-device-route-chart-container-item panel">
    <howell-system-module-mobile-device-route-chart
      *ngIf="loaded"
      [datas]="datas"
      [args]="args"
      [statistictype]="RouteStatisticType.Meter"
    ></howell-system-module-mobile-device-route-chart>
  </div>
  <div class="system-module-mobile-device-route-chart-container-item panel">
    <howell-system-module-mobile-device-route-chart
      *ngIf="loaded"
      [datas]="datas"
      [args]="args"
      [statistictype]="RouteStatisticType.Speed"
    ></howell-system-module-mobile-device-route-chart>
  </div>

  <div class="system-module-mobile-device-route-chart-container-item panel">
    <howell-system-module-mobile-device-route-chart
      *ngIf="loaded"
      [datas]="datas"
      [args]="args"
      [statistictype]="RouteStatisticType.Time"
    ></howell-system-module-mobile-device-route-chart>
  </div>

  <div class="loading" *ngIf="loading"></div>
</div>
