<div class="system-map root-router">
  <div class="system-map-container" id="map-container"></div>
  <div class="system-map-search" *ngIf="panel.search.show">
    <ias-system-map-search
      [(name)]="args.name"
      (search)="onsearch($event)"
    ></ias-system-map-search>
  </div>
  <div class="system-map-statistic" *ngIf="panel.statistic.show">
    <ias-system-map-statistic
      [shop]="panel.statistic.count.shop"
    ></ias-system-map-statistic>
  </div>

  <div class="system-map-controls" *ngIf="panel.controls.show">
    <ias-system-map-controls
      [(source)]="this.panel.source.show"
      [(distance)]="this.panel.editor.circle.show"
      [(filter)]="this.panel.filter.show"
      [(task)]="this.panel.task.show"
    ></ias-system-map-controls>
  </div>
  <div class="system-map-state" *ngIf="panel.state.show">
    <ias-system-map-state [datas]="shops"></ias-system-map-state>
  </div>
  <div
    class="system-map-editor-circle"
    *ngIf="panel.editor.circle.show && args.distance.enabled"
  >
    <ias-system-map-editor-circle
      [args]="args.distance"
      (distance)="panel.editor.circle.ondistance($event)"
      (ok)="panel.editor.circle.onok($event)"
      (close)="panel.editor.circle.oncancel()"
    ></ias-system-map-editor-circle>
  </div>
  <div
    class="system-map-filter-getting"
    *ngIf="panel.filter.getting.show && args.distance.enabled"
  >
    <ias-system-map-editor-circle
      [args]="args.distance"
      (distance)="panel.filter.getting.ondistance($event)"
      (ok)="panel.filter.getting.onok($event)"
      (close)="panel.filter.getting.oncancel()"
    ></ias-system-map-editor-circle>
  </div>
  <div class="system-map-position" *ngIf="panel.position.show">
    <div>{{ panel.position.point.X }}</div>
    <div class="_">,</div>
    <div>{{ panel.position.point.Y }}</div>
  </div>
  <div class="panel-map-border system-map-source" *ngIf="panel.source.show">
    <!-- <ias-system-map-source-table
      [datas]="datas"
      (details)="panel.source.ondetails($event)"
      (itemhover)="panel.source.onmouseover($event)"
      (itemblur)="panel.source.onmouseout($event)"
      (selectedChange)="panel.source.onselect($event)"
      (position)="panel.source.onposition($event)"
    ></ias-system-map-source-table> -->

    <ias-system-map-source-manager
      [shops]="shops"
      [roads]="roads"
      [(type)]="type"
      (details)="panel.source.shop.ondetails($event)"
      (itemhover)="panel.source.shop.onmouseover($event)"
      (itemblur)="panel.source.shop.onmouseout($event)"
      (selectedChange)="panel.source.onselect($event)"
      (position)="panel.source.onposition($event)"
    ></ias-system-map-source-manager>
  </div>
  <div class="panel-map-border system-map-task" *ngIf="panel.task.show">
    <ias-system-map-task-manager
      [(selecteds)]="panel.task.selecteds"
      [shops]="shops"
      (compare)="panel.task.oncompare()"
      (close)="panel.task.onclose()"
    ></ias-system-map-task-manager>
  </div>

  <div
    class="system-map-details-shop"
    [ngClass]="{
      source: panel.source.show || panel.task.show
    }"
    *ngIf="panel.details.shop.show"
  >
    <ias-system-map-panel-details-shop
      [data]="panel.details.shop.data"
      (close)="panel.details.shop.show = false"
      (picture)="onpicture($event)"
    ></ias-system-map-panel-details-shop>
  </div>
  <div class="system-map-filter" *ngIf="panel.filter.show">
    <ias-system-map-filter
      [(filter)]="args.shop"
      [(distance)]="args.distance"
      (search)="panel.filter.onsearch()"
      (close)="panel.filter.show = false"
      (mapdistance)="panel.filter.ondistance()"
    ></ias-system-map-filter>
  </div>

  <app-window
    *ngIf="window.picture.show"
    [Model]="window.picture"
    [style]="window.picture.style"
  >
    <ias-picture-window-content
      [url]="window.picture.id"
      [title]="window.picture.title"
      [polygon]="window.picture.polygon"
      [zoom]="false"
    ></ias-picture-window-content>
  </app-window>
</div>
