@import "./less/system-map-panel.less";

.system-map {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  cursor: default;
  display: block;



  &-container {
    width: 100%;
    height: 100%;
  }
}
