<div class="system-map">
  <div class="system-map-container" id="map-container"></div>

  <div class="system-map-controls">
    <ias-system-map-controls
      (source)="control.onsource()"
      (radius)="control.onradius()"
    ></ias-system-map-controls>
  </div>
  <div class="system-map-state" *ngIf="panel.state.show">
    <ias-system-map-state></ias-system-map-state>
  </div>
  <div class="system-map-editor-circle" *ngIf="panel.editor.circle.show">
    <ias-system-map-editor-circle
      [args]="args.radius"
      (distance)="panel.editor.circle.ondistance($event)"
      (ok)="panel.editor.circle.onok($event)"
      (close)="panel.editor.circle.oncancel()"
    ></ias-system-map-editor-circle>
  </div>
  <div class="system-map-position" *ngIf="panel.position.show">
    <div>{{ panel.position.point.X }}</div>
    <div class="_">,</div>
    <div>{{ panel.position.point.Y }}</div>
  </div>
  <div class="system-map-source" *ngIf="panel.source.show">
    <ias-system-map-source-manager
      [datas]="datas"
      [args]="args.filter"
      (argsChange)="panel.source.onfilter($event)"
      (details)="panel.source.ondetails($event)"
      (itemhover)="panel.source.onmouseover($event)"
      (itemblur)="panel.source.onmouseout($event)"
    ></ias-system-map-source-manager>
  </div>

  <div class="system-map-details-shop" *ngIf="panel.details.shop.show">
    <ias-system-map-panel-details-shop
      [data]="panel.details.shop.data"
      (close)="panel.details.shop.show = false"
    ></ias-system-map-panel-details-shop>
  </div>
</div>
