<div class="system-map-statistic">
  <div class="system-map-statistic-item">
    <div class="system-map-statistic-item-icon">
      <div [class]="'system-map-statistic-item-icon-' + type"></div>
    </div>
    <div class="system-map-statistic-item-content">
      <div
        class="system-map-statistic-item-content-title"
        [ngClass]="{
        green:color == 'green',
        blue:color == 'blue',
        orange:color == 'orange',
      }"
        [style.color]="!colorclass.includes(color) ? color : ''"
      >
        {{ title }}
      </div>
      <div class="system-map-statistic-item-content-value">
        {{ value }}
      </div>
    </div>
  </div>
</div>
