<div class="system-module-shop-registration-table">
  <div class="system-module-shop-registration-table-body table-page">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      TableSorter
      (sort)="onsort($event)"
    >
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th class="center">
            <input
              type="checkbox"
              [checked]="
                selecteds.length > 0 && selecteds.length === page.RecordCount
              "
              (click)="select.all()"
            />
          </th>
          <th class="center">序号</th>
          <th>照片</th>
          <th sort="Name">名称</th>
          <th sort="Address">地址</th>
          <th sort="RoadName">所在道路</th>
          <th sort="Telphone">门面道路</th>
          <th sort="AssociatedCount">关联商铺数量</th>
          <th class="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of datas; let index = index"
          (click)="select.on(item)"
          [ngClass]="{
            selected: item && selecteds.includes(item),
            nodata: !item
          }"
          [ngStyle]="{
            height: item ? 100 / page.PageSize + '%' : 0
          }"
        >
          <td class="center">
            <input
              type="checkbox"
              *ngIf="item"
              [checked]="selecteds.includes(item)"
            />
          </td>
          <td class="center">
            <div *ngIf="item">
              {{ page.PageSize * (page.PageIndex - 1) + index + 1 }}
            </div>
          </td>

          <td>
            <div [ngClass]="{ noimage: !item }" *ngIf="item?.Image">
              <div
                class="image"
                [ngStyle]="{
                  backgroundImage: item?.Image
                    ? 'url(' + item?.Image + ')'
                    : 'none'
                }"
                (click)="onpicture($event, index, item)"
              ></div>
            </div>
          </td>

          <td [title]="item?.Name">
            {{ item?.Name }}
          </td>
          <td [title]="item?.Address ?? ''">
            {{ item?.Address }}
          </td>
          <td [title]="item?.RoadName ?? ''">
            {{ item?.RoadName }}
          </td>
          <td [title]="item?.OriRoadName ?? ''">
            {{ item?.OriRoadName }}
          </td>
          <td>
            {{ item?.AssociatedCount }}
          </td>

          <td class="center">
            <div class="operation" *ngIf="item">
              <div
                class="button"
                title="商铺详细信息"
                (click)="oninfo(item, $event)"
              >
                <i class="howell-icon-details"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="system-module-shop-registration-table-foot"
    *ngIf="page.TotalRecordCount"
  >
    <paginator [page]="page" (change)="onpage($event)"> </paginator>
  </div>
</div>
