<div class="system-event-process-shop-filter root-router">
  <div class="system-event-process-shop-filter-head">筛选</div>
  <div class="system-event-process-shop-filter-body">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">商铺名称</div>
        <div class="form-item-value">
          <input type="text" [(ngModel)]="args.name" />
        </div>
      </div>

      <div class="form-item">
        <div class="form-item-text">距离范围</div>
        <div class="form-item-value">
          <input
            type="number"
            wheel-input-number
            [min]="1"
            [step]="1"
            [(ngModel)]="args.distance"
          />
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">道路名称</div>
        <div class="form-item-value">
          <select [(ngModel)]="args.road">
            <option [ngValue]="undefined">全部</option>
            <option [ngValue]="road.Id" *ngFor="let road of roads">
              {{ road.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">关联商铺</div>
        <div class="form-item-value">
          <select [(ngModel)]="args.associated">
            <option [ngValue]="undefined">全部</option>
            <option [ngValue]="true">已关联</option>
            <!-- <option [ngValue]="false">未关联</option> -->
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="system-event-process-shop-filter-foot button-group">
    <button class="button-clip-gradient" (click)="on.ok()">确认</button>
    <button class="button-clip-blue" (click)="on.close()">取消</button>
  </div>
</div>
