.system-event-process-handled {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;

  .form {
    &s {
      width: calc((100% - 10px) * 0.5);
      flex-direction: column;
    }

    &-item {
      &-text {
        width: 101px;
      }

      &-value {
        width: calc(100% - 101px - 15px);
      }
    }

  }
}
