.system-task-result-table-manager {
  &-foot {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #2d76ce;
    border-top: none;
    background: linear-gradient(to top, rgba(30, 144, 255, 0.2) 0%, rgba(30, 144, 255, 0) 100%);
    box-sizing: border-box;
    padding: 0 10px;

    &-switch {
      display: flex;
      align-items: center;

      .switch {
        height: 80%;
      }

    }

    &-filter {
      width: 300px;
      gap: 5px;

      .form-item {
        gap: 5px;

        &-value {
          display: flex;
          align-items: center;
          gap: 5px;

          select {
            padding-left: 5px;
            padding-right: 20px;
            background-position: right 5px center;
          }

          input[type="range"] {
            width: 75px;
          }

          input[type="text"] {
            padding: 0;
            width: 36px;
            height: 25px;
            text-align: center;

          }
        }
      }
    }
  }
}
