.table-sticky-list {
  table {
    tbody {
      tr {
        td {
          .operation {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #cfd7ff;
            cursor: pointer;

            &>* {
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

}
