<div class="system-statistic-index root-router">
  <div class="system-statistic-index-body">
    <div class="system-statistic-index-body-list">
      <div
        class="system-statistic-index-body-list-item"
        (click)="on.road_object()"
      >
        <div
          class="system-statistic-index-body-list-item-icon road-object"
        ></div>
        <div class="system-statistic-index-body-list-item-name">
          道路部件巡检统计<br />日报表
        </div>
      </div>
    </div>
  </div>
</div>
