<div
  class="system-module-patrol-section-manager"
  [style.padding]="iswindow ? 0 : undefined"
>
  <div class="system-module-patrol-section-manager-head">
    <div class="forms stretch">
      <div class="form-item stretch-grow">
        <div class="form-item-text">路段名称:</div>
        <div class="form-item-value">
          <input type="text" [(ngModel)]="table.args.name" />
        </div>
      </div>

      <div class="form-item submit">
        <button class="button-clip-gradient" (click)="table.on.search()">
          查找
        </button>
      </div>
    </div>
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">选择日期:</div>
        <div class="form-item-value">
          <date-time-control
            [zindex]="iswindow ? 9000 : 10"
            [(date)]="manager.data.date"
            (dateChange)="manager.on.date()"
          ></date-time-control>
        </div>
      </div>

      <div class="form-item">
        <div class="form-item-text">{{ Language.DeviceName }}:</div>
        <div class="form-item-value fill">
          <hw-select [(selected)]="map.args.deviceId" [nullable]="false">
            <select [(ngModel)]="map.args.deviceId">
              <option
                [ngValue]="item.Id"
                *ngFor="let item of source.devices | async"
              >
                {{ item.Name }}
              </option>
            </select>
          </hw-select>
        </div>
      </div>
      <div class="form-item submit">
        <button
          class="button-clip-gradient"
          [disabled]="!map.args.deviceId"
          (click)="map.on.load()"
        >
          加载
        </button>
        <button
          class="button-clip-gradient"
          [disabled]="!(map.args.deviceId && map.loaded)"
          (click)="map.on.clear()"
        >
          清除
        </button>
      </div>
    </div>
  </div>
  <div class="system-module-patrol-section-manager-body">
    <div class="system-module-patrol-section-manager-body-table">
      <ias-system-module-patrol-section-table
        [args]="table.args"
        [load]="table.load"
        (loaded)="table.on.loaded($event)"
        [(selected)]="manager.data.section.selected"
        [(hover)]="manager.data.section.hover"
      ></ias-system-module-patrol-section-table>
    </div>

    <div class="system-module-patrol-section-manager-body-map panel">
      <ias-system-module-patrol-section-map
        [sections]="manager.data.section.datas"
        [sectionselected]="manager.data.section.selected"
        [sectionhover]="manager.data.section.hover"
        [load]="map.load"
        [rectified]="map.rectified"
        (sectionpickup)="map.on.pick.up($event)"
        (sectioncancel)="map.on.pick.cancel()"
      ></ias-system-module-patrol-section-map>
      <div
        class="system-module-patrol-section-manager-body-info"
        *ngIf="controller.info.show"
      >
        <ias-system-module-patrol-section-info
          [(data)]="controller.info.data"
        ></ias-system-module-patrol-section-info>
      </div>
    </div>
  </div>
</div>
