<div
  class="system-module-shop-registration-information-subname-input root-router"
>
  <div class="system-module-shop-registration-information-subname-input-body">
    <div class="forms">
      <div class="form-item full">
        <div class="form-item-text">子名称</div>
        <div class="form-item-value">
          <input type="text" [(ngModel)]="value" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="system-module-shop-registration-information-subname-input-foot button-group"
  >
    <button class="button-clip-gradient" (click)="onok()">添加</button>
    <button class="button-clip-blue" (click)="oncancel()">取消</button>
  </div>
</div>
