.system-module-shop-registration-information-subname-input {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-body {
    flex-grow: 1;
  }

  &-foot {
    height: 36px;
    display: flex;
    justify-content: flex-end;
  }
}
