@font-face {
  font-family: "Alibaba_PuHuiTi_55_Regular";
  src: url("Alibaba_PuHuiTi_2.0_55_Regular_55_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "guangliangjiu-ganbeiti";
  src: url("guangliangjiu-ganbeiti.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
