<div class="system-task-index">
  <div class="system-task-index-body">
    <div class="system-task-index-body-list">
      <div
        class="system-task-index-body-list-item"
        (click)="on.shop()"
        *ngIf="display.shop"
      >
        <div
          class="system-task-index-body-list-item-icon"
          [style.background-image]="
            'url(' + Path.image.system.module.shop + ')'
          "
        ></div>
        <div class="system-task-index-body-list-item-name">商铺任务</div>
      </div>
      <div
        class="system-task-index-body-list-item"
        (click)="on.gps()"
        *ngIf="display.gps"
      >
        <div
          class="system-task-index-body-list-item-icon"
          [style.background-image]="'url(' + Path.image.system.module.gps + ')'"
        ></div>
        <div class="system-task-index-body-list-item-name">定制场景</div>
      </div>
      <div
        class="system-task-index-body-list-item"
        (click)="on.road_object()"
        *ngIf="display.gps"
      >
        <div
          class="system-task-index-body-list-item-icon"
          [style.background-image]="
            'url(' + Path.image.system.module.road_object + ')'
          "
        ></div>
        <div class="system-task-index-body-list-item-name">道路部件</div>
      </div>
    </div>
  </div>
</div>
