<div class="system-event-handle-relate">
  <div class="system-event-handle-relate-body">
    <div class="system-event-handle-relate-body-info">
      <div class="panel system-event-handle-relate-body-info-analysis">
        <div class="panel-title">{{ data?.Name ?? "分析商铺" }}</div>
        <div class="panel-body">
          <ias-picture [id]="data?.ImageUrl"></ias-picture>
        </div>
      </div>
      <div class="panel system-event-handle-relate-body-info-registration">
        <div class="panel-title">{{ selected?.Name ?? "注册商铺" }}</div>
        <div class="panel-body">
          <ias-picture *ngIf="selected" [id]="selected.ImageUrl"></ias-picture>
          <div *ngIf="!selected" class="nodata">请选择</div>
        </div>
      </div>
    </div>

    <div class="panel system-event-handle-relate-body-table">
      <ias-system-event-handle-relate-manager
        [(selected)]="selected"
        [location]="data?.Location"
      ></ias-system-event-handle-relate-manager>
    </div>
    <div class="panel system-event-handle-relate-body-map">
      <ias-map
        [location]="data?.Location"
        [points]="selected && selected.Location ? [selected.Location] : []"
        [marker]="map.marker"
      ></ias-map>
    </div>
  </div>
  <div class="system-event-handle-relate-foot button-group">
    <button
      class="button-clip-gradient"
      [disabled]="!selected"
      (click)="onok()"
    >
      确定
    </button>
    <button class="button-clip-blue" (click)="oncancel()">取消</button>
  </div>
</div>
