<div class="system-event-process-shop-table">
  <div class="system-event-process-shop-table-body table-split">
    <div class="table-split-head">
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        TableSorter
        (sort)="on.sort($event)"
      >
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <thead>
          <tr>
            <th class="center"></th>
            <th class="center">#</th>
            <th sort="Name">商铺名称</th>
            <th sort="GPSDistance">距离(米)</th>
            <th sort="OriRoadName">门面道路</th>
            <th sort="AssociatedCount">关联商铺</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-split-body" #body>
      <table border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas; let index = index"
            [ngClass]="{
              selected: selected == item,
            }"
            (click)="on.select(item)"
          >
            <td class="center">
              <div *ngIf="table.processed(item)" title="已合并">
                <i class="mdi mdi-link-variant"></i>
              </div>
            </td>
            <td class="center">
              {{ index + 1 }}
            </td>
            <td [title]="table.title(item)">
              {{ item.Name }}
            </td>

            <td>
              {{ item.GPSDistance }}
            </td>
            <td>
              {{ item.OriRoadName }}
            </td>
            <td>
              {{ item.AssociatedCount ? "已关联" : "未关联" }}
            </td>
            <td>
              <div class="operation">
                <button class="button" (click)="on.edit(item)">
                  <i class="howell-icon-edit"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
