<div class="system-event-process-shop-name">
  <div class="system-event-process-shop-name-body">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text"></div>
        <div class="form-item-value"></div>
      </div>
    </div>
  </div>
  <div class="system-event-process-shop-name-foot">
    <div class="button-group">
      <button (click)="on.ok()">
        <i class="howell-icon-garbage2"></i> 创建
      </button>
      <button (click)="on.cancel()">
        <i class="mdi mdi-filter-outline"></i> 筛选
      </button>
    </div>
  </div>
</div>
