<div class="system-module-index">
  <div class="system-module-index-body">
    <div class="system-module-index-body-list">
      <div class="system-module-index-body-list-item" (click)="onshop()">
        <div class="system-module-index-body-list-item-icon shop"></div>
        <div class="system-module-index-body-list-item-name">商铺</div>
      </div>
      <div class="system-module-index-body-list-item" (click)="onroad()">
        <div class="system-module-index-body-list-item-icon road"></div>
        <div class="system-module-index-body-list-item-name">道路</div>
      </div>
    </div>
  </div>
</div>
