.system-module-index {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  padding: 12px 25px;

  &-body {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    &-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;

      &-item {
        cursor: pointer;
        width: calc((100% - 20px * 2) / 3);
        aspect-ratio: 605/277;
        background-image: url("../../../../../../assets/image/system/module/system-module-background.png");
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 15px;
        padding-left: 20px;
        box-sizing: border-box;
        transition: all 0.75s;

        &:hover {
          background-image: url("../../../../../../assets/image/system/module/system-module-background-hover.png");
          color: white;
        }

        &-icon {
          height: 100%;
          aspect-ratio: 224/266;


          &.shop {
            background-image: url("../../../../../../assets/image/system/module/system-module-icon-shop.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }

          &.road {
            background-image: url("../../../../../../assets/image/system/module/system-module-icon-road.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }

        }

        &-name {
          font-size: 40px;
          width: 60%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
