<div class="system-module-index root-router">
  <div class="system-module-index-body">
    <div class="system-module-index-body-list">
      <div class="system-module-index-body-list-item" (click)="oncompare()">
        <div class="system-module-index-body-list-item-icon shop"></div>
        <div class="system-module-index-body-list-item-name">商铺</div>
      </div>
      <div class="system-module-index-body-list-item" (click)="onshop()">
        <div class="system-module-index-body-list-item-icon shop"></div>
        <div class="system-module-index-body-list-item-name">分析商铺</div>
      </div>

      <div
        class="system-module-index-body-list-item"
        (click)="onregistration()"
      >
        <div class="system-module-index-body-list-item-icon shop"></div>
        <div class="system-module-index-body-list-item-name">注册商铺</div>
      </div>
      <div class="system-module-index-body-list-item" (click)="onroad()">
        <div class="system-module-index-body-list-item-icon road"></div>
        <div class="system-module-index-body-list-item-name">道路</div>
      </div>
      <div class="system-module-index-body-list-item" (click)="ongpstask()">
        <div class="system-module-index-body-list-item-icon gps"></div>
        <div class="system-module-index-body-list-item-name">定制场景</div>
      </div>
    </div>
  </div>
</div>
