.system-module-shop-details {
  width: 100%;
  height: 100%;
  transition: all 0.5s;

  @head-height: 60px;
  @foot-height: 36px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-head {
    width: 100%;
    height: @head-height;
  }

  &-body {
    width: 100%;
    height: calc(100% - @head-height - 15px);

    display: flex;
    justify-content: space-between;
    gap: 10px;

    @body-width: calc(100% - 10px * 2);

    &.change {
      height: calc(100% - @head-height - @foot-height - 15px * 2);
    }

    &-table {
      width: calc(@body-width * 0.4);
    }

    &-info {
      width: calc(@body-width * 0.35);

      &.create {
        width: calc((100% - 10px) * 0.6)
      }
    }

    &-map {
      width: calc(@body-width * 0.25);

      &.create {
        width: calc((100% - 10px) * 0.4)
      }
    }





  }

  &-foot {
    width: 100%;
    height: @foot-height;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
