<div class="system-module-shop-details">
  <div class="system-module-shop-details-body" [ngClass]="{ change: change }">
    <div class="system-module-shop-details-body-table" *ngIf="data">
      <ias-system-module-shop-sign-table
        [data]="shop"
        [(selected)]="sign"
        (error)="onerror($event)"
      >
      </ias-system-module-shop-sign-table>
    </div>
    <div
      class="system-module-shop-details-body-info panel"
      [ngClass]="{
        create: !data
      }"
    >
      <ias-system-module-shop-details-info
        [data]="shop"
        [sign]="sign"
        (picture)="onpicture($event)"
      ></ias-system-module-shop-details-info>
    </div>
    <div
      class="system-module-shop-details-body-map panel"
      [ngClass]="{
        create: !data
      }"
    >
      <ias-system-module-shop-details-map
        [data]="shop.Location"
        (dataChange)="onposition($event)"
      ></ias-system-module-shop-details-map>
    </div>
  </div>
  <div class="system-module-shop-details-foot" *ngIf="change">
    <button class="button-clip-gradient" (click)="onok()">确定</button>
    <button class="button-clip-blue" (click)="oncancel()">取消</button>
  </div>

  <ias-window
    *ngIf="window.picture.show"
    [Model]="window.picture"
    [style]="window.picture.style"
    [title]="window.picture.title"
  >
    <ias-picture-polygon-zoom
      [id]="window.picture.id"
      [polygon]="window.picture.polygon"
      [zoom]="window.picture.polygon.length > 0"
    ></ias-picture-polygon-zoom>
  </ias-window>
</div>
