@padding-x: 20px;
@padding-y: 20px;
@map-bottom: 20px;
@map-left: 20px;
@map-right: 20px;
@map-top: 20px;
@control-height: 50px;
@map-source-width: 440px;
@map-filter-height: 66px;
@map-state-width: 200px;
@map-details-width: 440px;
