.management-network-location-tcpip {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-body {
    width: 550px;

    .forms {
      flex-direction: column;

      .form-item {
        height: 36px;

        &-text {
          width: 150px;
        }
      }
    }
  }

  &-foot {
    height: 36px;
  }
}
