.system-module-shop-compare-table-existed {
  height: 100%;
  width: 100%;
  transition: all 0.5s;

  @foot-height: 60px;

  &-body {
    height: calc(100% - @foot-height);
  }

  &-foot {
    height: @foot-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
