.ias-map {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  position: relative;



  .system-map-container {
    width: 100%;
    height: 100%;
  }

  .nodata {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
