<div class="system-module-shop-compare-details">
  <div class="system-module-shop-compare-details-body">
    <div class="panel">
      <div class="panel-head">
        <div class="panel-title">商铺信息</div>
      </div>
      <div class="panel-body">
        <ias-system-module-shop-compare-details-shop
          [data]="shop"
          (picture)="onpicture($event)"
        ></ias-system-module-shop-compare-details-shop>
      </div>
    </div>
    <div class="panel">
      <div class="panel-head">
        <div class="panel-title">注册商铺信息</div>
      </div>
      <div class="panel-body">
        <ias-system-module-shop-compare-details-shop-registration
          [data]="registration"
          (picture)="onpicture($event)"
        >
        </ias-system-module-shop-compare-details-shop-registration>
      </div>
    </div>
  </div>
  <div class="system-module-shop-compare-details-foot">
    <ias-list-page [page]="page" (change)="onpage($event)"></ias-list-page>
  </div>
</div>
