<div class="system-module-shop-compare-details">
  <div class="system-module-shop-compare-details-body">
    <div class="panel">
      <div class="panel-head">
        <div class="panel-title">商铺信息</div>
      </div>
      <div class="panel-body">
        <ias-system-module-shop-compare-details-shop
          [data]="shop"
          (picture)="onpicture($event)"
        ></ias-system-module-shop-compare-details-shop>
      </div>
    </div>
    <div class="panel">
      <div class="panel-head">
        <div class="panel-title">注册商铺信息</div>
      </div>
      <div class="panel-body">
        <ias-system-module-shop-compare-details-shop-registration
          [data]="registration"
          (picture)="onpicture($event)"
        >
        </ias-system-module-shop-compare-details-shop-registration>
      </div>
    </div>
  </div>
  <div class="system-module-shop-compare-details-foot">
    <div>
      <div
        class="button left"
        [ngClass]="{
          disabled: !page || page.PageIndex == 1
        }"
        (click)="onprev()"
      >
        <i class="howell-icon-arrow2left"></i>
      </div>
    </div>
    <div class="page" *ngIf="page">
      <div>{{ page.PageIndex }}</div>
      <div>/</div>
      <div>{{ page.PageCount }}</div>
    </div>
    <div>
      <div
        class="button right"
        [ngClass]="{
          disabled: !page || page.PageIndex == page.PageCount
        }"
        (click)="onnext()"
      >
        <i class="howell-icon-arrow2right"></i>
      </div>
    </div>
  </div>
</div>
