<div
  class="system-module-road-manager"
  [style.padding]="iswindow ? 0 : undefined"
>
  <div class="system-module-road-manager-head">
    <div class="system-module-road-manager-head-filter">
      <div class="forms">
        <div class="form-item">
          <div class="form-item-text">道路名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="table.args.name" />
          </div>
        </div>
        <div class="form-item">
          <button class="button-clip-gradient" (click)="onsearch()">
            查找
          </button>
        </div>
      </div>
    </div>
    <div class="system-module-road-manager-head-operation" *ngIf="operable">
      <button class="button-clip-gradient" (click)="create.open()">添加</button>
    </div>
  </div>
  <div class="system-module-road-manager-body">
    <div class="system-module-road-manager-body-table">
      <ias-system-module-road-table
        [operable]="operable"
        [args]="table.args"
        [load]="table.load"
        [(selected)]="table.selected"
        (loaded)="table.onload($event)"
        (delete)="delete.confirm($event)"
        (modify)="modify.open($event)"
      ></ias-system-module-road-table>
    </div>
    <div class="system-module-road-manager-body-map">
      <ias-system-module-road-map
        [creating]="create.doing"
        [editing]="modify.doing"
        [datas]="table.datas"
        (create)="controller.info.onpath($event)"
        (change)="modify.path.change($event)"
        [selected]="table.selected"
      ></ias-system-module-road-map>
    </div>
    <div
      class="system-module-road-manager-body-info"
      *ngIf="controller.info.show"
    >
      <ias-system-module-road-info
        [(data)]="controller.info.data"
        (ok)="controller.info.onok($event)"
        (cancel)="controller.info.oncancel()"
      ></ias-system-module-road-info>
    </div>
  </div>

  <confirm-window
    *ngIf="window.confirm.show"
    [model]="window.confirm"
    [content]="window.confirm.content"
    (ok)="delete.ok()"
    (cancel)="delete.cancel()"
  >
  </confirm-window>
</div>
