.system-statistic-road-object-timeline {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @scroll-height: 36px;

  &-content {
    width: 100%;
    height: calc(100% - @scroll-height);
    position: relative;
    display: flex;

    overflow: hidden;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-scroll {
    height: @scroll-height;
    width: 100%;
  }

}
