<div class="system-statistic-road-object-timeline">
  <div class="no-data" *ngIf="datas.length == 0">无统计数据</div>
  <div
    class="system-statistic-road-object-timeline-content"
    [class.full]="!scroll_display"
    wheel-horizontal-scroll
    #timeline
    [position]="position"
    (positionChange)="on.position($event)"
  >
    <div
      class="system-statistic-road-object-timeline-item"
      *ngFor="let item of datas; let index = index"
      #timelineitem
    >
      <ias-system-statistic-road-object-timeline-item
        [data]="item"
        [first]="index == 0"
        [last]="index == datas.length - 1"
        [selected]="!!(selected && selected.Id == item.Id)"
        (click)="on.click(item)"
      ></ias-system-statistic-road-object-timeline-item>
    </div>
  </div>
  <div
    class="system-statistic-road-object-timeline-scroll"
    *ngIf="scroll_display"
  >
    <ias-system-statistic-road-object-timeline-scroll
      [datas]="datas"
      [selected]="selected"
      [container]="timeline"
      [position]="position"
      (positionChange)="on.drag($event)"
    ></ias-system-statistic-road-object-timeline-scroll>
  </div>
</div>
