<div class="system-event-record-details">
  <div class="forms" *ngIf="data">
    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        事件时间
      </div>
      <div class="form-item-value">
        {{ data.EventTime | date : Language.YearMonthDayHHmmss }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        事件类型
      </div>
      <div class="form-item-value">{{ language.event }}</div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        触发类型
      </div>
      <div class="form-item-value">{{ language.trigger }}</div>
    </div>
    <div class="form-item" *ngIf="data.BeginTime">
      <div class="form-item-text" text-space-between [suffix]="':'">
        开始时间
      </div>
      <div class="form-item-value">
        {{ data.BeginTime | date : Language.YearMonthDayHHmmss }}
      </div>
    </div>
    <div class="form-item" *ngIf="data.EndTime">
      <div class="form-item-text" text-space-between [suffix]="':'">
        结束时间
      </div>
      <div class="form-item-value">
        {{ data.EndTime | date : Language.YearMonthDayHHmmss }}
      </div>
    </div>
    <ng-container *ngIf="shop">
      <div class="form-item">
        <div class="form-item-text" text-space-between [suffix]="':'">
          商铺名称
        </div>
        <div class="form-item-value">{{ shop.ResourceName }}</div>
      </div>
    </ng-container>
    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        实时事件
      </div>
      <div class="form-item-value">{{ language.live }}</div>
    </div>
    <div class="form-item" *ngIf="data.DeviceId">
      <div class="form-item-text" text-space-between [suffix]="':'">
        设备编号
      </div>
      <div class="form-item-value">
        {{ data.DeviceId }}
      </div>
    </div>

    <div class="form-item" *ngIf="data.Description">
      <div class="form-item-text" text-space-between [suffix]="':'">描述</div>
      <div class="form-item-value">{{ data.Description }}</div>
    </div>

    <div class="form-item" *ngIf="data.Assignment?.Handled">
      <div class="form-item-text" text-space-between [suffix]="':'">
        处置状态
      </div>
      <div class="form-item-value">
        {{ data.Assignment?.Handled ? "已处置" : "未处置" }}
      </div>
    </div>
  </div>
</div>
