<div
  class="system-event-record-details"
  *ngIf="data"
  [ngClass]="{
    red: data.EventType === 8,
    green: data.EventType === 9,
  }"
>
  <div class="system-event-record-details-head-body forms">
    <ng-container *ngIf="resource">
      <div class="form-item">
        <div class="form-item-text" text-space-between [suffix]="':'">
          触发源名称
        </div>
        <div class="form-item-value name">{{ resource.ResourceName }}</div>
      </div>
    </ng-container>

    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        事件类型
      </div>
      <div class="form-item-value">{{ language.event }}</div>
    </div>

    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        实时事件
      </div>
      <div class="form-item-value">{{ language.live }}</div>
    </div>

    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        事件时间
      </div>
      <div class="form-item-value">
        {{ data.EventTime | date : Language.YearMonthDayHHmmss }}
      </div>
    </div>

    <div class="form-item" *ngIf="data.Description">
      <div class="form-item-text" text-space-between [suffix]="':'">
        描述内容
      </div>
      <div class="form-item-value">{{ data.Description }}</div>
    </div>

    <div class="form-item" *ngIf="!data.Assignment || !data.Assignment.Handled">
      <div class="form-item-text" text-space-between [suffix]="':'">
        处置状态
      </div>
      <div class="form-item-value unhandle">待处置</div>
    </div>

    <ng-container *ngIf="data.Assignment">
      <div class="form-item">
        <div class="form-item-text" text-space-between [suffix]="':'">
          处置状态
        </div>
        <div
          class="form-item-value"
          [ngClass]="{
            misinfo: data.Assignment.IsMisInfo,
            handled: !data.Assignment.IsMisInfo,
          }"
        >
          {{
            data.Assignment.IsMisInfo
              ? data.EventType === 9
                ? "屏蔽"
                : "误报"
              : "已处置"
          }}
        </div>
      </div>
      <div class="form-item" *ngIf="data.Assignment?.AssociationDescription">
        <div class="form-item-text" text-space-between [suffix]="':'">
          处置描述
        </div>
        <div class="form-item-value">
          {{ data.Assignment.AssociationDescription }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
