.system-task-file-details-map-panel-speed {
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  width: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px;

  span {
    font-size: 12px;
    opacity: 0.7;
  }
}
