.system-event-table-analysis {
  height: 100%;
  width: 100%;
  transition: all 0.5s;

  @foot-height: 60px;

  &-body {
    height: calc(100% - @foot-height);

    .image {
      height: 80%;
      cursor: pointer;
    }

    .noimage {
      height: 100%;
    }

    .misinfo {
      color: #00f5ff;
    }

    .handled {
      color: #21e452
    }

    .unhandle {
      color: #ffba00
    }

    .unassigned {
      color: #ef6464;
    }

    .audio {
      height: 100%;
      width: 100%;

      audio {
        height: 80%;
        width: 100%;
      }
    }
  }

  &-foot {
    height: @foot-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
