<div class="system-module-shop-manager root-router">
  <div class="system-module-shop-manager-head">
    <div class="system-module-shop-manager-head-filter">
      <div class="forms">
        <div class="form-item duration">
          <div class="form-item-text">时间范围</div>
          <div class="form-item-value">
            <select [(ngModel)]="args.duration">
              <option
                *ngFor="let item of source.duration"
                [ngValue]="item.Value"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-item state">
          <div class="form-item-text">状态</div>
          <div class="form-item-value state">
            <common-label-select
              [autoclose]="true"
              [(show)]="source.state.show"              
              [selected]="source.state.selected"
              (remove)="source.state.onremove($event)"
            >
              <ias-select-shop-object-state
                #select
                [selected]="source.state.selected"
                (selectedChange)="source.state.onselected($event)"
                (loaded)="source.state.init($event)"
              ></ias-select-shop-object-state>
            </common-label-select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">商铺类型</div>
          <div class="form-item-value">
            <select [(ngModel)]="args.type">
              <option [ngValue]="undefined">全部</option>
              <option
                *ngFor="let item of source.types | async"
                [ngValue]="item.Value"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-item">
          <div class="form-item-text">识别次数</div>
          <div class="form-item-value number">
            <input type="number" [(ngModel)]="args.count" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">商铺名称</div>
          <div class="form-item-value text">
            <input type="text" [(ngModel)]="args.name" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">道路名称</div>
          <div class="form-item-value text">
            <ias-input-select-road
              [(roads)]="args.road"
            ></ias-input-select-road>
          </div>
        </div>
      </div>
      <div>
        <button class="button-clip-gradient" (click)="onsearch()">查找</button>
      </div>
    </div>
    <div class="system-module-shop-manager-head-operation">
      <div class="checkbox">
        <label for="marking">
          <input
            type="checkbox"
            id="marking"
            [(ngModel)]="args.marking"
            (change)="onmarking()"
          />显示屏蔽</label
        >
      </div>
      <div>
        <select class="mode" [(ngModel)]="storage.mode" (change)="onmode()">
          <option [ngValue]="0">&#xf08b;&nbsp;</option>
          <option [ngValue]="1">&#xf225;&nbsp;</option>
        </select>
      </div>
      <div>
        <button class="button-clip-gradient" (click)="create.open()">
          添加
        </button>
      </div>
    </div>
  </div>
  <div class="system-module-shop-manager-body" *ngIf="inited">
    <ng-container *ngIf="storage.mode === 0">
      <ias-system-module-shop-table
        [args]="args"
        [load]="load"
        (details)="details.open($event)"
        (info)="info.open($event)"
        (error)="onerror($event)"
        (picture)="picture.open($event)"
        [page]="picture.page"
      ></ias-system-module-shop-table>
    </ng-container>
    <ng-container *ngIf="storage.mode === 1">
      <ias-system-module-shop-list
        [args]="args"
        [load]="load"
        (details)="details.open($event)"
        (error)="onerror($event)"
      ></ias-system-module-shop-list>
    </ng-container>
  </div>

  <app-window
    [Model]="window.details"
    *ngIf="window.details.show"
    [style]="window.details.style"
  >
    <ias-system-module-shop-details
      [data]="window.details.data"
      (cancel)="window.details.show = false"
      (ok)="details.ok()"
    ></ias-system-module-shop-details>
  </app-window>
  <app-window
    [Model]="window.create"
    *ngIf="window.create.show"
    [style]="window.create.style"
  >
    <ias-system-module-shop-information
      [data]="window.create.data"
      (close)="window.create.show = false"
      (ok)="create.ok($event)"
    ></ias-system-module-shop-information>
  </app-window>
  <app-window
    *ngIf="window.picture.show"
    [Model]="window.picture"
    [style]="window.picture.style"
  >
    <ias-picture-window-content-page
      [id]="window.picture.id"
      [title]="window.picture.title"
      [zoom]="false"
      [page]="window.picture.page"
      (pageChange)="picture.change($event)"
    ></ias-picture-window-content-page>
  </app-window>
</div>
