.system-map-panel-details-shop-registration {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  box-sizing: border-box;

  &-head {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;

    .panel-map-operation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &-body {
    width: 100%;
    height: calc(100% - 10px - 36px);

    display: flex;
    flex-direction: column;
    gap: 20px;

    &-image {
      width: 100%;
      aspect-ratio: 16/9;
      cursor: pointer;
    }


    &-info {
      flex-direction: column;
      gap: 13px;

      .form-item {
        &-value {
          display: flex;
          justify-content: flex-end;
          text-align: right;
          user-select: text;

          &.location {
            font-size: 14px;
          }
        }
      }
    }
  }

}
