<div
  class="panel-map-border system-map-panel-details-shop-registration root-router"
  *ngIf="data"
>
  <div class="system-map-panel-details-shop-registration-head">
    <div class="panel-map-title">注册商铺信息</div>
    <div class="panel-map-operation button-group">
      <ng-content></ng-content>
      <div class="button" (click)="onclose()">
        <i class="howell-icon-Close"></i>
      </div>
    </div>
  </div>
  <div class="system-map-panel-details-shop-registration-body">
    <div
      class="system-map-panel-details-shop-registration-body-image"
      (click)="onpicture()"
    >
      <howell-container-zoom>
        <ias-picture [id]="data.ImageUrl"></ias-picture>
      </howell-container-zoom>
    </div>
    <div class="system-map-panel-details-shop-registration-body-info forms">
      <div class="form-item">
        <div class="form-item-text baseline">商铺名称</div>
        <div class="form-item-value">
          {{ data.Name }}
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text baseline">商铺子名称</div>
        <div class="form-item-value">
          {{
            data.Subnames && data.Subnames.length > 0
              ? data.Subnames.join(",")
              : "-"
          }}
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">关联商铺数量:</div>
        <div class="form-item-value">{{ data.AssociatedCount ?? "-" }}</div>
      </div>
      <div class="form-item">
        <div class="form-item-text">所在道路:</div>
        <div class="form-item-value">{{ data.RoadName || "-" }}</div>
      </div>
      <div class="form-item">
        <div class="form-item-text baseline">商铺地址</div>
        <div class="form-item-value">
          {{ data.Address ?? "-" }}
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">联系方式</div>
        <div class="form-item-value">
          {{ data.Telphone ?? "-" }}
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">创建时间</div>
        <div class="form-item-value">
          {{ data.CreationTime | date : Language.yyyyMMddHHmmss }}
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="system-map-panel-details-shop-registration-foot">
    <div class="button-group">
      <div class="button" title="查看商铺招牌" (click)="onsign()">
        <i class="mdi mdi-tooltip-text"></i>
      </div>
    </div>
  </div> -->
</div>
