.system-module-road-object-video-manager {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  gap: 15px;


  &-body {
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 15px - 36px);

    @gap: 10px;

    display: flex;
    justify-content: space-between;
    gap: @gap;


    .video-info {
      // width: calc((100% - @gap) * 0.45);
      height: 100%;
      aspect-ratio: 16 / 9;

      padding: 0;
      box-sizing: border-box;
      position: relative;

      &-marker {
        position: absolute;
        border: 0.5px dashed rgba(0, 244, 155, 0.8);

        height: 100%;
        top: 0;
        pointer-events: none;


        &.left {
          left: 25%;
        }

        &.center {
          left: 50%;
        }

        &.right {
          left: 75%;
        }
      }
    }

    .map-info {
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: @gap;
    }

    .map {

      flex-grow: 1;
      padding: 0;
      box-sizing: border-box;
      transition: all 0.5s;

      &.hide {
        height: 0;
        display: none;
      }

    }

    .update-info {
      height: 0;
      transition: all 0.5s;

      &.show {
        height: 100%;
      }
    }





  }

  &-foot {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
