<div class="system-module-road-object-video-manager root-router">
  <div class="system-module-road-object-video-manager-body">
    <div class="video-info panel">
      <ias-video-tags
        [time]="video.time"
        [load]="video.event.load"
        [keycontrol]="true"
        [wheelcontrol]="true"
        [pluginable]="true"
        (timeChange)="video.on.update($event)"
        (loaded)="video.on.loaded($event)"
      ></ias-video-tags>
      <div class="video-info-marker left"></div>
      <div class="video-info-marker center"></div>
      <div class="video-info-marker right"></div>
    </div>
    <div class="map-info">
      <div
        class="panel map"
        [class.hide]="mode == OptionMode.update && selected"
      >
        <ias-system-module-road-object-video-map-manager
          [objects]="objects"
          [data]="data"
          [to]="video.event.time"
          [roadable]="true"
          (trigger)="map.on.seek($event)"
          (loaded)="map.on.loaded($event)"
          (error)="map.on.error($event)"
          [pickupable]="false"
          (objectdblclick)="map.on.object.dblclick($event)"
          (objectclick)="map.on.object.click($event)"
          (current)="map.on.current($event)"
          (course)="map.on.course($event)"
        ></ias-system-module-road-object-video-map-manager>
      </div>
      <div
        class="update-info"
        [class.show]="mode == OptionMode.update && selected"
        *ngIf="mode == OptionMode.update && selected"
      >
        <ias-system-module-road-object-details-simple
          [data]="selected"
          [gcj02]="map.current"
          [course]="map.course"
          [picture]="on.simple.picture"
          (close)="selected = undefined"
          (capture)="on.simple.capture()"
          (saved)="on.simple.saved()"
        ></ias-system-module-road-object-details-simple>
      </div>
    </div>
  </div>
  <div
    class="system-module-road-object-video-manager-foot"
    *ngIf="mode == OptionMode.create"
  >
    <div>
      <button (click)="video.on.next()" [disabled]="last">下一个视频</button>
    </div>
    <div class="button-group">
      <button
        class="button-clip-gradient"
        [disabled]="!video.element"
        (click)="on.ok()"
      >
        拾取
      </button>
      <button class="button-clip-blue" (click)="on.close()">关闭</button>
    </div>
  </div>
</div>
