<div class="system-module-road-object-video-manager root-router">
  <div class="system-module-road-object-video-manager-body">
    <div class="video-info panel">
      <ias-video-tags
        [time]="video.time"
        [load]="video.event.load"
        [keycontrol]="true"
        [wheelcontrol]="true"
        (timeChange)="video.on.update($event)"
        (loaded)="video.on.loaded($event)"
      ></ias-video-tags>
    </div>
    <div class="panel map">
      <ias-system-module-road-object-video-map-manager
        [objects]="objects"
        [data]="data"
        [to]="video.event.time"
        [roadable]="true"
        (trigger)="map.on.seek($event)"
        (loaded)="map.on.loaded($event)"
        (error)="map.on.error($event)"
        (pickup)="map.on.pickup($event)"
        (objectdblclick)="map.on.object.dblclick($event)"
        (address)="map.on.address($event)"
        (course)="map.on.course($event)"
      ></ias-system-module-road-object-video-map-manager>
    </div>
  </div>
  <div class="system-module-road-object-video-manager-foot">
    <div>
      <button (click)="video.on.next()" [disabled]="last">下一个视频</button>
    </div>
    <div class="button-group">
      <button
        class="button-clip-gradient"
        [disabled]="!(video.element && map.pickup)"
        (click)="on.ok()"
      >
        拾取
      </button>
      <button class="button-clip-blue" (click)="on.close()">关闭</button>
    </div>
  </div>
</div>
