<div class="system-map root-router">
  <div class="system-map-container" id="system-map"></div>
  <div class="system-map-search" *ngIf="panel.search.show">
    <ias-system-map-search
      [(name)]="args.name"
      (search)="onsearch($event)"
    ></ias-system-map-search>
  </div>
  <div class="system-map-statistic" *ngIf="panel.statistic.show">
    <ias-system-map-statistic
      [value]="panel.statistic.count.shop"
    ></ias-system-map-statistic>
  </div>

  <div class="system-map-controls" *ngIf="panel.controls.show">
    <ias-system-map-controls
      [(source)]="this.panel.source.show"
      [(distance)]="this.panel.editor.circle.show"
      [(filter)]="this.panel.filter.show"
      [(task)]="this.panel.task.show"
    ></ias-system-map-controls>
  </div>
  <div class="system-map-state" *ngIf="panel.state.show">
    <ias-system-map-state
      [datas]="source.shop"
      [(selecteds)]="panel.state.selecteds"
      (selectedsChange)="panel.state.onselect()"
    ></ias-system-map-state>
  </div>
  <div
    class="system-map-editor-circle"
    *ngIf="panel.editor.circle.show && args.distance.enabled"
  >
    <ias-system-map-editor-circle
      [args]="args.distance"
      (distance)="panel.editor.circle.ondistance($event)"
      (ok)="panel.editor.circle.onok($event)"
      (close)="panel.editor.circle.oncancel()"
    ></ias-system-map-editor-circle>
  </div>
  <div
    class="system-map-filter-getting"
    *ngIf="panel.filter.getting.show && args.distance.enabled"
  >
    <ias-system-map-editor-circle
      [args]="args.distance"
      (distance)="panel.filter.getting.ondistance($event)"
      (ok)="panel.filter.getting.onok($event)"
      (close)="panel.filter.getting.oncancel()"
    ></ias-system-map-editor-circle>
  </div>
  <div class="system-map-position" *ngIf="panel.position.show">
    <div>{{ panel.position.point.X }}</div>
    <div class="_">,</div>
    <div>{{ panel.position.point.Y }}</div>
  </div>
  <div class="panel-map-border system-map-source" *ngIf="panel.source.show">
    <!-- <ias-system-map-source-table
      [datas]="datas"
      (details)="panel.source.ondetails($event)"
      (itemhover)="panel.source.onmouseover($event)"
      (itemblur)="panel.source.onmouseout($event)"
      (selectedChange)="panel.source.onselect($event)"
      (position)="panel.source.onposition($event)"
    ></ias-system-map-source-table> -->

    <ias-system-map-source-manager
      [shops]="source.shop"
      [roads]="source.road"
      [(type)]="type"
      (details)="panel.source.shop.ondetails($event)"
      (itemhover)="panel.source.shop.onmouseover($event)"
      (itemblur)="panel.source.shop.onmouseout($event)"
      (selectedChange)="panel.source.onselect($event)"
      (position)="panel.source.onposition($event)"
    ></ias-system-map-source-manager>
  </div>
  <div class="panel-map-border system-map-task" *ngIf="panel.task.show">
    <ias-system-map-task-manager
      [(taskselecteds)]="panel.task.selecteds"
      [shops]="source.shop"
      [load]="panel.task.load"
      (compare)="panel.task.oncompare($event)"
      (close)="panel.task.onclose()"
      (details)="panel.source.shop.ondetails($event)"
      (itemhover)="panel.source.shop.onmouseover($event)"
      (itemblur)="panel.source.shop.onmouseout($event)"
      (shopselectedChange)="panel.source.onselect($event)"
      (position)="panel.source.onposition($event)"
      (loaded)="panel.task.onloaded($event)"
      (return)="panel.task.onreturn()"
      (setting)="panel.setting.compare.show = true"
    ></ias-system-map-task-manager>
  </div>

  <div
    class="system-map-details-shop-analysis"
    [ngClass]="{
      source: panel.source.show || panel.task.show,
      taskshop: panel.details.registration.show
    }"
    *ngIf="panel.details.analysis.show"
  >
    <ias-system-map-panel-details-shop
      [data]="panel.details.analysis.data"
      (close)="panel.details.analysis.show = false"
      (sign)="panel.details.analysis.onsign()"
      (picture)="onpicture($event)"
    ></ias-system-map-panel-details-shop>
  </div>
  <div
    class="system-map-details-shop"
    [ngClass]="{
      source: panel.source.show || panel.task.show,
      
    }"
    *ngIf="panel.details.registration.show"
  >
    <ias-system-map-panel-details-shop-registration
      [data]="panel.details.registration.data"
      (close)="panel.details.registration.show = false"
      (picture)="onpicture($event)"
    ></ias-system-map-panel-details-shop-registration>
  </div>
  <div
    class="system-map-details-shop-sign"
    [ngClass]="{
      source: panel.source.show || panel.task.show
    }"
    *ngIf="panel.details.analysis.sign.show"
  >
    <ias-system-map-panel-details-shop-sign
      [shop]="panel.details.analysis.data"
      [sign]="panel.details.analysis.sign.data"
      (signChange)="panel.details.analysis.sign.onselect($event)"
      (picture)="onpicture($event)"
      (close)="panel.details.analysis.sign.show = false"
      [page]="window.picture.topage"
    ></ias-system-map-panel-details-shop-sign>
  </div>
  <div class="system-map-filter" *ngIf="panel.filter.show">
    <ias-system-map-filter
      [(filter)]="args.shop"
      [(distance)]="args.distance"
      (search)="panel.filter.onsearch()"
      (close)="panel.filter.show = false"
      (mapdistance)="panel.filter.ondistance()"
    ></ias-system-map-filter>
  </div>
  <div class="system-map-setting-compare" *ngIf="panel.setting.compare.show">
    <ias-system-map-setting-compare
      [taskcount]="panel.task.datas.length"
      (close)="panel.setting.compare.show = false"
    ></ias-system-map-setting-compare>
  </div>
  <ias-window
    *ngIf="window.picture.show"
    [Model]="window.picture"
    [style]="window.picture.style"
    [title]="window.picture.title"
  >
    <ias-picture-list
      [id]="window.picture.id"
      [polygon]="window.picture.polygon"
      [zoom]="window.picture.polygon.length > 0"
      [page]="window.picture.page"
      (pageChange)="window.picture.onpage($event)"
    ></ias-picture-list>
  </ias-window>
</div>
