<div
  class="system-event-manager-realtime"
  [style.padding]="iswindow ? 0 : undefined"
>
  <div class="system-event-manager-realtime-head">
    <div class="system-event-manager-realtime-head-filter">
      <div class="forms">
        <div class="form-item duration">
          <div class="form-item-text">开始时间</div>
          <div class="form-item-value">
            <date-time-control
              [(date)]="table.args.duration.begin"
              [zindex]="iswindow ? 9000 : 10"
            ></date-time-control>
          </div>
        </div>
        <div class="form-item duration">
          <div class="form-item-text">结束时间</div>
          <div class="form-item-value">
            <date-time-control
              [(date)]="table.args.duration.end"
              [zindex]="iswindow ? 9000 : 10"
            ></date-time-control>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">事件类型</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.type">
              <option [ngValue]="undefined">全部</option>
              <option
                [ngValue]="item.Value"
                *ngFor="let item of source.type | async"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">是否确认</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.confirmed">
              <option [ngValue]="true">已确认</option>
              <option [ngValue]="undefined">未确认</option>
            </select>
          </div>
        </div>

        <div class="form-item">
          <div class="form-item-text">处置状态</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.handle">
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="item.Value" *ngFor="let item of source.handle">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">是否误报</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.misinform">
              <option [ngValue]="undefined">全部</option>
              <option
                [ngValue]="item.Value"
                *ngFor="let item of source.misinform"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">是否高频</div>
          <div class="form-item-value select">
            <hw-select [nullable]="true" [(selected)]="table.args.timeout">
              <select [(ngModel)]="table.args.timeout">
                <option [ngValue]="true">是</option>
                <option [ngValue]="false">否</option>
              </select>
            </hw-select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">触发源名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="table.args.resource" />
          </div>
        </div>
        <div class="form-item submit">
          <button class="button-clip-gradient" (click)="table.search()">
            查找
          </button>
        </div>
      </div>
    </div>
    <div class="system-event-manager-shop-realtime-operation">
      <button
        class="button-clip-gradient"
        (click)="window.map.show = true"
        *ngIf="mapable"
      >
        地图
      </button>
    </div>
  </div>
  <div class="system-event-manager-realtime-body">
    <ias-system-event-table-realtime
      *ngIf="table.args.types.length > 0"
      [args]="table.args"
      [load]="table.load"
      (picture)="table.on.picture($event)"
      (process)="table.on.process($event)"
      (task)="table.on.task($event)"
      (video)="table.on.video($event)"
      (details)="table.on.details($event)"
    ></ias-system-event-table-realtime>
  </div>

  <ias-window
    [Model]="window.map"
    *ngIf="window.map.show"
    [style]="window.map.style"
    [title]="window.map.title"
  >
    <ias-system-event-map-manager
      [args]="window.map.args"
      [mode]="window.map.mode"
      (video)="table.on.video($event)"
      (details)="table.on.details($event)"
    ></ias-system-event-map-manager>
  </ias-window>
  <ias-window
    [Model]="window.details"
    *ngIf="window.details.show"
    [style]="window.details.style"
    [title]="window.details.title"
  >
    <ias-system-event-process-details
      [data]="window.details.data"
      (cancel)="window.details.show = false"
      (picture)="picture.open($event)"
    ></ias-system-event-process-details>
  </ias-window>

  <ias-window
    [Model]="window.task"
    *ngIf="window.task.show"
    [style]="window.task.style"
    [title]="'AI分析工单'"
  >
    <ias-system-event-task [data]="window.task.data"></ias-system-event-task>
  </ias-window>
  <ias-window
    [Model]="window.process"
    *ngIf="window.process.show"
    [style]="window.process.style"
    [title]="window.process.title"
  >
    <ias-system-event-process-realtime
      [data]="window.process.data"
      (close)="window.process.show = false"
      (picture)="table.on.picture($event)"
    ></ias-system-event-process-realtime>
  </ias-window>

  <confirm-window
    *ngIf="window.confirm.show"
    [model]="window.confirm"
    [content]="window.confirm.message"
    (ok)="confirm.ok()"
    (cancel)="confirm.close()"
  >
  </confirm-window>

  <ias-window
    [Model]="window.picture"
    *ngIf="window.picture.show && window.picture.args"
    [style]="window.picture.style"
    [title]="window.picture.title"
    [mask]="!window.opened"
  >
    <ias-picture-list
      [id]="window.picture.args.id"
      [polygon]="window.picture.args.polygon"
      [zoom]="window.picture.args.polygon.length > 0"
      [page]="window.picture.page"
      (pageChange)="picture.change($event)"
      [loop]="true"
    ></ias-picture-list>
  </ias-window>
  <ias-window
    [Model]="window.video"
    *ngIf="window.video.show"
    [style]="window.video.style"
    [title]="window.video.title"
    [CloseButton]="false"
    [mask]="!window.opened"
  >
    <div ngProjectAs="window-head-operation" class="window-video-operation">
      <div class="forms">
        <div class="form-item">
          <div class="form-item-text">前后时长</div>
          <div class="form-item-value">
            <select
              [(ngModel)]="window.video.args.duration"
              (change)="window.video.change()"
            >
              <!-- <option [ngValue]="undefined">全部</option> -->
              <option [ngValue]="5">5秒</option>
              <option [ngValue]="10">10秒</option>
              <option [ngValue]="15">15秒</option>
              <option [ngValue]="30">30秒</option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">摄像机:</div>
          <div class="form-item-value">
            <hw-select
              [nullable]="true"
              [(selected)]="window.video.args.channel"
              (selectedChange)="window.video.change()"
            >
              <select [(ngModel)]="window.video.args.channel">
                <option
                  *ngFor="let item of table.selected.channels"
                  [ngValue]="item.Value"
                >
                  {{ item.Name }}
                </option>
              </select>
            </hw-select>
          </div>
        </div>
        <div class="form-item">
          <div class="button" (click)="window.video.show = false">
            <i class="howell-icon-Close"></i>
          </div>
        </div>
      </div>
    </div>
    <ias-system-event-video
      [data]="window.video.data"
      [args]="window.video.args"
    ></ias-system-event-video>
  </ias-window>
</div>
