<div class="picture-list">
  <div
    class="picture-list-control left"
    *ngIf="page && this.page.PageCount > 0 && this.page.PageIndex > 1"
    (click)="onprov()"
  >
    <i class="howell-icon-arrowleftbold"></i>
  </div>

  <div class="picture-list-container">
    <ias-picture-polygon-zoom
      [id]="id"
      [src]="src"
      [polygon]="polygon"
      [zoom]="zoom"
      [default]="default"
    ></ias-picture-polygon-zoom>
  </div>

  <div
    class="picture-list-control right"
    *ngIf="page && this.page.PageIndex < this.page.PageCount"
    (click)="onnext()"
  >
    <i class="howell-icon-arrowrightbold"></i>
  </div>
</div>
