.list-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .page {
    display: flex;
    justify-content: center;
    align-items: center;


  }

  .button {
    font-size: 20px;

    &.left {
      background: linear-gradient(to left, #2d76ce 40%, #fff 70%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.right {
      background: linear-gradient(to right, #2d76ce 40%, #fff 70%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}
