.system-task-file-details-map-panel-search-result-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  padding: 15px;
  box-sizing: border-box;
}
