button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: #ddf4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 22px;
  min-width: 22px;
  padding: 0 3px;
  font-family: "Alibaba_PuHuiTi_55_Regular";

  &:hover {
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}


.button {
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.button-login {
  height: 100%;
  width: 100%;
  background: linear-gradient(#27adc8, #2667b5);
  color: white;
  font-size: 22px;


  &:hover {
    background: linear-gradient(rgba(42, 194, 225, 1), rgba(45, 118, 206, 1));
  }
}

@button-filter-path: polygon(10px 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%,
    0 10px);

.button-filter {
  height: 36px;
  width: 100px;
  position: relative;
  background: linear-gradient(to bottom, rgba(42, 194, 225, 1), rgba(45, 118, 206, 1));
  /* 进行裁剪 */
  clip-path: @button-filter-path;
  cursor: pointer;
  transition: all 0.5s;

  &::after {
    content: "";
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    /* 水平垂直居中 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 置于底层 */
    z-index: -1;
    /* 设置背景色 */
    background: #050d14;
    border-radius: 4px;
    /* 设置裁剪 */
    clip-path: @button-filter-path;
  }

}
