select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 10px;
  padding-right: calc(10px + 16px + 10px);
  margin: 0;
  outline: none;
  border: 1px solid #2d76ce;
  background-color: #050d14;
  color: #ddf4ff;
  position: relative;
  min-height: 36px;
  min-width: 50px;

  background-image: url(../../image/select-arrow.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}
