.system-task-file-details-map {
  width: 100%;
  height: 100%;
  animation: 0.75s;
  position: relative;

  &-container {
    width: 100%;
    height: 100%;

    ::ng-deep {

      .amap-info-window {
        color: black;
        width: auto;
        background: #fff;
        border-radius: 3px;
        padding: 3px 7px;
        box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .amap-info-sharp {
        position: absolute;
        top: 28px;
        bottom: 0;
        left: 50%;
        margin-left: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #fff;
      }
    }
  }
}
