<div class="system-event-details">
  <div class="system-event-details-body">
    <div class="panel timeline">
      <ias-system-event-details-timeline
        [data]="data"
      ></ias-system-event-details-timeline>
    </div>
    <div class="panel assgin">
      <ias-system-event-details-assgin
        *ngIf="data?.Assignment?.Assigned"
        [data]="data"
      ></ias-system-event-details-assgin>
      <div class="unassigned">
        <button
          class="button-clip-gradient"
          *ngIf="!data?.Assignment?.Assigned"
        >
          派单
        </button>
      </div>
    </div>
    <div class="handle">
      <ias-system-event-details-handle
        [datas]="unhandle.datas"
        [title]="unhandle.title"
        [(index)]="unhandle.index"
        [nodata]="unhandle.nodata"
      ></ias-system-event-details-handle>

      <div>
        <ias-system-event-details-handle
          [datas]="handled.datas"
          [title]="handled.title"
          [(index)]="handled.index"
          [nodata]="handled.nodata"
        ></ias-system-event-details-handle>
      </div>
    </div>
  </div>
</div>
