.system-task-file-details-map-panel-position {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  transition: all .3s;

  @clip-size: 58px;


  &:hover,
  &.fixed {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;

    .panel-title {
      .title {
        display: block;
      }
    }

    .panel-operation {
      display: flex;
    }

    .system-task-file-details-map-panel-position-body {
      display: block;
    }

  }

  &.top-left {
    clip-path: polygon(0 0,
        @clip-size 0,
        @clip-size @clip-size,
        0 @clip-size);

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  &.top-right {
    clip-path: polygon(calc(100% - @clip-size) 0,
        100% 0, 100% @clip-size, calc(100% - @clip-size) @clip-size);

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  &.bottom-left {
    clip-path: polygon(0 calc(100% - @clip-size),
        @clip-size calc(100% - @clip-size),
        @clip-size 100%,
        0 100%);

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  &.bottom-right {
    clip-path: polygon(calc(100% - @clip-size) calc(100% - @clip-size),
        100% calc(100% - @clip-size), 100% 100%, calc(100% - @clip-size) 100%);

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }



  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .panel-title {
      display: flex;
      align-items: center;

      .icon {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .title {
        display: none;
      }
    }

    .panel-operation {
      display: none;
      align-items: center;
      justify-content: flex-end;

      .button-fixed {
        transform: rotate(45deg);
      }
    }



  }

  &-body {
    display: none;

    .forms {
      flex-direction: column;

      .form-item {
        &-text {
          width: 100px;
        }

        &-value {
          user-select: text;
          width: calc(100% - 100px - 22px - 15px * 2);
        }

        &-suffix {
          width: 22px;
          flex-grow: 0;
        }
      }
    }
  }
}
