<div
  class="system-task-file-details-map-panel-position panel-map"
  [ngClass]="{
    fixed: fixed
  }"
>
  <div class="system-task-file-details-map-panel-position-head">
    <div class="panel-title">
      <div class="icon"><i [class]="icon"></i></div>
      <div class="title">
        {{ title }}
      </div>
    </div>
    <div class="panel-operation">
      <button
        [ngClass]="{
          'button-fixed': fixed
        }"
        (click)="on.fixed()"
      >
        <i class="mdi mdi-pin"></i>
      </button>
    </div>
  </div>
  <div class="system-task-file-details-map-panel-position-body">
    @if(position){
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text" text-space-between [suffix]="':'">
          GCJ02
        </div>
        <div class="form-item-value">
          {{ position.gcj02[0] }},{{ position.gcj02[1] }}
        </div>
        <div class="form-item-suffix">
          <button title="复制GCJ02坐标" (click)="on.copy(position.gcj02)">
            <i class="mdi mdi-content-copy"></i>
          </button>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text" text-space-between [suffix]="':'">
          WGS84
        </div>
        <div class="form-item-value">
          {{ position.wgs84[0] }},{{ position.wgs84[1] }}
        </div>
        <div class="form-item-suffix">
          <button title="复制WGS84坐标" (click)="on.copy(position.wgs84)">
            <i class="mdi mdi-content-copy"></i>
          </button>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text" text-space-between [suffix]="':'">BD09</div>
        <div class="form-item-value">
          {{ position.bd09[0] }},{{ position.bd09[1] }}
        </div>
        <div class="form-item-suffix">
          <button title="复制BD09坐标" (click)="on.copy(position.bd09)">
            <i class="mdi mdi-content-copy"></i>
          </button>
        </div>
      </div>
    </div>

    }
  </div>
</div>
