<div class="map-panel-settings panel-map">
  <ias-container-expand-corner
    [icon]="'howell-icon-settingoutline'"
    [top]="top"
    [left]="left"
  >
    <div class="map-panel-settings-body forms">
      <div class="form-item">
        <div class="form-item-text">
          <label for="map-panel-settings-rectified">轨迹纠偏</label>
        </div>
        <div class="form-item-value">
          <input
            type="checkbox"
            id="map-panel-settings-rectified"
            [(ngModel)]="rectified"
            (change)="on.rectified()"
          />
        </div>
      </div>
    </div>
  </ias-container-expand-corner>
</div>
