<div class="picture-list-page">
  <div class="picture-list-page-body">
    <ias-picture-list
      [id]="picture.selected"
      [default]="default"
      [zoom]="zoom"
      [page]="picture.page"
      (pageChange)="picture.change($event)"
    ></ias-picture-list>
  </div>
  <div class="picture-list-page-foot">
    <div>
      <div
        class="button left"
        [ngClass]="{
          disabled: !page || page.PageIndex == 1
        }"
        (click)="onprev()"
      >
        <i class="howell-icon-arrow2left"></i>
      </div>
    </div>
    <div class="page" *ngIf="page">
      <div>{{ page.PageIndex }}</div>
      <div>/</div>
      <div>{{ page.PageCount }}</div>
    </div>
    <div>
      <div
        class="button right"
        [ngClass]="{
          disabled: !page || page.PageIndex == page.PageCount
        }"
        (click)="onnext()"
      >
        <i class="howell-icon-arrow2right"></i>
      </div>
    </div>
  </div>
</div>
