<div class="video-path">
  <div class="video-path-body">
    <div class="panel video">
      <video
        autoplay="autoplay"
        controls
        [currentTime]="video.time"
        (timeupdate)="video.on.time.update($event)"
        (error)="video.on.error($event)"
        [src]="video.src"
        #video_element
      ></video>
    </div>
    <div class="panel map">
      <howell-video-path-map
        [datas]="path"
        [points]="points"
        [args]="args"
        [loading]="loading"
        [to]="video.event.time"
        [(rectified)]="rectified"
        (rectifiedChange)="map.on.rectified()"
        (trigger)="video.on.seek($event)"
        (loaded)="map.on.loaded()"
        (error)="map.on.error($event)"
      ></howell-video-path-map>
    </div>
  </div>
</div>
