<div class="system-module-gps-task-details-container">
  <div class="system-module-gps-task-details-container-body">
    <div class="system-module-gps-task-details-picture">
      <ng-container *ngIf="model && model.Images">
        <div class="system-module-gps-task-details-picture-item panel one">
          <ias-system-module-gps-task-details-picture
            [url]="picture.data.ImageUrl"
            [polygon]="picture.polygon"
            [position]="picture.data.PositionNo"
            (positionChange)="picture.position($event)"
            (filepicture)="picture.file($event)"
            (remove)="picture.remove()"
            (draw)="picture.draw($event)"
            (videocaptionopen)="caption.open($event)"
            (videocaptionupload)="caption.upload($event)"
            [videocapturecompleted]="videocapturecompleted"
          ></ias-system-module-gps-task-details-picture>
        </div>
      </ng-container>
    </div>
    <div class="system-module-gps-task-details-map panel">
      <ias-system-module-gps-task-details-map
        *ngIf="model.Location"
        [data]="model.Location.GCJ02"
        [load]="location.map.change"
        [resetable]="true"
        (dataChange)="location.map.changing($event)"
      ></ias-system-module-gps-task-details-map>
    </div>
    <div class="system-module-gps-task-details-info panel">
      <ias-system-module-gps-task-details-information
        *ngIf="model.Location"
        [(data)]="model"
        [moving]="location.info.change"
        (gispoint)="location.info.changing($event)"
      ></ias-system-module-gps-task-details-information>
    </div>
  </div>
  <div class="system-module-gps-task-details-container-foot button-group">
    <button class="button-clip-gradient" (click)="on.create()" *ngIf="!data">
      确定
    </button>
    <button class="button-clip-gradient" (click)="on.update()" *ngIf="data">
      确定
    </button>
    <button class="button-clip-blue" (click)="on.cancel()">取消</button>
  </div>
</div>
