.system-task-route-map-panel-statistic {
  display: flex;
  flex-direction: column;
  gap: 20px;

  ias-system-map-statistic {
    cursor: pointer;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}
