.system-module-shop-compare-relate-table {
  height: 100%;
  width: 100%;
  transition: all 0.5s;

  @foot-height: 36px;

  &-body {
    height: calc(100% - @foot-height);

    .image {
      height: 70%;
      cursor: pointer;
    }

    table {

      tbody {

        background-color: rgba(19, 34, 64, 0.5);
      }

      tr {


        td,
        th {
          &:first-child {
            padding: 0 10px;
          }
        }
      }
    }
  }

  &-foot {
    height: @foot-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
