.system-event-road-object-details-manager {
  width: 100%;
  height: 100%;

  display: flex;
  @gap: 15px;

  gap: @gap;
  flex-wrap: wrap;


  &-picture {
    width: calc((100% - @gap) * 0.5);
    flex-grow: 0;
  }

  &-info {
    width: calc((100% - @gap) * 0.5);
    flex-grow: 1;
    padding: 0;
  }

  &-map {
    width: calc((100% - @gap) * 0.5);
    flex-grow: 1;

  }

  .panel {

    padding: 0;
    gap: 0;

    &-body {
      aspect-ratio: 16/9;
    }

    .panel-foot {
      padding: 0 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        color: white;
        font-weight: bold;
      }
    }
  }

}
