.system-event-map-panel-record-table-manager {
  height: 100%;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;

  &-head {
    height: 28px;
  }

  &-body {
    height: 100%;
    // height: calc(100% - 28px - 15px);
  }
}
