<div class="system-event-process-sign-disconver">
  <div class="system-event-process-sign-disconver-body">
    <div class="system-event-process-sign-disconver-body-record panel">
      <div class="system-event-process-sign-disconver-body-record-head">
        详细信息
      </div>
      <div
        class="system-event-process-sign-disconver-body-record-picture border"
      >
        <!-- (click)="record.picture.click()" -->
        <div
          class="system-event-process-sign-disconver-body-record-picture-body"
        >
          <howell-container-page
            [page]="record.picture.page.value"
            (pageChange)="record.picture.page.change($event)"
          >
            <howell-container-zoom [(reset)]="record.picture.zoom.reset.value">
              <ias-picture-polygon
                [id]="record.picture.src"
                [polygon]="record.picture.polygon"
              ></ias-picture-polygon>
            </howell-container-zoom>
          </howell-container-page>
        </div>
        <div
          class="system-event-process-sign-disconver-body-record-picture-foot"
        >
          <div
            class="system-event-process-sign-disconver-body-record-picture-foot-name"
          >
            {{ record.sign.selected?.Text }}
            {{ ((record.sign.selected?.Confidence ?? 0) * 100).toFixed(2) }}%
          </div>
          <div
            class="system-event-process-sign-disconver-body-record-picture-foot-page"
          >
            {{ record.picture.page.value.PageIndex }}/{{
              record.picture.page.value.PageCount
            }}
          </div>
          <div
            class="system-event-process-sign-disconver-body-record-picture-foot-button button-group"
          >
            <div
              class="button"
              title="预览大图"
              (click)="record.picture.full()"
            >
              <i class="mdi mdi-fullscreen"></i>
            </div>
            <div
              class="button"
              (click)="record.picture.zoom.reset.set()"
              title="重置"
            >
              <i class="mdi mdi-backup-restore"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="system-event-process-sign-disconver-body-record-content">
        <div
          class="system-event-process-sign-disconver-body-record-content-info"
          [ngClass]="
        {
          red:data?.EventType === 8,
          green: data?.EventType === 9,
        }"
        >
          <ias-system-event-record-details
            [data]="data"
          ></ias-system-event-record-details>
        </div>
        <div
          class="system-event-process-sign-disconver-body-record-content-map border"
        >
          <ias-map
            *ngIf="map.location"
            [location]="map.location"
            [marker]="map.marker"
            [points]="map.point ? [map.point] : []"
          ></ias-map>
        </div>
      </div>
    </div>
    <div class="system-event-process-sign-disconver-body-shop panel">
      <div class="system-event-process-sign-disconver-body-shop-head">
        注册商铺信息
      </div>
      <div class="system-event-process-sign-disconver-body-shop-picture border">
        <!-- (click)="shop.picture.click()" -->
        <div class="system-event-process-sign-disconver-body-shop-picture-body">
          <howell-container-zoom [(reset)]="shop.picture.zoom.reset.value">
            <ias-picture-polygon [id]="shop.picture.src"></ias-picture-polygon>
          </howell-container-zoom>
        </div>
        <div class="system-event-process-sign-disconver-body-shop-picture-foot">
          <div class="subname" wheel-horizontal-scroll>
            <div
              class="subname-item"
              *ngFor="let subname of shop.selected?.Subnames"
            >
              {{ subname }}
            </div>
          </div>
          <div class="button-group">
            <div
              class="button"
              title="窗口查看大图"
              (click)="shop.picture.full()"
            >
              <i class="mdi mdi-fullscreen"></i>
            </div>
            <div
              class="button"
              (click)="shop.picture.zoom.reset.set()"
              title="重置"
            >
              <i class="mdi mdi-backup-restore"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="system-event-process-sign-disconver-body-shop-table">
        <ias-system-event-process-shop
          [data]="data"
          (selectedChange)="shop.on.select($event)"
          [(subname)]="subname"
          [args]="shop.args"
          [load]="_load"
          (filter)="shop.on.filter()"
          (create)="shop.on.create()"
          (loaded)="shop.on.loaded($event)"
          (edit)="shop.on.edit($event)"
        ></ias-system-event-process-shop>
      </div>
      <div
        class="system-event-process-sign-disconver-body-shop-filter"
        *ngIf="shop.filter.show"
      >
        <ias-system-event-process-shop-filter
          [args]="shop.args"
          (ok)="shop.filter.ok($event)"
          (close)="shop.filter.close()"
        ></ias-system-event-process-shop-filter>
      </div>
    </div>
  </div>
  <div class="system-event-process-sign-disconver-foot button-group">
    <!-- <button class="button-clip-gradient" (click)="on.misinfo()">误报</button> -->
    <button class="button-clip-gradient" (click)="on.marking()">屏蔽</button>
    <button class="button-clip-gradient" (click)="on.merge()">关联商铺</button>
    <button class="button-clip-blue" (click)="on.cancel()">取消</button>
  </div>
</div>
