<div
  class="system-module-road-object-manager"
  [style.padding]="iswindow ? 0 : undefined"
>
  <div class="system-module-road-object-manager-head">
    <div class="system-module-road-object-manager-head-filter">
      <div class="forms">
        <div class="form-item">
          <div class="form-item-text">部件类型</div>
          <div class="form-item-value fill">
            <hw-select [(selected)]="table.args.type" [nullable]="true">
              <select [(ngModel)]="table.args.type">
                <option
                  [ngValue]="item.Value"
                  *ngFor="let item of source.types"
                >
                  {{ item.Name }}
                </option>
              </select>
            </hw-select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">部件状态</div>
          <div class="form-item-value fill">
            <hw-select [(selected)]="table.args.state" [nullable]="true">
              <select [(ngModel)]="table.args.state">
                <option
                  [ngValue]="item.Value"
                  *ngFor="let item of source.states"
                >
                  {{ item.Name }}
                </option>
              </select>
            </hw-select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">部件名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="table.args.name" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">地址</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="table.args.address" />
          </div>
        </div>
        <div class="form-item">
          <button class="button-clip-gradient" (click)="search()">查找</button>
        </div>
      </div>
    </div>
    <div
      class="system-module-road-object-manager-head-operation"
      *ngIf="operable"
    >
      <button class="button-clip-gradient" (click)="window.file.open()">
        视频添加
      </button>
      <button class="button-clip-gradient" (click)="window.details.open()">
        手动添加
      </button>
      <button
        class="button-clip-gradient"
        [disabled]="table.selected.all.length == 0"
        (click)="delete.confirm()"
      >
        删除
      </button>
      <button
        class="button-clip-gradient"
        [disabled]="table.selected.all.length == 0"
        (click)="delete.confirm()"
      >
        启用
      </button>
      <button
        class="button-clip-gradient"
        [disabled]="table.selected.all.length == 0"
        (click)="delete.confirm()"
      >
        禁用
      </button>
    </div>
  </div>
  <div class="system-module-road-object-manager-body">
    <div class="system-module-road-object-manager-body-table">
      <ias-system-module-road-object-table
        [operable]="operable"
        [args]="table.args"
        [load]="table.load"
        (selected)="table.on.select($event)"
        (loaded)="table.on.load($event)"
        (modify)="window.details.open($event)"
        (itemover)="table.on.item.over($event)"
        (itemout)="table.on.item.out($event)"
        [page]="table.picture.page"
        (picture)="window.picture.open($event)"
        (position)="table.on.position($event)"
      ></ias-system-module-road-object-table>
    </div>
    <div class="system-module-road-object-manager-body-map">
      <ias-system-module-road-object-map
        [datas]="table.datas"
        [selected]="table.selected.current"
        [itemover]="map.over"
        [itemout]="map.out"
        (itemdblclick)="window.details.open($event)"
      ></ias-system-module-road-object-map>
    </div>
  </div>

  <confirm-window
    *ngIf="window.confirm.show"
    [model]="window.confirm"
    [content]="window.confirm.content"
    (ok)="delete.ok()"
    (cancel)="delete.cancel()"
  >
  </confirm-window>

  <ias-window
    [Model]="window.file"
    *ngIf="window.file.show"
    [style]="window.file.style"
    [title]="window.file.title"
  >
    <ias-system-module-file-manager
      [iswindow]="true"
      [videoable]="false"
      (video)="window.video.open($event)"
      [(folder)]="window.file.folder"
      [next]="window.file.next"
    ></ias-system-module-file-manager>
  </ias-window>
  <ias-window
    [Model]="window.video"
    *ngIf="window.video.show"
    [style]="window.video.style"
    [title]="window.video.title"
  >
    <ias-system-module-road-object-video-manager
      [data]="window.video.data"
      [objects]="table.datas"
      (pickup)="file.on.pickup($event)"
      (details)="window.details.open($event)"
      (close)="window.video.show = false"
      (next)="window.file.on.next($event)"
    ></ias-system-module-road-object-video-manager>
  </ias-window>
  <ias-window
    [Model]="window.details"
    *ngIf="window.details.show"
    [style]="window.details.style"
    [title]="window.details.title"
  >
    <ias-system-module-road-object-details-manager
      [data]="window.details.data"
      [pickup]="window.details.pickup"
      (picture)="window.details.picture($event)"
      (ok)="reload()"
      (close)="window.details.show = false"
    ></ias-system-module-road-object-details-manager>
  </ias-window>
  <ias-window
    *ngIf="window.picture.show"
    [Model]="window.picture"
    [style]="window.picture.style"
    [title]="window.picture.title"
    [mask]="!window.opened"
  >
    <ias-picture-list
      [id]="window.picture.id"
      [zoom]="false"
      [page]="window.picture.page"
      (pageChange)="window.picture.change($event)"
    ></ias-picture-list>
  </ias-window>
</div>
