<div class="system-event-index">
  <div class="system-event-index-body">
    <div class="system-event-index-body-list">
      <div class="system-event-index-body-list-item" (click)="on.shop()">
        <div class="system-event-index-body-list-item-icon shop"></div>
        <div class="system-event-index-body-list-item-name">商铺事件</div>
      </div>
      <div class="system-event-index-body-list-item" (click)="on.realtime()">
        <div class="system-event-index-body-list-item-icon realtime"></div>
        <div class="system-event-index-body-list-item-name">实时事件</div>
      </div>

      <div class="system-event-index-body-list-item" (click)="on.analysis()">
        <div class="system-event-index-body-list-item-icon analysis"></div>
        <div class="system-event-index-body-list-item-name">分析事件</div>
      </div>
    </div>
  </div>
</div>
