<div class="system-main-card-event-mobile-table">
  <div class="system-main-card-event-mobile-table-body table-split">
    <div class="table-split-head">
      <table border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <thead>
          <tr>
            <th>事件时间</th>
            <th>事件类型</th>
            <th class="center">状态</th>
            <th class="center">操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-split-body">
      <table border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas; let index = index"
            [ngClass]="{
              selected: selected == item
            }"
            (click)="on.select(item)"
            (dblclick)="on.position(item)"
          >
            <td>
              {{ item.EventTime | date : "HH:mm:ss" }}
            </td>
            <td [title]="item.EmergencyDescription ?? ''">
              {{ item.EmergencyDescription }}
            </td>
            <td class="center">
              @if(!item.Assignment?.Handled){
              <span [style.color]="Color.yellow">未处置</span>
              } @else{ @if(item.Assignment?.IsMisInfo){
              <span [style.color]="Color.cyan">误报</span>
              } @else{ 已处置 } } @if(item.IsTimeout){ /
              <span class="text-orange">高频</span>
              }
            </td>
            <td class="center">
              <div class="operation">
                <div class="button" title="详细信息" (click)="on.details(item)">
                  <i class="mdi mdi-file-document"></i>
                </div>
                <div
                  class="button"
                  title="事件发生位置"
                  (click)="on.position(item)"
                  [class.disabled]="!item.Location"
                >
                  <i class="mdi mdi-map-marker"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
