.system-statistic-road-object {
  @gap: 15px;

  &-manager {
    height: 100%;
    width: 100%;

    padding: 25px;
    padding-top: 12px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    gap: @gap;

    overflow-y: auto;
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-map {
    padding: 0;
    height: calc(608px);
    position: relative;
    flex-shrink: 0;

    &-state {
      position: absolute;
      left: 20px;
      top: 20px;
    }
  }

  &-timeline {
    width: 100%;
    min-height: 209px;
    flex-shrink: 0;
  }




}
