<div
  class="system-statistic-road-object-map-info-simple root-router"
  [class]="color"
  *ngIf="data"
>
  <div
    class="system-statistic-road-object-map-info-simple-point top"
    *ngIf="anchor == 'top'"
  >
    <div class="system-statistic-road-object-map-info-simple-point-inner"></div>
  </div>
  <div class="system-statistic-road-object-map-info-simple-container">
    <div class="system-statistic-road-object-map-info-simple-head">
      <i class="howell-icon-point"></i>
      {{ name.event }}
    </div>
    <div class="system-statistic-road-object-map-info-simple-body">
      <div
        class="system-statistic-road-object-map-info-simple-body-content type"
      >
        <div
          class="system-statistic-road-object-map-info-simple-body-content-icon"
        >
          <i [class]="icon"></i>
        </div>
        <div
          class="system-statistic-road-object-map-info-simple-body-content-value"
        >
          {{ name.type }}
        </div>
      </div>
      <div
        class="system-statistic-road-object-map-info-simple-body-content time"
      >
        <div
          class="system-statistic-road-object-map-info-simple-body-content-icon"
        >
          <i class="mdi mdi-clock"></i>
        </div>
        <div
          class="system-statistic-road-object-map-info-simple-body-content-value"
        >
          {{ data.EventTime | date : "HH:mm:ss" }}
        </div>
      </div>
    </div>
  </div>
  <div
    class="system-statistic-road-object-map-info-simple-point bottom"
    *ngIf="anchor == 'bottom'"
  >
    <div class="system-statistic-road-object-map-info-simple-point-inner"></div>
  </div>
</div>
