<div class="system-main-manager root-route">
  <ias-system-main-map
    [over]="map.over"
    [out]="map.out"
    [select]="map.select"
    [moveto]="map.moveto"
    (shopclick)="map.on.shop.select($event)"
    (shopdblclick)="map.on.shop.details($event)"
    (sampledblclick)="map.on.sample($event)"
    (devicedblclick)="map.on.device($event)"
    [shops]="map.data.shop"
    [devices]="map.data.device"
    [realtimes]="map.data.realtime"
    [timeouts]="map.data.timeout"
    [samples]="map.data.sample"
    (alarmvideo)="alarm.on.video($event)"
    (alarmpicture)="map.on.picture($event)"
    [heatmapload]="map.heatmap.load"
    [shopdisplay]="map.display.shop"
    [devicedisplay]="map.display.device"
    [realtimedisplay]="map.display.realtime"
    [timeoutdisplay]="map.display.timeout"
    [sampledisplay]="map.display.sample"
    [heatmapdisplay]="map.display.heatmap"
  ></ias-system-main-map>

  <div
    class="system-main-manager-heatmap-filter panel-map"
    *ngIf="panel.navigation.index == Navigation.heatmap"
  >
    <ias-system-main-map-heatmap-filter
      (loaded)="map.on.heatmap($event)"
    ></ias-system-main-map-heatmap-filter>
  </div>

  <div class="system-main-manager-state-shop" *ngIf="global.display.map.shop">
    <ias-system-main-map-state-shop
      *ngIf="panel.state.shop.show"
      [datas]="shop.data.registration"
      [(selected)]="shop.args.states!"
      (selectedChange)="map.on.shop.filter($event)"
    ></ias-system-main-map-state-shop>
  </div>

  <div class="system-main-manager-state-event">
    <ias-system-map-statistic
      *ngIf="panel.state.realtime.show"
      [value]="map.data.realtime.length"
      [type]="'realtime'"
      [title]="'实时事件'"
      (click)="card.statistic.pie.on.item(EventMode.realtime, duration)"
    ></ias-system-map-statistic>
    <ias-system-map-statistic
      *ngIf="panel.state.timeout.show"
      [value]="map.data.timeout.length"
      [type]="'timeout'"
      [title]="'高频事件'"
      (click)="card.statistic.pie.on.item(EventMode.realtime, duration, true)"
    ></ias-system-map-statistic>
    <ias-system-map-statistic
      *ngIf="panel.state.sample.show"
      [value]="map.data.sample.length"
      [type]="'gps'"
      [title]="'场景事件'"
      (click)="card.statistic.pie.on.item(EventMode.gpstask, duration)"
    ></ias-system-map-statistic>
  </div>

  <div
    class="system-main-manager-card-list left"
    *ngIf="panel.navigation.index != Navigation.heatmap"
  >
    <div class="system-main-manager-card-item">
      <ias-system-main-card-statistic-number
        *ngIf="card.statistic.number.show"
        [load]="load"
        (itemclick)="card.statistic.number.on.item($event)"
      ></ias-system-main-card-statistic-number>
    </div>
    <div class="system-main-manager-card-item">
      <ias-system-main-card-shop-statistic
        *ngIf="card.shop.statistic.show"
        [load]="load"
      ></ias-system-main-card-shop-statistic>
      <ias-system-main-card-device-state
        *ngIf="card.device.state.show"
        [load]="load"
      ></ias-system-main-card-device-state>
    </div>
    <div class="system-main-manager-card-item">
      <ias-system-main-card-statistic-event
        *ngIf="card.statistic.pie.show"
        [load]="load"
        [(duration)]="card.statistic.pie.duration"
        (type)="card.statistic.pie.on.item($event)"
      >
      </ias-system-main-card-statistic-event>
      <ias-system-main-card-statistic-event-shop
        *ngIf="card.shop.pie.show"
        [load]="load"
        [duration]="card.shop.pie.duration"
        (durationChange)="card.shop.pie.on.duration($event)"
        (type)="card.shop.pie.on.item($event)"
      >
      </ias-system-main-card-statistic-event-shop>
      <ias-system-main-card-event-realtime-statistic
        *ngIf="card.realtime.pie.show"
        [load]="load"
        [duration]="card.realtime.pie.duration"
        (durationChange)="card.realtime.pie.on.duration($event)"
        (type)="card.realtime.pie.on.type($event)"
      ></ias-system-main-card-event-realtime-statistic>
      <ias-system-main-card-device-route-statistic
        *ngIf="card.device.route.show"
        [load]="load"
        (itemclick)="card.realtime.pie.on.item($event)"
      >
      </ias-system-main-card-device-route-statistic>
    </div>
  </div>
  <div
    class="system-main-manager-card-list right"
    *ngIf="panel.navigation.index != Navigation.heatmap"
  >
    <div class="system-main-manager-card-item">
      <ias-system-main-card-statistic-number-division-list [load]="load">
      </ias-system-main-card-statistic-number-division-list>
    </div>
    <div class="system-main-manager-card-item">
      <ias-system-main-card-event-chart-line-realtime
        *ngIf="card.realtime.line.show"
        [load]="load"
      ></ias-system-main-card-event-chart-line-realtime>
      <ias-system-main-card-event-chart-line-shop
        *ngIf="card.shop.line.show"
        [load]="load"
      ></ias-system-main-card-event-chart-line-shop>
      <ias-system-main-card-event-chart-line-sample
        *ngIf="card.gpstask.line.show"
        [load]="load"
      >
      </ias-system-main-card-event-chart-line-sample>
    </div>
    <div class="system-main-manager-card-item">
      <ias-system-main-card-event-table
        [mode]="card.statistic.table.mode"
        [modeable]="card.statistic.table.modeable"
        [shops]="shop.data.record"
        [realtimes]="realtime.datas"
        [samples]="gps.task.datas"
        (position)="card.statistic.table.on.position($event)"
        (details)="card.statistic.table.on.details($event)"
      ></ias-system-main-card-event-table>
    </div>
  </div>
  <div class="system-main-manager-panel-list" *ngIf="panel.list.show">
    <ias-system-main-panel-shop-registration-table-manager
      [datas]="shop.data.registration"
      [(selected)]="shop.selected"
      (details)="table.on.details($event)"
      (position)="table.on.position($event)"
      (itemhover)="table.on.item.over($event)"
      (itemblur)="table.on.item.out($event)"
      (filter)="shop.search($event)"
      (close)="panel.button.list.clicked = false"
    ></ias-system-main-panel-shop-registration-table-manager>
  </div>
  <div
    class="system-main-manager-panel-details"
    [class.list]="panel.list.show"
    *ngIf="panel.details.show"
  >
    <ias-system-map-panel-details-shop-registration
      [data]="shop.selected"
      (picture)="panel.details.on.picture($event)"
      (close)="panel.details.show = false"
    ></ias-system-map-panel-details-shop-registration>
  </div>
  <div class="system-main-manager-navigation">
    <ias-system-main-map-navigation
      [index]="panel.navigation.index"
      (indexChange)="panel.navigation.change($event)"
    ></ias-system-main-map-navigation>
  </div>
</div>
<ias-system-main-manager-window
  [window]="window"
></ias-system-main-manager-window>
