<div class="system-main-manager root-route">
  <ias-system-main-map
    [over]="map.over"
    [out]="map.out"
    [select]="map.select"
    [moveto]="map.moveto"
    (shopclick)="map.on.shop.select($event)"
    (shopdblclick)="map.on.shop.details($event)"
    (sampledblclick)="map.on.sample($event)"
    (devicedblclick)="map.on.device($event)"
    [shops]="map.data.shop"
    [devices]="map.data.device"
    [realtimes]="map.data.realtime"
    [timeouts]="map.data.timeout"
    [samples]="map.data.sample"
    [roadobjects]="map.data.road.object"
    (alarmvideo)="alarm.on.video($event)"
    (alarmpicture)="map.on.picture($event)"
    [heatmapload]="map.heatmap.load"
    [shopdisplay]="map.display.shop"
    [devicedisplay]="map.display.device"
    [realtimedisplay]="map.display.realtime"
    [timeoutdisplay]="map.display.timeout"
    [sampledisplay]="map.display.sample"
    [heatmapdisplay]="map.display.heatmap"
    [roadobjectdisplay]="map.display.road.object"
    [heatmaptext]="map.heatmap.textable"
  ></ias-system-main-map>

  <div
    class="system-main-manager-operation-heatmap"
    *ngIf="panel.navigation.index == Navigation.heatmap"
  >
    <ias-system-main-map-heatmap-settings
      [(textable)]="map.heatmap.textable"
    ></ias-system-main-map-heatmap-settings>
  </div>

  <div
    class="system-main-manager-heatmap-filter panel-map"
    *ngIf="panel.navigation.index == Navigation.heatmap"
  >
    <ias-system-main-map-heatmap-filter
      (loaded)="map.on.heatmap($event)"
    ></ias-system-main-map-heatmap-filter>
  </div>

  <div class="system-main-manager-state-shop" *ngIf="global.display.map.shop">
    <ias-system-main-map-state-shop
      *ngIf="panel.state.shop.show"
      [datas]="shop.data.registration"
      [(selected)]="shop.args.states!"
      (selectedChange)="map.on.shop.filter($event)"
    ></ias-system-main-map-state-shop>
  </div>

  <div class="system-main-manager-state-event">
    <ias-system-map-statistic
      *ngIf="panel.state.realtime.show"
      [value]="map.data.realtime.length"
      [type]="'realtime'"
      [title]="'实时事件'"
      (click)="card.statistic.pie.on.item(EventMode.realtime, duration)"
    ></ias-system-map-statistic>
    <ias-system-map-statistic
      *ngIf="panel.state.timeout.show"
      [value]="map.data.timeout.length"
      [type]="'timeout'"
      [title]="'高频事件'"
      (click)="card.statistic.pie.on.item(EventMode.realtime, duration, true)"
    ></ias-system-map-statistic>
    <ias-system-map-statistic
      *ngIf="panel.state.sample.show"
      [value]="map.data.sample.length"
      [type]="'gps'"
      [title]="'场景事件'"
      (click)="card.statistic.pie.on.item(EventMode.gpstask, duration)"
    ></ias-system-map-statistic>
  </div>

  <ias-system-main-manager-card
    [panel]="panel"
    [card]="card"
    [load]="load"
    [shops]="shop.data.record"
    [realtimes]="realtime.datas"
    [samples]="gps.task.datas"
  ></ias-system-main-manager-card>
  <div class="system-main-manager-panel-list" *ngIf="panel.list.show">
    <ias-system-main-panel-shop-registration-table-manager
      [datas]="shop.data.registration"
      [(selected)]="shop.selected"
      (details)="table.on.details($event)"
      (position)="table.on.position($event)"
      (itemhover)="table.on.item.over($event)"
      (itemblur)="table.on.item.out($event)"
      (filter)="shop.search($event)"
      (close)="panel.button.list.clicked = false"
    ></ias-system-main-panel-shop-registration-table-manager>
  </div>
  <div
    class="system-main-manager-panel-details"
    [class.list]="panel.list.show"
    *ngIf="panel.details.show"
  >
    <ias-system-map-panel-details-shop-registration
      [data]="shop.selected"
      (picture)="panel.details.on.picture($event)"
      (close)="panel.details.show = false"
    ></ias-system-map-panel-details-shop-registration>
  </div>
  <div class="system-main-manager-navigation">
    <ias-system-main-map-navigation
      [index]="panel.navigation.index"
      (indexChange)="panel.navigation.change($event)"
    ></ias-system-main-map-navigation>
  </div>
</div>
<ias-system-main-manager-window
  [window]="window"
></ias-system-main-manager-window>
