.direction-sort-control {
  height: 100%;
  width: max-content;
  position: relative;


  &-button {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 5px;
  }

  &-content {
    position: absolute;
    border: 1px solid #2d76ce;
    background-color: #080E2B;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    gap: 10px;

    right: 1px;
    box-shadow: 0 0 5px 5px rgba(45, 118, 206, 0.3);

    &.top {
      bottom: calc(100% + 2px);
    }

    &.down {
      top: calc(100% + 2px);
    }


    // &>* {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }

    &-switch {
      display: flex;
      align-items: center;

      .switch {
        height: 100%;
        width: max-content;

        &-item {
          padding: 5px 10px;
        }
      }
    }

  }
}
