.system-module-road-object-stock-transform-info {
  width: 100%;
  height: 100%;

  .form {

    &s {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }


    &-item {
      height: 36px;
      width: calc((100% - 10px) * 0.5);

      &-text {
        &>.name {
          width: 95px;
        }
      }
    }
  }
}
