<div class="system-task-route-manager">
  <div class="system-task-route-manager-statistic">
    <ias-system-task-route-statistic
      [data]="data"
      (analysis)="on.analysis($event)"
      (registration)="on.registration($event)"
    ></ias-system-task-route-statistic>
  </div>

  <div class="system-task-route-manager-map">
    <ias-system-task-route-map-manager
      [data]="data"
      (current)="on.current($event)"
      (video)="on.video($event)"
      (picture)="on.picture($event)"
    ></ias-system-task-route-map-manager>
  </div>
</div>
