.system-module-shop-registration-map-panel-history-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;

  &-head {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
  }

  &-body {
    width: 100%;
    height: calc(100% - 10px - 28px - 10px - 36px);
  }

  &-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;

    .count {
      span {
        color: white
      }
    }
  }
}
