<div
  class="system-statistic-road-object-map-state-item root-router"
  [class.selected]="selected"
  [class]="data.color"
>
  <div class="system-statistic-road-object-map-state-item-icon">
    <i [class]="data.icon"></i>
  </div>
  <div class="system-statistic-road-object-map-state-item-info">
    <div class="system-statistic-road-object-map-state-item-info-name">
      {{ data.name }}
    </div>
    <div class="system-statistic-road-object-map-state-item-info-value">
      {{ data.value }}
    </div>
  </div>
  <div
    class="system-statistic-road-object-map-state-item-line"
    *ngIf="selected"
  ></div>
</div>
