<div class="system-task-route-map-panel-table-shop-registration">
  <div
    class="system-task-route-map-panel-table-shop-registration-body table-page-list"
  >
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th class="center">#</th>
          <th>名称</th>
          <th>是否检测</th>
          <th class="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of datas; let index = index"
          [ngClass]="{ selected: item === selected, nodata: !item }"
          (click)="on.select(item)"
          (dblclick)="on.position($event, item)"
          (mouseover)="on.mouse.over(item)"
          (mouseout)="on.mouse.out(item)"
        >
          <td class="center">
            <span *ngIf="item">{{
              page.PageSize * (page.PageIndex - 1) + index + 1
            }}</span>
          </td>
          <td [title]="item?.Name ?? ''">
            {{ item?.Name }}
          </td>
          <td>
            <span
              *ngIf="item"
              [ngStyle]="{
              color: item.Detected ? '#1e90ff' : '#ff762c',
            }"
              >{{ item.Detected ? "已检测" : "未检测" }}</span
            >
          </td>
          <td class="center">
            <div class="operation" *ngIf="!!item">
              <div class="button" title="视频" (click)="on.video($event, item)">
                <i class="howell-icon-video"></i>
              </div>
              <div
                class="button"
                title="定位"
                (click)="on.position($event, item)"
              >
                <i class="mdi mdi-map-marker"></i>
              </div>
              <div
                class="button"
                title="商铺详情"
                (click)="on.details($event, item)"
              >
                <i class="howell-icon-details"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="system-task-route-map-panel-table-shop-registration-foot"
    *ngIf="page.TotalRecordCount"
  >
    <paginator
      [page]="page"
      [jump]="false"
      [total]="false"
      [gapable]="page.PageCount > 6"
      (change)="on.page($event)"
    >
    </paginator>
  </div>
</div>
