<div
  class="system-task-manager root-router"
  [style.padding]="iswindow ? 0 : undefined"
>
  <div class="system-task-manager-head">
    <div class="system-task-manager-head-tabs tab-group" *ngIf="tabable">
      <div
        class="tab-item"
        [ngClass]="{
          selected: table.args.finished === undefined
        }"
        (click)="onstate()"
      >
        <div class="tab-item-inner">全部</div>
      </div>
      <div
        class="tab-item"
        [ngClass]="{
          selected: table.args.finished === false
        }"
        (click)="onstate(false)"
      >
        <div class="tab-item-inner">进行中</div>
      </div>
      <div
        class="tab-item"
        [ngClass]="{
          selected: table.args.finished === true
        }"
        (click)="onstate(true)"
      >
        <div class="tab-item-inner">已完成</div>
      </div>
    </div>
    <div *ngIf="tabable"></div>
    <div class="system-task-manager-head-operation">
      <div class="system-task-manager-head-operation-filter forms">
        <div class="form-item date">
          <div class="form-item-text">开始时间</div>
          <div class="form-item-value">
            <date-time-control
              [(date)]="table.args.duration.begin"
              [format]="Language.yyyyMMdd"
            ></date-time-control>
          </div>
        </div>
        <div class="form-item date">
          <div class="form-item-text">结束时间</div>
          <div class="form-item-value">
            <date-time-control
              [(date)]="table.args.duration.end"
              [format]="Language.yyyyMMdd"
            ></date-time-control>
          </div>
        </div>
        <div class="form-item duration" *ngIf="!duration">
          <div class="form-item-text">时间范围</div>
          <div class="form-item-value">
            <select
              [(ngModel)]="filter.duration.value"
              (change)="filter.duration.onchange()"
            >
              <option
                *ngFor="let item of controller.duration.source"
                [ngValue]="item.Value"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">任务名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="table.args.name" />
          </div>
        </div>
        <div class="form-item submit">
          <button class="button-clip-gradient" (click)="filter.onsearch()">
            查找
          </button>
        </div>
      </div>
      <div class="system-task-manager-head-operation-buttons" *ngIf="operable">
        <button class="button-clip-gradient" (click)="create.open()">
          新建
        </button>
      </div>
      <!-- <div>
          <button class="button-clip-gradient" (click)="delete.confirm()">
            删除
          </button>
        </div> -->
    </div>
  </div>
  <div class="system-task-manager-body">
    <ias-system-task-table
      [args]="table.args"
      [load]="table.load"
      [progress]="controller.file.progress.task"
      (delete)="delete.confirm($event)"
      (result)="table.on.result($event)"
      (route)="table.on.route($event)"
      (details)="table.on.details($event)"
      (files)="table.on.files($event)"
      (error)="table.on.error($event)"
      (analysis)="table.on.analysis($event)"
    ></ias-system-task-table>
  </div>

  <ias-window
    *ngIf="window.creation.show"
    [Model]="window.creation"
    [style]="window.creation.style"
    [title]="'添加分析任务'"
  >
    <ias-system-task-creation
      (close)="window.creation.show = false"
      (ok)="create.ok($event)"
    ></ias-system-task-creation>
  </ias-window>
  <ias-window
    *ngIf="window.result.show"
    [Model]="window.result"
    [style]="window.result.style"
    [title]="window.result.title"
  >
    <ias-system-task-result
      [data]="window.result.data"
      (close)="window.result.show = false"
    ></ias-system-task-result>
  </ias-window>
  <ias-window
    *ngIf="window.route.show"
    [Model]="window.route"
    [style]="window.route.style"
    [title]="window.route.title"
  >
    <ias-system-task-route-manager
      [data]="window.route.data"
      (current)="route.on.current($event)"
      (analysis)="route.on.analysis($event)"
      (registration)="route.on.registration($event)"
      (video)="route.on.video($event)"
      (picture)="picture.on($event)"
    ></ias-system-task-route-manager>
  </ias-window>
  <ias-window
    *ngIf="window.details.show"
    [Model]="window.details"
    [style]="window.details.style"
    [title]="'AI分析任务详情'"
  >
    <ias-system-task-details
      [data]="window.details.data"
      [files]="window.details.files"
      [fileprogress]="controller.file.progress.file"
      [taskprogress]="controller.file.progress.task"
      (close)="window.details.show = false"
      (analysis)="on.completed($event)"
    ></ias-system-task-details>
  </ias-window>

  <ias-window
    *ngIf="window.shop.analysis.show"
    [Model]="window.shop.analysis"
    [style]="window.shop.analysis.style"
    [title]="window.shop.analysis.title"
  >
    <ias-system-task-shop-analysis-manager
      [data]="window.shop.analysis.data"
      [status]="window.shop.analysis.status"
      (video)="route.on.video($event)"
      (picture)="picture.on($event)"
    ></ias-system-task-shop-analysis-manager>
  </ias-window>
  <ias-window
    *ngIf="window.shop.registration.show"
    [Model]="window.shop.registration"
    [style]="window.shop.registration.style"
    [title]="window.shop.registration.title"
  >
    <ias-system-task-shop-registration-manager
      [detected]="window.shop.registration.state"
      [task]="window.shop.registration.data"
      (video)="route.on.video($event)"
      (picture)="picture.on($event)"
    ></ias-system-task-shop-registration-manager>
  </ias-window>
  <ias-window
    *ngIf="window.video.show && window.video.args"
    [Model]="window.video"
    [style]="window.video.style"
    [title]="window.video.title"
    [CloseButton]="false"
  >
    <div ngProjectAs="window-head-operation" class="window-video-operation">
      <div class="forms">
        <div class="form-item">
          <div class="form-item-text">前后时长</div>
          <div class="form-item-value">
            <select
              [(ngModel)]="window.video.args.Duration"
              (change)="window.video.change()"
            >
              <!-- <option [ngValue]="undefined">全部</option> -->
              <option [ngValue]="5">5秒</option>
              <option [ngValue]="10">10秒</option>
              <option [ngValue]="15">15秒</option>
              <option [ngValue]="30">30秒</option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">摄像机:</div>
          <div class="form-item-value">
            <select
              [(ngModel)]="window.video.args.Channel"
              (change)="window.video.change()"
            >
              <!-- <option [ngValue]="undefined">全部</option> -->
              <option
                *ngFor="let item of controller.channels | async"
                [ngValue]="item.Value"
              >
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="button" (click)="window.video.show = false">
            <i class="howell-icon-Close"></i>
          </div>
        </div>
      </div>
    </div>
    <ias-system-task-video [args]="window.video.args"></ias-system-task-video>
  </ias-window>
  <confirm-window
    *ngIf="window.confirm.show"
    [model]="window.confirm"
    [content]="window.confirm.content"
    (ok)="delete.ok()"
    (cancel)="window.confirm.show = false"
  >
  </confirm-window>
  <ias-window
    *ngIf="window.picture.show"
    [Model]="window.picture"
    [style]="window.picture.style"
    [title]="window.picture.title"
  >
    <howell-container-page
      [page]="window.picture.page"
      (pageChange)="picture.change($event)"
    >
      <howell-container-zoom>
        <ias-picture-polygon
          [id]="window.picture.src"
          [polygon]="window.picture.polygon"
        >
        </ias-picture-polygon>
      </howell-container-zoom>
    </howell-container-page>
  </ias-window>
  <ias-window
    *ngIf="window.file.show"
    [Model]="window.file"
    [style]="window.file.style"
    [title]="window.file.title"
    [CloseButton]="false"
  >
    <div
      ngProjectAs="window-head-operation"
      class="window-file-operation button-group"
    >
      <button
        class="button-clip-gradient"
        [disabled]="window.file.selecteds.length < 2"
        (click)="window.file.on.multiple()"
      >
        多视频播放
      </button>
      <button (click)="window.file.on.close()">
        <i class="howell-icon-Close"></i>
      </button>
    </div>
    <ias-system-task-file-manager
      [iswindow]="true"
      [task]="window.file.data"
      [multiple]="window.file.multiple"
      [(selecteds)]="window.file.selecteds"
    ></ias-system-task-file-manager>
  </ias-window>
</div>
