<div class="system-event-manager-shop">
  <div class="system-event-manager-shop-head">
    <div class="system-event-manager-shop-head-filter">
      <div class="forms">
        <div class="form-item">
          <div class="form-item-text">开始时间</div>
          <div class="form-item-value">
            <date-time-control
              [(date)]="table.args.duration.begin"
            ></date-time-control>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">结束时间</div>
          <div class="form-item-value">
            <date-time-control
              [(date)]="table.args.duration.end"
            ></date-time-control>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">事件类型</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.type">
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="item.Value" *ngFor="let item of source.type">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-item">
          <div class="form-item-text">状态</div>
          <div class="form-item-value">
            <select [(ngModel)]="table.args.state">
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="item.Value" *ngFor="let item of source.state">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">任务</div>
          <div class="form-item-value">
            <!-- <select [(ngModel)]="table.args.taskId">
              <option [ngValue]="undefined">全部</option>
              <option [ngValue]="item.Id" *ngFor="let item of source.task">
                {{ item.Name }}
              </option>
            </select> -->
            <ias-input-select-task
              [(tasks)]="source.task"
              (selectedChange)="table.task.change($event)"
            ></ias-input-select-task>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">触发源名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="table.args.resource" />
          </div>
        </div>
        <div class="form-item">
          <button class="button-clip-gradient" (click)="table.search()">
            查找
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="system-event-manager-shop-body">
    <ias-system-event-table-shop
      [args]="table.args"
      [load]="table.load"
      [processget]="controller.process.get"
      (picture)="table.on.picture($event)"
      (process)="table.on.process($event)"
      (task)="table.on.task($event)"
      (video)="table.on.video($event)"
      (details)="table.on.details($event)"
    ></ias-system-event-table-shop>
  </div>

  <ias-window
    [Model]="window.process.sign.discover"
    *ngIf="window.process.sign.discover.show"
    [style]="window.process.sign.discover.style"
    [title]="window.process.sign.discover.title"
    [CloseButton]="false"
  >
    <div ngProjectAs="window-head-operation" class="window-head-operation">
      <label for="system-event-handle-auto">
        <input
          type="checkbox"
          id="system-event-handle-auto"
          [(ngModel)]="controller.process.auto"
        />
        自动下一条
      </label>
      <button (click)="window.process.sign.discover.show = false">
        <i class="howell-icon-Close"></i>
      </button>
    </div>
    <ias-system-event-process-sign-disconver
      [data]="window.process.sign.discover.data"
      [load]="controller.process.sign.discover.load"
      (cancel)="window.process.sign.discover.show = false"
      (picture)="picture.open($event)"
      (marking)="controller.process.sign.discover.on.marking($event)"
      (merge)="controller.process.sign.discover.on.merge($event)"
      (create)="controller.process.sign.discover.on.create($event)"
      (shopedit)="controller.process.sign.discover.on.edit($event)"
      (loaded)="controller.process.sign.discover.on.loaded($event)"
    ></ias-system-event-process-sign-disconver>
  </ias-window>
  <ias-window
    [Model]="window.process.sign.disappear"
    *ngIf="window.process.sign.disappear.show"
    [style]="window.process.sign.disappear.style"
    [title]="window.process.sign.disappear.title"
  >
    <ias-system-event-process-sign-disappear
      [data]="window.process.sign.disappear.data"
      (cancel)="window.process.sign.disappear.show = false"
      (picture)="picture.open($event)"
      (misinfo)="controller.process.sign.disappear.on.misinfo($event)"
      (delete)="controller.process.sign.disappear.on.delete($event)"
    ></ias-system-event-process-sign-disappear>
  </ias-window>
  <ias-window
    [Model]="window.details"
    *ngIf="window.details.show"
    [style]="window.details.style"
    [title]="window.details.title"
  >
    <ias-system-event-process-details
      [data]="window.details.data"
      (cancel)="window.details.show = false"
      (picture)="picture.open($event)"
    ></ias-system-event-process-details>
  </ias-window>
  <ias-window
    [Model]="window.shop"
    *ngIf="window.shop.show"
    [style]="window.shop.style"
    [title]="window.shop.title"
  >
    <ias-system-module-shop-registration-information
      [data]="window.shop.data"
      [input]="true"
      [around]="controller.process.sign.discover.points"
      (close)="window.shop.show = false"
      (ok)="controller.process.sign.discover.on.shop.create()"
    ></ias-system-module-shop-registration-information>
  </ias-window>
  <ias-window
    [Model]="window.edit.name"
    *ngIf="window.edit.name.show"
    [style]="window.edit.name.style"
    [title]="window.edit.name.title"
  >
    <ias-system-event-process-shop-name
      [data]="window.edit.name.data"
      (close)="window.edit.name.show = false"
      (ok)="controller.process.sign.discover.on.shop.edit()"
    ></ias-system-event-process-shop-name>
  </ias-window>

  <ias-window
    [Model]="window.task"
    *ngIf="window.task.show"
    [style]="window.task.style"
    [title]="'AI分析工单'"
  >
    <ias-system-event-task [data]="window.task.data"></ias-system-event-task>
  </ias-window>

  <confirm-window
    *ngIf="window.confirm.show"
    [model]="window.confirm"
    (ok)="confirm.ok()"
    (cancel)="confirm.close()"
  >
    <div class="confirm-window" [innerHTML]="window.confirm.message"></div>
  </confirm-window>

  <ias-window
    [Model]="window.picture"
    *ngIf="window.picture.show && window.picture.args"
    [style]="window.picture.style"
    [title]="window.picture.title"
  >
    <ias-picture-list
      [id]="window.picture.args.id"
      [polygon]="window.picture.args.polygon"
      [zoom]="window.picture.args.polygon.length > 0"
      [page]="window.picture.page"
      (pageChange)="picture.change($event)"
    ></ias-picture-list>
  </ias-window>
  <ias-window
    [Model]="window.video"
    *ngIf="window.video.show"
    [style]="window.video.style"
    [title]="window.video.title"
  >
    <ias-system-event-video [data]="window.video.data"></ias-system-event-video>
  </ias-window>
</div>
