<div class="system-module-road-object-details-manager">
  <div class="system-module-road-object-details-manager-body">
    <div class="system-module-road-object-details-medium">
      <div
        class="system-module-road-object-details-image panel"
        [class.hide]="image.hidden"
      >
        <ias-system-module-road-object-details-image
          [url]="model.ImageUrl"
          [load]="image.load"
          (upload)="image.upload($event)"
          (picture)="image.open()"
        ></ias-system-module-road-object-details-image>
      </div>
      <div class="system-module-road-object-details-map panel">
        <ng-container *ngIf="In.point">
          <ias-system-module-road-object-details-map
            [(position)]="map.point.gcj02"
            (positionChange)="map.point.on.gcj02($event)"
            [state]="map.state"
            [type]="map.type"
            [get]="map.point.get"
            (error)="on.error($event)"
          ></ias-system-module-road-object-details-map>
        </ng-container>
        <ng-container *ngIf="In.line">
          <ias-system-module-road-object-details-map-line
            [datas]="map.line.datas"
            [creating]="map.line.creating"
            [editing]="map.line.editing"
          >
          </ias-system-module-road-object-details-map-line>
        </ng-container>
        <div class="system-module-road-object-details-map-buttons">
          <div
            class="button panel-map"
            *ngIf="!image.hidden"
            (click)="image.hidden = true"
          >
            <i class="mdi mdi-arrow-expand"></i>
          </div>
          <div
            class="button panel-map"
            *ngIf="image.hidden"
            (click)="image.hidden = false"
          >
            <i class="mdi mdi-arrow-collapse"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="system-module-road-object-details-info">
      <div class="system-module-road-object-details-info-base panel panel-flex">
        <div class="panel-head">
          <div class="panel-title">基本信息</div>
          <div>
            <label for="road_object_disable">
              启用
              <input
                id="road_object_disable"
                type="checkbox"
                [checked]="!model.Disable"
                (change)="model.Disable = !model.Disable"
              />
            </label>
          </div>
        </div>
        <div class="panel-body">
          <ias-system-module-road-object-details-info
            [data]="model"
            (dataChange)="on.change($event)"
            [(wgs84)]="map.point.wgs84"
            (wgs84Change)="map.point.on.wgs84($event)"
            [operable]="operable"
            [(linestep)]="map.line.step"
            (linestepChange)="map.line.on.step($event)"
            [linestepeditable]="linestepeditable"
          ></ias-system-module-road-object-details-info>
        </div>
      </div>
      <div class="system-module-road-object-details-info-config panel">
        <div class="panel-head">
          <div class="panel-title">目标图片采样配置</div>
          <div>
            <label for="image_sampling_enabled"
              >启用
              <input
                type="checkbox"
                id="image_sampling_enabled"
                [(ngModel)]="model.ImageSampling.Enabled"
            /></label>
          </div>
        </div>
        <div class="panel-body">
          <ias-system-module-road-object-details-config
            [(data)]="model.ImageSampling"
            [operable]="operable"
            (course)="window.course.show = true"
          ></ias-system-module-road-object-details-config>
        </div>
      </div>
      <div
        class="system-module-road-object-details-info-segment panel panel-flex"
      >
        <div class="panel-head">
          <div class="panel-title">工作表</div>
          <div
            class="system-module-road-object-details-info-segment-enabled button-group"
          >
            <label for="road_object_details_all_day">
              全天<input
                type="radio"
                id="road_object_details_all_day"
                [checked]="!model.BlockScheduleEnabled"
                (change)="schedule.enable(false)"
              />
            </label>
            <label for="road_object_details_segment"
              >分时段<input
                type="radio"
                id="road_object_details_segment"
                [checked]="model.BlockScheduleEnabled"
                (change)="schedule.enable(true)"
              />
            </label>
          </div>
        </div>
        <div class="panel-body">
          <ias-segment-week
            [(data)]="schedule.data"
            (dataChange)="schedule.change()"
            [disabled]="!model.BlockScheduleEnabled"
          ></ias-segment-week>
        </div>
      </div>
    </div>
  </div>
  <div class="system-module-road-object-details-manager-foot button-group">
    <button class="button-clip-gradient" (click)="on.create()" *ngIf="!data">
      确定
    </button>
    <button class="button-clip-gradient" (click)="on.update()" *ngIf="data">
      确定
    </button>
    <button class="button-clip-blue" (click)="on.cancel()">取消</button>
  </div>
</div>

<ias-window
  [Model]="window.course"
  *ngIf="window.course.show"
  [style]="window.course.style"
  [title]="window.course.title"
>
  <ias-angle-control
    [(value)]="this.model.ImageSampling.Course"
  ></ias-angle-control>
</ias-window>
