.management-system-status-process-table {
  height: 100%;
  width: 100%;
  transition: all 0.5s;

  &-body {
    height: 100%;
    width: 100%;
  }

  table {

    td:first-child,
    th:first-child {
      padding-left: 20px;
    }
  }
}
