<div class="system-module-road-object-table">
  <div class="system-module-road-object-table-body table-page">
    <table border="0" cellpadding="0" cellspacing="0" TableSorter>
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th class="center">序号</th>
          <th>图片</th>
          <th>名称</th>
          <th>类型</th>
          <th>物件分类</th>
          <th>行政区划</th>
          <th>责任网格</th>
          <th>健康度</th>
          <th>状态</th>
          <th class="center" *ngIf="operable">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of datas; let index = index"
          (click)="on.select(item)"
          [ngClass]="{
            selected: item && item === selected,
            nodata: !item
          }"
          [ngStyle]="{
            height: item ? 100 / page.PageSize + '%' : 0
          }"
          (dblclick)="on.position($event, item)"
          (mouseover)="on.mouse.over(item)"
          (mouseout)="on.mouse.out(item)"
        >
          <td class="center">
            <span *ngIf="item">{{
              page.PageSize * (page.PageIndex - 1) + index + 1
            }}</span>
          </td>

          <td>
            <div *ngIf="item">
              <div
                [ngClass]="{ noimage: !item?.Image }"
                class="image"
                [ngStyle]="{
                  backgroundImage: item.Image
                    ? 'url(' + item.Image + ')'
                    : 'none'
                }"
                (click)="on.picture($event, item)"
              ></div>
            </div>
          </td>
          <td [title]="item?.Name ?? ''">
            @if(item){
            <div>{{ item?.Name ?? "-" }}</div>
            }
          </td>
          <td>
            @if(item){
            {{ (item?.ObjectTypeName | async) ?? "-" }}
            }
          </td>
          <td>
            @if(item){
            {{ item?.Category ?? "-" }}
            }
          </td>
          <td [title]="(item?.Division | async)?.Name ?? ''">
            @if(item){
            {{ (item?.Division | async)?.Name ?? "-" }}
            }
          </td>
          <td [title]="(item?.GridCell | async)?.Name ?? ''">
            @if(item){
            {{ (item?.GridCell | async)?.Name ?? "-" }}
            }
          </td>
          <td>
            @if(item){
            {{ item?.Health ?? "-" }}
            }
          </td>
          <td [title]="item?.ObjectStateName ?? ''">
            @if(item){
            {{ (item?.ObjectStateName | async) || "-" }}
            }
          </td>
          <td class="center" *ngIf="operable">
            @if(item){
            <div class="operation">
              <div
                class="button"
                title="编辑"
                (click)="on.modify($event, item)"
              >
                <i class="howell-icon-modification"></i>
              </div>
              <div
                class="button"
                title="删除"
                (click)="on.delete($event, item)"
              >
                <i class="howell-icon-delete2"></i>
              </div>
            </div>
            }
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="system-module-road-object-table-foot"
    *ngIf="page.TotalRecordCount"
  >
    <paginator [page]="page" (change)="on.page($event)"> </paginator>
  </div>
</div>
