<div class="system-event-road-object-details-info" *ngIf="data">
  <div class="system-event-road-object-details-info-head-body forms">
    <ng-container *ngIf="resource">
      <div class="form-item">
        <div class="form-item-text baseline" text-space-between [suffix]="':'">
          触发源名称
        </div>
        <div class="form-item-value name">{{ resource.ResourceName }}</div>
      </div>
    </ng-container>
    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        物件类型
      </div>
      <div class="form-item-value">{{ data.RoadObjectName }}</div>
    </div>
    <div class="form-item" *ngIf="data.Category != undefined">
      <div class="form-item-text" text-space-between [suffix]="':'">
        物件分类
      </div>
      <div class="form-item-value">{{ data.Category }}</div>
    </div>
    <div class="form-item" *ngIf="data.Confidence">
      <div class="form-item-text" text-space-between [suffix]="':'">置信度</div>
      <div class="form-item-value">{{ data.Confidence }}</div>
    </div>
    <div class="form-item" *ngIf="data.Health != undefined">
      <div class="form-item-text" text-space-between [suffix]="':'">健康度</div>
      <div class="form-item-value">{{ data.Health }}</div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between [suffix]="':'">
        事件类型
      </div>
      <div class="form-item-value">{{ language.event }}</div>
    </div>

    <div class="form-item">
      <div class="form-item-text baseline" text-space-between [suffix]="':'">
        事件时间
      </div>
      <div class="form-item-value">
        {{ data.EventTime | date : Language.YearMonthDayHHmmss }}
      </div>
    </div>
    <div class="form-item" *ngIf="language.division">
      <div class="form-item-text baseline" text-space-between [suffix]="':'">
        行政区划
      </div>
      <div class="form-item-value">{{ language.division }}</div>
    </div>
    <div class="form-item" *ngIf="language.gridcell">
      <div class="form-item-text baseline" text-space-between [suffix]="':'">
        责任网格
      </div>
      <div class="form-item-value">{{ language.gridcell }}</div>
    </div>
    <div class="form-item" *ngIf="data.Address">
      <div class="form-item-text baseline" text-space-between [suffix]="':'">
        地址
      </div>
      <div class="form-item-value">{{ data.Address }}</div>
    </div>
    <div class="form-item" *ngIf="data.Description">
      <div class="form-item-text baseline" text-space-between [suffix]="':'">
        描述内容
      </div>
      <div class="form-item-value">{{ data.Description }}</div>
    </div>

    <div class="form-item" *ngIf="!data.Assignment || !data.Assignment.Handled">
      <div class="form-item-text" text-space-between [suffix]="':'">
        处置状态
      </div>
      <div class="form-item-value unhandle">待处置</div>
    </div>

    <ng-container *ngIf="data.Assignment && data.Assignment.Handled">
      <div class="form-item">
        <div class="form-item-text" text-space-between [suffix]="':'">
          处置状态
        </div>
        <div
          class="form-item-value"
          [ngClass]="{
            misinfo: data.Assignment.IsMisInfo,
            handled: !data.Assignment.IsMisInfo,
          }"
        >
          {{
            data.Assignment.IsMisInfo
              ? data.EventType === 9
                ? "屏蔽"
                : "误报"
              : "已处置"
          }}
        </div>
      </div>
      <div class="form-item" *ngIf="data.Assignment.AssociationDescription">
        <div class="form-item-text" text-space-between [suffix]="':'">
          处置描述
        </div>
        <div class="form-item-value">
          {{ data.Assignment.AssociationDescription }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
