.system-statistic-road-object-map {
  &-container {
    width: 100%;
    height: 100%;
    position: relative;

    .system-map-container {
      width: 100%;
      height: 100%;
      position: relative;
      background-image: none !important;



    }
  }

  &-state {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

}
