.system-task-route-map-manager {
  width: 100%;
  height: 100%;

  position: relative;

  &-search {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 400px;
  }

  &-details {
    position: absolute;
    top: calc(15px + 66px + 10px);
    left: 15px;
    width: 400px;
    height: calc(100% - 15px - 66px - 10px - 15px);

    &.left {
      left: calc(15px + 400px + 10px);
    }
  }

  &-list {
    position: absolute;
    top: calc(15px + 66px + 10px);
    left: 15px;
    width: 400px;
    height: calc(100% - 15px - 66px - 10px - 15px);
  }

  &-state {
    position: absolute;
    bottom: calc(15px);
    right: 15px;
    width: 200px;
    height: auto;
  }

  &-settings {

    transition: all .3s;
    position: absolute;

    bottom: calc(15px);
    right: calc(200px + 15px + 15px);

  }

  &-statistic {
    position: absolute;
    top: calc(15px);
    right: 15px;
  }
}
