.system-map-panel-details-shop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  box-sizing: border-box;

  &-head {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
  }

  &-body {
    width: 100%;
    height: calc(100% - 36px - 10px);

    display: flex;
    flex-direction: column;
    gap: 20px;

    &-image {
      width: 100%;
      aspect-ratio: 16/9;
    }


    &-info {
      flex-direction: column;
      gap: 20px;

      .form-item {
        &-value {
          display: flex;
          justify-content: flex-end;

          &.states {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
            font-size: 14px;

            &>* {
              padding: 3px 5px;
            }

            .state {
              &-blue {
                color: #1e90ff;
                background-color: #1e90ff44;
              }

              &-green {
                color: #23e353;
                background-color: #23e35344;
              }

              &-orange {
                color: #ff762c;
                background-color: #ff762c44;
              }

              &-locked {
                color: #fff;
                background-color: #167d8a;
              }
            }

          }
        }
      }
    }
  }
}
