@color: #f3b447;
@color-1: #f3b447;
@color-2: #9b722b;
@color-3: #596369;
@color-rgba: rgb(243, 180, 71, 0.5);
@corner-size: 4px;
@corner-width: 30px;
@padding: 8.9%;
@head-font-size: 50px;

@background-1: url(../../../../../../assets/image/statistic/statement/statistic-statement-1.png);
@background-2: url(../../../../../../assets/image/statistic/statement/statistic-statement-2.png);
@background-3: url(../../../../../../assets/image/statistic/statement/statistic-statement-3.png);
