<div class="system-event-process-info">
  <div class="system-event-process-info-body">
    <div class="system-event-process-info-body-record">
      <div class="system-event-process-info-body-record-head">详细信息</div>
      <div class="system-event-process-info-body-record-picture border">
        <howell-container-page
          [page]="record.picture.page.data"
          (pageChange)="record.picture.page.change($event)"
        >
          <ias-picture-polygon-multiple
            [id]="record.picture.src"
            [polygon]="record.picture.polygon"
          ></ias-picture-polygon-multiple>
        </howell-container-page>
      </div>
      <div class="system-event-process-info-body-record-content">
        <div
          class="system-event-process-info-body-record-content-info"
          [ngClass]="
        {
          red:data?.EventType === 8,
          green: data?.EventType === 9,          
        }"
        >
          <ias-system-event-record-details
            [data]="data"
          ></ias-system-event-record-details>
        </div>
        <div class="system-event-process-info-body-record-content-map border">
          <ias-map
            [location]="data?.Location?.GCJ02"
            [marker]="map.marker"
            [points]="map.point ? [map.point] : []"
          ></ias-map>
        </div>
      </div>
    </div>
  </div>
</div>
