@import "./less/system-event-process-info-record.less";
@import "./less/system-event-process-info-handle.less";

.system-event-process-info {
  width: 100%;
  height: 100%;

  .border {
    border: 1px solid #2d76ce;
    box-sizing: border-box;
  }

  &-body {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;

    .panel {
      width: calc((100% - 10px) / 2);
      height: 100%;

    }


  }

}
