<div
  class="system-statistic-road-object-timeline-item root-router"
  [class.selected]="selected"
  [class]="event.color"
  *ngIf="data"
>
  <div class="system-statistic-road-object-timeline-item-type">
    {{ event.name }}
  </div>
  <div class="system-statistic-road-object-timeline-item-image">
    <div class="system-statistic-road-object-timeline-item-image-container">
      <div
        class="system-statistic-road-object-timeline-item-image-container-inner"
      >
        <div class="system-statistic-road-object-timeline-item-image-icon">
          <i [class]="type.icon"></i>
        </div>
      </div>
    </div>
    <div
      class="system-statistic-road-object-timeline-item-image-line left"
      *ngIf="!first"
    ></div>
    <div
      class="system-statistic-road-object-timeline-item-image-line right"
      *ngIf="!last"
    ></div>
  </div>
  <div class="system-statistic-road-object-timeline-item-name">
    {{ type.name }}
  </div>
  <div class="system-statistic-road-object-timeline-item-time">
    {{ data.EventTime | date : "HH:mm" }}
  </div>
</div>
