@import url(../../colors/color-@.less);



.button-border {

  &-blue {
    border: 1px solid @blue;
    box-sizing: border-box;
    color: @blue;
    background-color: transparent;
    transition: all 0.75s;
  }


}
