.system-main-card-head {
  width: 100%;
  height: 100%;
  background-image: url(../../../../../../../assets/image/main/card/system-main-card-head-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;



  &-content {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    box-sizing: border-box;


    &-icon {
      height: 30px;
      width: 30px;
      background-image: url(../../../../../../../assets/image/main/card/system-main-card-head-icon.png);
      background-repeat: no-repeat;
      background-position: center center;
    }

    &-title {
      width: calc(100% - 30px);
      font-size: 24px;
      font-weight: bold;
      font-style: italic;
      color: #fff;
      padding-right: 5px;
      white-space: nowrap;
      background: linear-gradient(to bottom, #fff 40%, #69adff 70%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &-operation {
    padding-top: 6px;
  }
}
