<div class="system-event-process-blocked">
  <div
    class="forms"
    [ngClass]="{
      disabled: !enabled
    }"
  >
    <div class="form-item">
      <div class="form-item-text" text-space-between>屏蔽时长</div>
      <div class="form-item-value fill">
        <select [disabled]="!enabled" [(ngModel)]="params.TotalDays">
          <option [ngValue]="0">无限</option>
          <option *ngFor="let item of days" [ngValue]="item">
            {{ item }}天
          </option>
        </select>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text" text-space-between>半径</div>
      <div class="form-item-value">
        <input
          type="text"
          wheel-input-number
          min="0"
          max="100"
          [disabled]="!enabled"
          [(value)]="params.Raduis"
        />
      </div>
    </div>
  </div>
</div>
