<div class="system-module">
  <div class="system-module-head">
    <div class="system-module-head-title">
      <div>AI功能模块</div>
      <div class="system-module-head-light"></div>
    </div>
  </div>
  <div class="system-module-body">
    <div class="system-module-body-list">
      <div class="system-module-body-list-item" (click)="onshop()">
        <div class="system-module-body-list-item-icon"></div>
        <div class="system-module-body-list-item-name">商铺</div>
      </div>
    </div>
  </div>
</div>
