.panel {
  border: 1px solid #2d76ce;
  box-sizing: border-box;

  &-head {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
  }

  &-map {
    background: linear-gradient(rgba(2, 6, 17, 0.6), rgba(4, 11, 31, 0.8));
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &-head {
      font-size: 20px;
      color: white;
      overflow: hidden;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-corner {
      background:
        linear-gradient(#2d76ce, #2d76ce) right bottom,
        linear-gradient(#2d76ce, #2d76ce) right bottom,
        linear-gradient(#2d76ce, #2d76ce) left top,
        linear-gradient(#2d76ce, #2d76ce) left top,
        linear-gradient(rgba(2, 6, 17, 0.6), rgba(4, 11, 31, 0.8));
      background-repeat: no-repeat;
      background-size: 2px 20px, 20px 2px, 2px 20px, 20px 2px, 100% 100%;
    }
  }
}
