.tab {

  &-group {
    display: flex;
    height: 100%;
    align-items: flex-end;
    z-index: 1;
  }

  @path: polygon(20px 0,
      100% 0,
      100% 100%,
      0 100%,
      0 20px);

  &-item {
    background-color: #2d76ce;
    clip-path: @path;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;

    cursor: pointer;
    transition: all 0.75s;

    padding: 1px;
    padding-bottom: 0;
    box-sizing: border-box;
    z-index: 2;


    &:hover {
      color: white;
    }

    &-inner {
      width: 100%;
      height: 100%;
      clip-path: @path;
      background: linear-gradient(to bottom, #050d16 0%, #0f2542 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
    }



    &.selected {
      color: #ddf4ff;

      .tab-item-inner {
        background: none;
        background-color: #0f2644;

      }


      &:hover {
        color: #fff;
      }
    }
  }
}
