.system-module-shop-creation {
  width: 100%;
  height: 100%;
  animation: 0.75s;

  @head-height: 60px;
  @foot-height: 36px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-head {
    width: 100%;
    height: @head-height;
  }

  &-body {
    width: 100%;
    height: calc(100% - @head-height - @foot-height - 15px * 2);
    display: flex;
    justify-content: space-between;
    gap: 15px;



    .form {
      &s {
        flex-wrap: wrap;
        overflow-y: auto;
        height: 100%;
      }

      &-item {
        width: calc((100% - 20px) * 0.5);

        &-text {
          width: 126px;
        }

        &-value {
          display: flex;
          align-items: center;
          gap: 10px;

          &>* {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }


      }


    }

    &-medium {
      width: calc((100% - 10px) * 1 / 3);
      display: flex;
      flex-direction: column;
      gap: 15px;

      &-image {
        flex-grow: 0;
        width: 100%;
        aspect-ratio: 16/9;
      }

      &-map {
        width: 100%;
        flex-grow: 1;

      }
    }

    &-info {
      width: calc((100% - 10px) * 2 / 3);
      padding: 15px;
      box-sizing: border-box;
    }
  }

  &-foot {
    width: 100%;
    height: @foot-height;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
