<div class="system-module-shop-creation">
  <div class="system-module-shop-creation-head">
    <ias-content-header [title]="'添加商铺'"></ias-content-header>
  </div>
  <div class="system-module-shop-creation-body">
    <div class="panel system-module-shop-creation-body-medium">
      <div class="panel system-module-shop-creation-body-medium-image">
        <ias-picture [id]="data.ImageUrl"></ias-picture>
      </div>
      <div class="panel system-module-shop-creation-body-medium-map">
        <ias-system-module-shop-details-map
          [data]="data.Location"
          (dataChange)="onposition($event)"
        ></ias-system-module-shop-details-map>
      </div>
    </div>
    <div class="panel system-module-shop-creation-body-info">
      <div class="forms">
        <div class="form-item">
          <div class="form-item-text" text-space-between>商铺名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="data.Name" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text" text-space-between>分店名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="data.BranchName" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text" text-space-between>商铺地址</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="data.Address" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text" text-space-between>联系方式</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="data.Telphone" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text" text-space-between>商铺类型</div>
          <div class="form-item-value">
            <select [(ngModel)]="data.ShopType">
              <option [ngValue]="item.Value" *ngFor="let item of source.types">
                {{ item.Name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text" text-space-between>描述信息</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="data.Description" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="system-module-shop-creation-foot">
    <div class="button-group">
      <button class="button-clip-gradient">确定</button>
      <button class="button-clip-blue">取消</button>
    </div>
  </div>
</div>
