<div class="system-task-file-table">
  <div class="system-task-file-table-body table-split">
    <div class="table-split-head">
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        TableSorter
        (sort)="onsort($event)"
      >
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <thead>
          <tr>
            <th class="center">选择</th>
            <th class="center">序号</th>
            <th sort="FileName">文件名称</th>
            <th sort="ModifiedTime">修改日期</th>
            <th sort="FileSize">文件大小</th>
            <th class="center">操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-split-body">
      <table border="0" cellpadding="0" cellspacing="0">
        <colgroup>
          <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
        </colgroup>
        <tbody>
          <tr
            *ngFor="let item of datas; let index = index"
            (click)="onselect(item)"
            (dblclick)="onvideo(item, $event)"
            [ngClass]="{
              selected: selecteds.includes(item)
            }"
          >
            <td class="center">
              <div>
                <input type="checkbox" [checked]="selecteds.includes(item)" />
              </div>
            </td>
            <td class="center">
              <div>{{ index + 1 }}</div>
            </td>
            <td [title]="item.FileName">
              <div>{{ item.FileName }}</div>
            </td>
            <td>
              {{ item.ModifiedTime | date : Language.YearMonthDayHHmmss }}
            </td>
            <td>
              {{ Language.Size(item.FileSize) }}
            </td>
            <td class="center">
              <div class="operation">
                <div
                  class="button"
                  title="播放视频"
                  (click)="onvideo(item, $event)"
                >
                  <i class="mdi mdi-video"></i>
                </div>
                <div
                  class="button"
                  title="下载视频"
                  (click)="ondownload(item, $event)"
                >
                  <i class="mdi mdi-download"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
