.table-split {
  &-body {
    height: calc(100% - 75px);
    box-sizing: border-box;

    border: 1px solid #2d76ce;
    border-top: none;
    overflow-y: scroll;

    table {
      height: auto;

      tbody {
        tr {
          height: 60px;
        }
      }
    }
  }

}
