@import "./system-map-@.less";

.system-map {
  &-search {

    position: absolute;
    left: calc(@map-left + @padding-x);
    top: calc(@map-top + @padding-y);
    width: @map-source-width;

    transition: all 0.5s;
  }
}
