@import "./system-map-@.less";

.system-map {
  &-task {
    position: absolute;
    left: calc(@map-left + @padding-x);
    bottom: calc(@map-bottom + @control-height + @padding-y + 10px);
    height: calc(100% - @map-bottom - @control-height - @padding-y * 3 - @map-top - @map-filter-height);
    width: @map-source-width;
    padding: 15px;
    box-sizing: border-box;
  }
}
