@import "./system-map-@.less";

.system-map {
  &-editor {
    &-circle {
      position: absolute;
      right: calc(@map-right + @padding-x + @map-state-width + @padding-x);
      bottom: calc(@map-bottom + @padding-y);
    }
  }
}
