@import "./system-map-@.less";

.system-map {

  &-controls {
    position: absolute;
    left: calc(@map-left + @padding-x);
    bottom: calc(@map-bottom + @padding-y);
    height: @control-height;
  }
}
