<div class="panel-map-corner system-map-state">
  <div
    class="system-map-state-item"
    [class.active]="selecteds.includes(item.Value)"
    *ngFor="let item of source.states | async"
    (click)="onselect(item.Value)"
  >
    <div
      class="system-map-state-item-icon"
      [ngClass]="{
      blue: item.Value === 2,
      green: item.Value === 1,
      red: item.Value === 0,
    }"
    ></div>
    <div class="system-map-state-item-name">
      {{ item.Name }}
    </div>
    <div class="system-map-state-item-value">{{ count.get(item.Value) }}</div>
  </div>
</div>
