<div class="system-map-task-manager root-router">
  <ng-container *ngIf="!compare.doing">
    <div class="system-map-task-manager-body">
      <ias-system-map-task-table
        [selecteds]="taskselecteds"
        (selectedsChange)="onselect($event)"
        [load]="task.load"
        [maxselected]="maxselected"
        (loaded)="onloaded($event)"
      ></ias-system-map-task-table>
    </div>
    <div class="system-map-task-manager-foot">
      <div class="source">
        <div class="source-control">
          <input
            type="checkbox"
            id="task-source"
            [(ngModel)]="compare.type.used"
            (change)="compare.eachother.change()"
          />
          <select
            class="noborder select-white"
            [(ngModel)]="compare.type.value"
            (change)="compare.type.change()"
          >
            <option [ngValue]="TaskCompareType.base">与常驻商铺比对</option>
            <option [ngValue]="TaskCompareType.registration">
              与注册商铺比对
            </option>
          </select>
        </div>

        <div class="button" *ngIf="onsetting" (click)="onsetting()">
          <i class="howell-icon-settingoutline"></i>
        </div>
      </div>
      <div class="button-group">
        <button
          class="button-clip-gradient"
          [disabled]="cancompare === false"
          (click)="oncompare()"
        >
          比对
        </button>
        <button class="button-clip-blue" (click)="onclose()">关闭</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="compare.doing">
    <div class="system-map-task-manager-head">
      <div class="button-group">
        <div class="button" (click)="onreturn()">
          <i class="mdi mdi-arrow-left-bold"></i>
        </div>
        <button
          [ngClass]="{
            'button-clip-gradient-2': state === State.Disappeared,
            'button-clip-blue-2': state != State.Disappeared
          }"
          (click)="onstate(State.Disappeared)"
        >
          消失的
        </button>
        <button
          [ngClass]="{
            'button-clip-gradient-2': state === State.Created,
            'button-clip-blue-2': state != State.Created
          }"
          (click)="onstate(State.Created)"
        >
          新出现的
        </button>
        <button
          [ngClass]="{
            'button-clip-gradient-2': state === State.Existed,
            'button-clip-blue-2': state != State.Existed
          }"
          (click)="onstate(State.Existed)"
        >
          长期存在的
        </button>
      </div>
    </div>
    <div class="system-map-task-manager-body">
      <ias-system-map-source-table-shop
        [datas]="datas"
        (details)="shop.ondetails($event)"
        (selectedChange)="shop.onselected($event)"
        (itemhover)="shop.onmouseover($event)"
        (itemblur)="shop.onmouseout($event)"
        (position)="shop.onposition($event)"
      ></ias-system-map-source-table-shop>
    </div>
  </ng-container>
</div>
