<div
  class="system-module-mobile-device-route-manager"
  [style.padding]="iswindow ? 0 : undefined"
>
  <div class="system-module-mobile-device-route-manager-head">
    <div class="forms">
      <div class="form-item datetime">
        <div class="form-item-text">选择日期:</div>
        <div class="form-item-value">
          <date-time-control
            [week]="manager.date.week"
            [format]="manager.date.format"
            [minView]="manager.date.view.min"
            [startView]="manager.date.view.min"
            [zindex]="iswindow ? 9000 : 10"
            [(date)]="manager.date.value"
            (dateChange)="manager.date.change()"
          ></date-time-control>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">开始时间:</div>
        <div class="form-item-value fill time">
          <app-time-control
            [(time)]="manager.time.begin"
            [endTime]="manager.time.end"
            (timeChange)="manager.time.change()"
          ></app-time-control>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">结束时间:</div>
        <div class="form-item-value fill time">
          <app-time-control
            [(time)]="manager.time.end"
            [beginTime]="manager.time.begin"
            (timeChange)="manager.time.change()"
          ></app-time-control>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">{{ Language.DeviceName }}:</div>
        <div class="form-item-value fill">
          <hw-select
            [(selected)]="map.args.deviceId"
            [nullable]="false"
            (selectedChange)="manager.on.device()"
          >
            <select [(ngModel)]="map.args.deviceId">
              <option
                [ngValue]="item.Id"
                *ngFor="let item of source.devices | async"
              >
                {{ item.Name }}
              </option>
            </select>
          </hw-select>
        </div>
      </div>

      <div class="form-item submit">
        <button
          class="button-clip-gradient"
          *ngIf="map.route.datas.length == 0"
          [disabled]="!map.args.deviceId"
          (click)="manager.on.search()"
        >
          加载
        </button>
        <button
          class="button-clip-gradient"
          *ngIf="map.route.datas.length > 0"
          (click)="manager.on.clear.route()"
        >
          清除
        </button>
        <button
          class="button-clip-gradient"
          *ngIf="map.patrol.datas.length == 0"
          [disabled]="!map.args.deviceId"
          (click)="manager.on.match()"
        >
          比对
        </button>
        <button
          class="button-clip-gradient"
          *ngIf="map.patrol.datas.length > 0"
          (click)="manager.on.clear.patrol()"
        >
          清除
        </button>
      </div>
    </div>
    <div class="forms" *ngIf="video.channel.datas.length > 0">
      <div class="form-item">
        <div class="form-item-text">视频通道:</div>
        <div class="form-item-value fill">
          <hw-select
            [(selected)]="video.channel.id"
            [nullable]="false"
            (selectedChange)="video.channel.change()"
          >
            <select [(ngModel)]="video.channel.id">
              <option
                [ngValue]="item.Id"
                *ngFor="let item of video.channel.datas"
              >
                {{ item.Name }}
              </option>
            </select>
          </hw-select>
        </div>
      </div>
      <div class="form-item submit">
        <button
          class="button-clip-gradient"
          [disabled]="!device || device.OnlineStatus == 1"
          (click)="video.preview()"
        >
          预览
        </button>
        <button
          class="button-clip-gradient"
          [disabled]="!map.args.deviceId"
          (click)="video.playback()"
        >
          回放
        </button>
      </div>
    </div>
  </div>
  <div class="system-module-mobile-device-route-manager-body">
    <div
      class="system-module-mobile-device-route-manager-body-nodata"
      *ngIf="!map.args.deviceId"
    >
      <span>请选择{{ Language.DeviceName }}</span>
    </div>
    <ng-container *ngIf="map.args.deviceId">
      <div class="system-module-mobile-device-route-manager-body-map panel">
        <div
          class="system-module-mobile-device-route-manager-body-map-body"
          *ngIf="manager.been"
        >
          <howell-system-module-mobile-device-route-map
            [init]="map.init"
            [routeload]="map.route.load"
            [routeclear]="map.route.clear"
            (routeloaded)="map.on.routeloaded($event)"
            [patrolload]="map.patrol.load"
            [patrolclear]="map.patrol.clear"
            (patrolloaded)="map.on.patrolloaded($event)"
            [rectified]="map.rectified"
            [gps]="map.current"
          ></howell-system-module-mobile-device-route-map>
        </div>
        <div class="system-module-mobile-device-route-manager-body-map-foot">
          <howell-timeline
            *ngIf="map.route.datas.length > 0"
            [datas]="timeline.datas"
            (change)="timeline.change($event)"
          ></howell-timeline>
        </div>
        <div
          class="system-module-mobile-device-route-manager-body-map-settings"
        >
          <howell-system-module-mobile-device-route-map-settings
            *ngIf="map.route.datas.length > 0"
            [(rectified)]="map.rectified"
          >
          </howell-system-module-mobile-device-route-map-settings>
        </div>
        <div class="system-module-mobile-device-route-manager-body-map-state">
          <ias-system-module-mobile-device-route-map-path-state
            *ngIf="map.route.datas.length > 0"
            [(precision)]="map.args.precision"
            (precisionChange)="manager.on.search()"
          ></ias-system-module-mobile-device-route-map-path-state>
        </div>
      </div>

      <div class="system-module-mobile-device-route-manager-body-content">
        <div class="system-module-mobile-device-route-manager-body-info">
          <howell-system-module-mobile-device-route-info
            [load]="info.load"
          ></howell-system-module-mobile-device-route-info>
        </div>
        <div
          class="system-module-mobile-device-route-manager-body-chart"
          *ngIf="chart.show"
        >
          <howell-system-module-mobile-device-route-chart-container
            [load]="chart.load"
          ></howell-system-module-mobile-device-route-chart-container>
        </div>
        <div
          class="system-module-mobile-device-route-manager-body-video panel"
          *ngIf="window.video.show && manager.been"
        >
          <div
            class="system-module-mobile-device-route-manager-body-video-player"
          >
            <howell-video-player-container
              [title]="window.video.title"
              [args]="window.video.args"
              [headable]="true"
              (playing)="video.on.playing()"
              (close)="video.on.close()"
            ></howell-video-player-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
