.table-page {
  table {
    thead {

      background: linear-gradient(to bottom, rgba(30, 144, 255, 0.2) 0%, rgba(30, 144, 255, 0) 100%);
      color: #73d4ff;

      tr {
        th {
          border-bottom: 1px solid #2d76ce;
          height: 75px;
          text-align: left;
          font-weight: normal;
          padding: 0 10px;
        }
      }
    }
  }
}
