<div class="system-task-route-map-panel-settings panel-map">
  <div class="system-task-route-map-panel-settings-button">
    <div class="button">
      <i class="howell-icon-settingoutline"></i>
    </div>
  </div>
  <div class="system-task-route-map-panel-settings-content">
    <div class="system-task-route-map-panel-settings-content-body forms">
      <div class="form-item">
        <div class="form-item-text">
          <label for="system-task-route-map-panel-settings-rectified"
            >轨迹纠偏</label
          >
        </div>
        <div class="form-item-value">
          <input
            type="checkbox"
            id="system-task-route-map-panel-settings-rectified"
            [(ngModel)]="rectified"
            (change)="on.rectified()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
