.system-task-route-map-panel-settings {
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .3s;
  clip-path: polygon(calc(100% - 50px) 0, 100% 0, 100% 50px, calc(100% - 50px) 50px);

  &:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    .system-task-route-map-panel-settings-button {
      display: none;
    }

    .system-task-route-map-panel-settings-content {
      display: block;
    }
  }

  &-button {
    font-size: 20px;

    .button {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-content {
    display: none;

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-size: 20px;
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &-body {
      .form-item {
        height: 36px;

        &-text {
          width: 75px;
        }
      }
    }
  }
}
