<div class="system-module-security-department-details-member-other root-router">
  <div class="panel panel-flex">
    <div class="panel-head">
      <div class="panel-title">其他部门员工</div>
      <div class="button-group">
        <button
          class="button-clip-gradient"
          [disabled]="selecteds.length == 0"
          (click)="on.import()"
        >
          导入
        </button>
        <button class="button-clip-blue" (click)="on.close()">关闭</button>
      </div>
    </div>
    <div class="panel-body">
      <ias-system-module-security-department-details-member-table
        [args]="args"
        [load]="load"
        [multiple]="true"
        [operable]="false"
        [(selecteds)]="selecteds"
      >
      </ias-system-module-security-department-details-member-table>
    </div>
  </div>
</div>
