.system-module-security-department-details-member-other {
  width: 100%;
  height: 100%;
  display: block;

  .panel {
    height: 100%;
    width: 100%;

    &-head {
      height: 36px;
    }

    &-body {
      height: calc(100% - 36px - 10px);
    }
  }
}
