<!--  ias-system-event-process-realtime  -->
<ias-window
  [Model]="window.details.mobile"
  *ngIf="window.details.mobile.show"
  [style]="window.details.mobile.style"
  [title]="window.details.mobile.title"
>
  <ias-system-event-process-realtime
    [data]="window.details.mobile.data"
    (close)="window.details.mobile.show = false"
    (picture)="picture.open($event)"
  ></ias-system-event-process-realtime>
</ias-window>
<!--  ias-system-event-process-realtime  -->
<!--  ias-system-event-gps-task-details-container  -->
<ias-window
  [Model]="window.details.sample"
  *ngIf="window.details.sample.show"
  [style]="window.details.sample.style"
  [title]="window.details.sample.title"
>
  <ias-system-event-gps-task-details-container
    [data]="window.details.sample.data"
    (close)="window.details.sample.show = false"
    (picture)="picture.open($event)"
    (video)="video.sample.open($event)"
  ></ias-system-event-gps-task-details-container>
</ias-window>
<!--  ias-system-event-gps-task-details-container  -->

<!--  ias-system-event-manager-realtime  -->
<ias-window
  [Model]="window.record.realtime"
  *ngIf="window.record.realtime.show"
  [style]="window.record.realtime.style"
  [title]="window.record.realtime.title"
  [mask]="false"
>
  <ias-system-event-manager-realtime
    [iswindow]="true"
    [mapable]="false"
    [args]="window.record.realtime.args"
  ></ias-system-event-manager-realtime>
</ias-window>
<!--  ias-system-event-manager-realtime  -->
<!--  ias-system-event-manager-shop  -->
<ias-window
  [Model]="window.record.shop"
  *ngIf="window.record.shop.show"
  [style]="window.record.shop.style"
  [title]="window.record.shop.title"
  [mask]="false"
>
  <ias-system-event-manager-shop
    [iswindow]="true"
    [mapable]="false"
    [args]="window.record.shop.args"
  ></ias-system-event-manager-shop>
</ias-window>
<!--  ias-system-event-manager-shop  -->
<!--  ias-system-event-gps-task-manager  -->
<ias-window
  [Model]="window.record.sample"
  *ngIf="window.record.sample.show"
  [style]="window.record.sample.style"
  [title]="window.record.sample.title"
  [mask]="false"
>
  <ias-system-event-gps-task-manager
    [iswindow]="true"
    [args]="window.record.sample.args"
  ></ias-system-event-gps-task-manager>
</ias-window>
<!--  ias-system-event-gps-task-manager  -->
<!--  ias-system-task-manager  -->
<ias-window
  [Model]="window.task.shop"
  *ngIf="window.task.shop.show"
  [style]="window.task.shop.style"
  [title]="window.task.shop.title"
>
  <ias-system-task-manager
    [iswindow]="true"
    [tabable]="false"
    [finished]="true"
    [operable]="false"
    [duration]="window.task.shop.duration"
  ></ias-system-task-manager>
</ias-window>
<ias-window
  [Model]="window.task.gps"
  *ngIf="window.task.gps.show"
  [style]="window.task.gps.style"
  [title]="window.task.gps.title"
  [mask]="false"
>
  <ias-system-module-gps-task-manager
    [iswindow]="true"
  ></ias-system-module-gps-task-manager>
</ias-window>
<!--  ias-system-task-manager  -->
<!--  ias-system-road-manager  -->
<ias-window
  [Model]="window.road"
  *ngIf="window.road.show"
  [style]="window.road.style"
  [title]="window.road.title"
  [mask]="false"
>
  <ias-system-module-road-manager
    [iswindow]="true"
    [operable]="false"
  ></ias-system-module-road-manager>
</ias-window>
<!--  ias-system-road-manager  -->
<!--  ias-system-shop-manager  -->
<ias-window
  [Model]="window.shop"
  *ngIf="window.shop.show"
  [style]="window.shop.style"
  [title]="window.shop.title"
  [mask]="false"
>
  <ias-system-module-shop-registration-manager
    [iswindow]="true"
    [operable]="false"
  ></ias-system-module-shop-registration-manager>
</ias-window>
<!--  ias-system-shop-manager  -->

<ias-window
  *ngIf="window.picture.show"
  [Model]="window.picture"
  [style]="window.picture.style"
  [title]="window.picture.title"
>
  <ias-picture-list
    [id]="window.picture.id"
    [polygon]="window.picture.polygon"
    [zoom]="window.picture.polygon.length > 0"
    [page]="window.picture.page"
    (pageChange)="window.picture.change($event)"
  ></ias-picture-list>
</ias-window>
<ias-window
  [Model]="window.video.record"
  *ngIf="window.video.record.show"
  [style]="window.video.record.style"
  [title]="window.video.record.title"
  [CloseButton]="false"
>
  <div ngProjectAs="window-head-operation" class="window-video-operation">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">前后时长</div>
        <div class="form-item-value">
          <select
            [(ngModel)]="window.video.record.args.duration"
            (change)="window.video.record.change()"
          >
            <!-- <option [ngValue]="undefined">全部</option> -->
            <option [ngValue]="5">5秒</option>
            <option [ngValue]="10">10秒</option>
            <option [ngValue]="15">15秒</option>
            <option [ngValue]="30">30秒</option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">摄像机:</div>
        <div class="form-item-value">
          <hw-select
            [nullable]="true"
            [(selected)]="window.video.record.args.channel"
            (selectedChange)="window.video.record.change()"
          >
            <select [(ngModel)]="window.video.record.args.channel">
              <option
                *ngFor="let item of window.video.record.channels"
                [ngValue]="item.Value"
              >
                {{ item.Name }}
              </option>
            </select>
          </hw-select>
        </div>
      </div>
      <div class="form-item">
        <div class="button" (click)="window.video.record.show = false">
          <i class="howell-icon-Close"></i>
        </div>
      </div>
    </div>
  </div>
  <ias-system-event-video
    [data]="window.video.record.data"
    [args]="window.video.record.args"
  ></ias-system-event-video>
</ias-window>
<ias-window
  *ngIf="window.video.shop.show && window.video.shop.args"
  [Model]="window.video.shop"
  [style]="window.video.shop.style"
  [title]="window.video.shop.title"
  [CloseButton]="false"
>
  <div ngProjectAs="window-head-operation" class="window-video-operation">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">前后时长</div>
        <div class="form-item-value">
          <select
            [(ngModel)]="window.video.shop.args.Duration"
            (change)="window.video.shop.change()"
          >
            <!-- <option [ngValue]="undefined">全部</option> -->
            <option [ngValue]="5">5秒</option>
            <option [ngValue]="10">10秒</option>
            <option [ngValue]="15">15秒</option>
            <option [ngValue]="30">30秒</option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">摄像机:</div>
        <div class="form-item-value">
          <select
            [(ngModel)]="window.video.shop.args.Channel"
            (change)="window.video.shop.change()"
          >
            <!-- <option [ngValue]="undefined">全部</option> -->
            <option
              *ngFor="let item of source.channels | async"
              [ngValue]="item.Value"
            >
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="button" (click)="window.video.shop.show = false">
          <i class="howell-icon-Close"></i>
        </div>
      </div>
    </div>
  </div>
  <ias-system-task-video
    [args]="window.video.shop.args"
  ></ias-system-task-video>
</ias-window>

<ias-window
  [Model]="window.video.sample"
  *ngIf="window.video.sample.show"
  [style]="window.video.sample.style"
  [title]="window.video.sample.title"
  [mask]="false"
>
  <video
    autoplay="autoplay"
    controls
    [src]="window.video.sample.src"
    (error)="window.video.sample.on.error($event)"
  ></video>
</ias-window>
