<div class="system-module-shop-compare-details-shop-registration" *ngIf="data">
  <div
    class="system-module-shop-compare-details-shop-registration-image"
    (click)="onpicture()"
  >
    <ias-picture [id]="data.ImageUrl"></ias-picture>
  </div>
  <div class="system-module-shop-compare-details-shop-registration-info forms">
    <div class="form-item">
      <div class="form-item-text baseline">商铺名称</div>
      <div class="form-item-value">
        {{ data.Name }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text baseline">商铺地址</div>
      <div class="form-item-value">
        {{ data.Address ?? "-" }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text">联系方式</div>
      <div class="form-item-value">
        {{ data.Telphone ?? "-" }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text">创建时间</div>
      <div class="form-item-value">
        {{ data.CreationTime | date : Language.yyyyMMddHHmmss }}
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text">更新时间</div>
      <div class="form-item-value">
        {{ data.UpdateTime | date : Language.yyyyMMddHHmmss }}
      </div>
    </div>
  </div>
</div>
