<ias-system-main-card-container [title]="title">
  <div
    ngProjectAs="system-main-card-container-operation"
    class="system-main-card-container-operation"
  >
    <select class="noborder" [(ngModel)]="unit.value" (change)="unit.change()">
      <option [ngValue]="unit.Type.day">今日</option>
      <option [ngValue]="unit.Type.week">本周</option>
      <option [ngValue]="unit.Type.month">本月</option>
      <option [ngValue]="unit.Type.year">今年</option>
    </select>
  </div>
  <div class="system-main-card-event-realtime-statistic">
    <div class="system-main-card-event-realtime-statistic-chart">
      <ias-system-main-card-event-realtime-statistic-chart
        *ngIf="datas.length > 0"
        [datas]="datas"
        [colors]="color"
      ></ias-system-main-card-event-realtime-statistic-chart>
    </div>
    <div
      class="system-main-card-event-realtime-statistic-info"
      [ngStyle]="{
        transform: 'scale(' + (datas.length > 8 ? 8 / datas.length : 1) + ')',
        justifyContent: datas.length > 8 ? 'center' : 'space-around'
      }"
    >
      <div
        class="system-main-card-event-realtime-statistic-info-item"
        *ngFor="let item of datas; let index = index"
        (click)="on.click(item)"
      >
        <div
          class="system-main-card-event-realtime-statistic-info-item-color"
          [ngStyle]="{
            backgroundColor: color[index],
          }"
        ></div>
        <div class="system-main-card-event-realtime-statistic-info-item-name">
          {{ item.name }}
        </div>
        <div class="system-main-card-event-realtime-statistic-info-item-value">
          {{ item.value }}
        </div>
      </div>
    </div>
  </div>
</ias-system-main-card-container>
