.container-zoom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #000;

  &-content {
    width: 100%;
    height: 100%;
    cursor: grab;

    ::ng-deep {
      img {
        user-select: none !important;
        pointer-events: none !important;
        max-width: none !important;
      }
    }
  }


  &-in {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    font-size: 22px;
  }

}
