<div class="container-zoom">
  <div
    class="container-zoom-content"
    [style.transform]="
      'scale(' +
      scale +
      ') translate(' +
      translateX +
      'px, ' +
      translateY +
      'px)'
    "
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp()"
    (mouseleave)="onMouseUp()"
    (dblclick)="onDoubleClick($event)"
  >
    <ng-content></ng-content>
  </div>
  <div
    class="container-zoom-in button panel-map"
    *ngIf="fullable"
    (click)="onfull()"
  >
    <i class="mdi mdi-fullscreen"></i>
  </div>
</div>
