<div class="system-main-map-heatmap-filter">
  <div class="forms">
    <div class="form-item">
      <div class="form-item-text">开始时间</div>
      <div class="form-item-value">
        <date-time-control
          [(date)]="filter.args.duration.begin"
        ></date-time-control>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text">结束时间</div>
      <div class="form-item-value">
        <date-time-control
          [(date)]="filter.args.duration.end"
        ></date-time-control>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text">选择事件</div>
      <div class="form-item-value">
        <select [(ngModel)]="mode" (change)="on.change()">
          <option [ngValue]="0">商铺变更</option>
          <option [ngValue]="1">实时事件</option>
          <option [ngValue]="2">定制场景</option>
        </select>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-text">事件类型</div>
      <div class="form-item-value type">
        <select [(ngModel)]="filter.args.type" [disabled]="mode == 2">
          <option [ngValue]="undefined">全部</option>
          <ng-container *ngIf="filter.source">
            <option
              [ngValue]="item.Value"
              *ngFor="let item of filter.source.type | async"
            >
              {{ item.Name }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>

    <div class="form-item submit">
      <button class="button-clip-gradient" (click)="on.search()">查找</button>
    </div>
  </div>
</div>
