<div class="panel-map system-map-search">
  <!-- <div>
    <select [(ngModel)]="type" (change)="ontype()">
      <option [ngValue]="Type.shop">商铺</option>
      <option [ngValue]="Type.road">道路</option>
    </select>
  </div> -->
  <div class="name">
    <!-- <input type="text" placeholder="请输入..." [(ngModel)]="args.name" /> -->
    <input-icon
      [value]="name"
      (valueChange)="onname($event)"
      (clear)="onsearch()"
    >
      <div (click)="onsearch()">
        <i class="howell-icon-search"></i>
      </div>
    </input-icon>
  </div>
  <!-- <div>
    <button class="button-clip-blue-3" (click)="onsearch()">
      <i class="howell-icon-search"></i> 查找
    </button>
  </div> -->
</div>
