.system-statistic-road-object-map-state-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 120px;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    ias-system-statistic-road-object-map-state-item {
      transition: opacity 0.5s;
    }
  }
}
