<div class="system-module-shop-details">
  <div class="system-module-shop-details-head">
    <ias-content-header [title]="'商铺信息'"></ias-content-header>
  </div>
  <div class="system-module-shop-details-body">
    <div class="system-module-shop-details-body-table" *ngIf="data">
      <ias-system-module-shop-sign-table
        [data]="shop"
        [(selected)]="sign"
        (error)="onerror($event)"
      >
      </ias-system-module-shop-sign-table>
    </div>
    <div
      class="system-module-shop-details-body-info panel"
      [ngClass]="{
        create: !data
      }"
    >
      <ias-system-module-shop-details-info
        [data]="shop"
        [sign]="sign"
        (picture)="onpicture($event)"
      ></ias-system-module-shop-details-info>
    </div>
    <div
      class="system-module-shop-details-body-map panel"
      [ngClass]="{
        create: !data
      }"
    >
      <ias-system-module-shop-details-map
        [data]="shop.Location"
        (dataChange)="onposition($event)"
      ></ias-system-module-shop-details-map>
    </div>
  </div>
  <div class="system-module-shop-details-foot">
    <button class="button-clip-gradient" (click)="onok()">确定</button>
    <button class="button-clip-blue" (click)="oncancel()">取消</button>
  </div>

  <app-window
    *ngIf="window.picture.show"
    [Model]="window.picture"
    [style]="window.picture.style"
  >
    <ias-picture-window-content
      [url]="window.picture.id"
      [title]="window.picture.title"
      [polygon]="window.picture.polygon"
    ></ias-picture-window-content>
  </app-window>
</div>
