<div class="system-statistic-road-object-statement-5-item">
  <div class="system-statistic-road-object-statement-5-item-chart">
    <ias-system-statistic-road-object-statement-5-chart
      [value]="data.ratio"
    ></ias-system-statistic-road-object-statement-5-chart>
  </div>
  <div class="system-statistic-road-object-statement-5-item-title">
    {{ data.name }}部件
  </div>
  <div class="system-statistic-road-object-statement-5-item-info">
    <div>{{ data.name }}部件{{ data.value }}个</div>
    <div>占总量的{{ data.ratio }}%</div>
  </div>
</div>
