@import url(../system-statistic-road-object-statement.less);

.system-statistic-road-object-statement-5-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-chart {
    height: 50%;
  }

  &-title {
    color: @color;
    font-size: 36px;
    text-align: center;
  }

  &-info {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
