<div class="system-task-shop-analysis-table table-split">
  <div class="table-split-head">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      TableSorter
      (sort)="sort.on.table($event)"
    >
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th class="center">序号</th>
          <th sort="Name">商铺名称</th>
          <th sort="Registration">关联注册商铺</th>
          <th sort="RoadName">所在道路</th>
          <th sort="OriRoadName">门面道路</th>
          <th sort="Status">状态</th>
          <th class="center">操作</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-split-body" #body>
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <tbody>
        <tr
          *ngFor="let item of datas; let index = index"
          (click)="on.select(item)"
          [ngClass]="{
            selected: item === selected
          }"
        >
          <td class="center">
            <div>{{ index + 1 }}</div>
          </td>
          <td [title]="item.shop.Name">
            {{ item.shop.Name }}
          </td>
          <td [title]="item.registration?.Name ?? ''">
            {{ item.registration?.Name ?? "-" }}
          </td>
          <td>
            {{ item.shop.RoadName ?? "-" }}
          </td>
          <td>
            {{ item.shop.OriRoadName ?? "-" }}
          </td>
          <td>
            <span
              [ngClass]="{
              red: item.shop.Marking,
              green: !item.registration && !item.shop.Marking,
            }"
            >
              {{ table.status(item.shop) }}
            </span>
          </td>
          <td class="center">
            <div class="operation">
              <div class="button" (click)="on.video(item, $event)">
                <i class="howell-icon-video"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-split-foot">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">总数:</div>
        <div class="form-item-value">
          <span>{{ table.count.all }}</span>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">已关联:</div>
        <div class="form-item-value">
          <span>{{ table.count.detected }}</span>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">误报/屏蔽:</div>
        <div class="form-item-value">
          <span>{{ table.count.misinfo }}</span>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">新发现:</div>
        <div class="form-item-value">
          <span>{{ table.count.discover }}</span>
        </div>
      </div>
    </div>
    <!-- <div class="button-group">
      <ias-direction-sort-control [name]="'排序'"></ias-direction-sort-control>
    </div> -->
  </div>

  <div class="loading" *ngIf="loading"></div>
</div>
