.system-task-road-object-operation {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 25px;
  // background: linear-gradient(to bottom, #050D15, rgba(5, 13, 21, 0.2));
  // box-shadow: 0 10px 10px -6px rgba(5, 13, 21, 0.2);
  justify-content: space-between;
  align-items: center;

  .form {
    &s {
      align-items: center;
    }

    &-item {
      height: 36px;

      &-text {}

      &-value {}
    }
  }
}
