<div class="system-task-road-object-operation panel-map">
  <div class="forms">
    <div class="form-item">
      <div class="form-item-text">选择类型</div>
      <div class="form-item-value fill">
        <hw-select [(selected)]="args.type" [nullable]="false">
          <select [(ngModel)]="args.type">
            <option *ngFor="let item of source.types" [ngValue]="item.Value">
              {{ item.Name }}
            </option>
          </select>
        </hw-select>
      </div>
      <ng-container *ngIf="args.type == Type.point">
        <div class="form-item">
          <div class="form-item-text">屏蔽点类型</div>
          <div class="form-item-value fill">
            <hw-select [(selected)]="args.point.type" [nullable]="true">
              <select [(ngModel)]="args.point.type">
                <option
                  [ngValue]="item.Value"
                  *ngFor="let item of source.point.types"
                >
                  {{ item.Name }}
                </option>
              </select>
            </hw-select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">屏蔽点名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="args.point.name" />
          </div>
        </div>
        <div class="form-item">
          <button class="button-clip-gradient" (click)="on.search()">
            查找
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
