@import "./assets/icons/icons.css";
@import "./assets/fonts/fonts.css";
@import "./assets/less/forms/forms.less";
@import "./assets/less/tables/tables.less";
@import "./assets/less/image.less";
@import "./assets/less/scroll.less";
@import "./assets/less/panel.less";
@import "./assets/less/map/amap.less";
@import "./assets/less/tabs.less";
@import "./assets/less/loading.less";
@import "../node_modules/ngx-toastr/toastr.css";

html,
body,
iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: black;
}

body {
  overflow: hidden;
  font-family: "Alibaba_PuHuiTi_55_Regular";
  color: #ddf4ff;
}

div {
  user-select: none;
}

iframe {
  background-color: white;
}

.root-router {
  display: none;
}
