<div class="system-main-card-event-statistic-item">
  <div class="system-main-card-event-statistic-item-icon">
    <div
      class="system-main-card-event-statistic-item-icon-content"
      [class]="data.icon"
    ></div>
  </div>
  <div class="system-main-card-event-statistic-item-info">
    <div class="system-main-card-event-statistic-item-info-name">
      {{ data.name }}
    </div>
    <div class="system-main-card-event-statistic-item-info-value">
      {{ data.value }}
    </div>
  </div>
</div>
