<div
  class="system-module-mobile-device-route-map-path-state panel-map root-router"
>
  <div class="forms">
    <div
      class="form-item normal button"
      (click)="on.normal()"
      [style.opacity]="state.normal ? 1 : 0.5"
    >
      <div class="form-item-text" text-space-between>常规精度</div>
      <div class="form-item-value">
        <div class="path-color" [style.background-color]="Colors[0]"></div>
      </div>
    </div>
    <div
      class="form-item high button"
      (click)="on.high()"
      [style.opacity]="state.high ? 1 : 0.5"
    >
      <div class="form-item-text" text-space-between>高精度</div>
      <div class="form-item-value">
        <div class="path-color" [style.background-color]="Colors[1]"></div>
      </div>
    </div>
  </div>
</div>
