<div class="system-task-table-runing">
  <div class="system-task-table-runing-body table-page">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      TableSorter
      (sort)="onsort($event)"
    >
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th class="center">序号</th>
          <th sort="Name">任务名称</th>
          <th sort="TaskType">任务类型</th>
          <th sort="State">任务状态</th>
          <th>进度</th>
          <th sort="CreationTime">建立时间</th>
          <th sort="StartTime">开始分析时间</th>
          <th>用时</th>
          <th>预计完成时间</th>
          <th class="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of datas; let index = index"
          (click)="onselect(item)"
          [ngClass]="{
            nohover: !item.hasdata,
            nodata: !item.hasdata,
            selected: selected === item
          }"
        >
          <td class="center">
            <div>{{ item.index }}</div>
          </td>

          <td [title]="item.Name">
            {{ item.Name }}
          </td>
          <td>
            {{ item.TaskTypeName | async }}
          </td>
          <td
            [ngStyle]="{
              color: Color.TaskState(item.State)
            }"
          >
            {{ item.StateName | async }}
          </td>
          <td>@if(item.hasdata){ {{ (item.Progress ?? 0).toFixed(2) }}%}</td>
          <td>
            @if(item.hasdata && item.CreationTime){
            {{ item.CreationTime | date : "yyyy-MM-dd HH:mm:ss" }}

            }
          </td>
          <td>
            @if(item.hasdata){
            {{ item.StartTime | date : "yyyy-MM-dd HH:mm:ss" }}
            }
          </td>
          <td>
            @if(item.hasdata){ @if(item.StartTime){
            {{ Language.Time(item.AnalysisDuration()) }}
            } @else{
            {{ Language.Time(item.UploadDuration()) }}
            } }
          </td>
          <td>
            @if(item.EstimatedTime){
            {{ item.EstimatedTime | date : "yyyy-MM-dd HH:mm:ss" }}
            }
          </td>

          <td class="center">
            @if(item.hasdata){
            <div class="operation">
              @if(item.State === -1){
              <div
                class="button"
                title="任务信息"
                (click)="ondetails(item, $event)"
              >
                <i class="howell-icon-details"></i>
              </div>
              } @else{
              <div
                class="button"
                title="视频文件"
                (click)="onfiles(item, $event)"
              >
                <i class="mdi mdi-file-video"></i>
              </div>
              }
              <div
                class="button"
                title="删除任务"
                (click)="ondelete(item, $event)"
              >
                <i class="howell-icon-delete2"></i>
              </div>
            </div>
            }
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  @if(page.TotalRecordCount){
  <div class="system-task-table-runing-foot">
    <paginator [page]="page" (change)="onpage($event)"> </paginator>
  </div>
  }
</div>
