<div class="system-event-gsp-task-details">
  <div class="system-event-gsp-task-details-container">
    <div class="system-event-gsp-task-details-body">
      <div class="system-event-gsp-task-details-image panel">
        <howell-container-zoom>
          <ias-picture [id]="picture.src"></ias-picture>
        </howell-container-zoom>
      </div>
      <div class="system-event-gsp-task-details-video panel">
        <video controls [src]="video.src"></video>
      </div>
      <div class="system-event-gsp-task-details-map panel">
        <ng-container *ngIf="data">
          <ias-map [location]="data.Location.GCJ02"></ias-map>
        </ng-container>
      </div>
      <div class="system-event-gsp-task-details-info panel">
        <ias-system-event-gsp-task-details-information
          *ngIf="data"
          [data]="data"
        ></ias-system-event-gsp-task-details-information>
      </div>
    </div>
    <div class="system-event-gsp-task-details-foot button-group">
      <button class="button-clip-blue" (click)="on.close()">关闭</button>
    </div>
  </div>
</div>
