<div class="system-statistic-device-route-chart-container">
  <div class="system-statistic-device-route-chart-item panel">
    <ias-system-statistic-device-route-chart
      [datas]="datas"
      [args]="args"
      [charttype]="type"
      [statistictype]="RouteStatisticType.Meter"
    ></ias-system-statistic-device-route-chart>
  </div>
  <div class="system-statistic-device-route-chart-item panel">
    <ias-system-statistic-device-route-chart
      [datas]="datas"
      [args]="args"
      [charttype]="type"
      [statistictype]="RouteStatisticType.Speed"
    ></ias-system-statistic-device-route-chart>
  </div>
  <div class="system-statistic-device-route-chart-item panel">
    <ias-system-statistic-device-route-chart
      [datas]="datas"
      [args]="args"
      [charttype]="type"
      [statistictype]="RouteStatisticType.Time"
    ></ias-system-statistic-device-route-chart>
  </div>
  <!-- <div class="system-statistic-device-route-chart-item panel">
    <ias-system-statistic-device-route-chart
      [datas]="datas"
      [args]="args"
      [charttype]="type"
      [statistictype]="RouteStatisticType.CoveragePercent"
    ></ias-system-statistic-device-route-chart>
  </div> -->
</div>
