<div class="panel-map system-map-filter">
  <div class="system-map-filter-head">
    <div class="panel-map-head">查找</div>
    <div class="operation">
      <div class="button">
        <i class="howell-icon-Close"></i>
      </div>
    </div>
  </div>
  <div class="system-map-filter-body">
    <div class="panel">
      <div class="panel-head">商铺</div>
      <div class="forms">
        <div class="form-item">
          <div class="form-item-text">商铺名称</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="args.name" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">联系方式</div>
          <div class="form-item-value">
            <input type="text" [(ngModel)]="args.name" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">分析类型</div>
          <div class="form-item-value">
            <select></select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-text">分析状态</div>
          <div class="form-item-value state">
            <common-label-select
              [autoclose]="true"
              [(show)]="source.state.show"
              [autoclose]="true"
              [selected]="source.state.selected"
              (remove)="source.state.onremove($event)"
            >
              <ias-select-shop-object-state
                #select
                [selected]="source.state.selected"
                (selectedChange)="source.state.onselected($event)"
                (loaded)="source.state.init($event)"
              ></ias-select-shop-object-state>
            </common-label-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="system-map-filter-foot">
    <div class="button-group">
      <button class="button-clip-gradient" (click)="onsearch()">查找</button>
      <button class="button-clip-blue">取消</button>
    </div>
  </div>
</div>
