.system-map-filter {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;


  &-head {
    display: flex;
    justify-content: space-between;
  }


  .forms {
    flex-wrap: wrap;

    .form-item {

      &-value {}
    }
  }

  &-foot {
    display: flex;
    justify-content: center;
  }

}
