@if(args.finished === undefined){
<ias-system-task-table-all
  [filter]="filter"
  [load]="load"
  [progress]="progress"
  (delete)="ondelete($event)"
  (details)="ondetails($event)"
  (result)="onresult($event)"
  (files)="onfiles($event)"
  (error)="onerror($event)"
></ias-system-task-table-all>
} @else if(args.finished){
<ias-system-task-table-finished
  [filter]="filter"
  [load]="load"
  (result)="onresult($event)"
  (files)="onfiles($event)"
  (error)="onerror($event)"
></ias-system-task-table-finished>
} @else{
<ias-system-task-table-runing
  [filter]="filter"
  [load]="load"
  [progress]="progress"
  (delete)="ondelete($event)"
  (details)="ondetails($event)"
  (error)="onerror($event)"
></ias-system-task-table-runing>
}
