<div class="system-map-source-manager root-router">
  <div class="system-map-source-manager-head">
    <button
      [ngClass]="{
        'button-clip-gradient-2': type === Type.shop,
        'button-clip-blue-2': type !== Type.shop
      }"
      (click)="ontype(Type.shop)"
    >
      商铺
    </button>
    <button
      [ngClass]="{
        'button-clip-gradient-2': type === Type.road,
        'button-clip-blue-2': type !== Type.road
      }"
      (click)="ontype(Type.road)"
    >
      道路
    </button>
  </div>
  <div class="system-map-source-manager-body">
    <ng-container *ngIf="type === Type.shop">
      <ias-system-map-source-table-shop
        [datas]="shops"
        (details)="ondetails($event)"
        [selected]="selected"
        (selectedChange)="onselected($event)"
        (itemhover)="onmouseover($event)"
        (itemblur)="onmouseout($event)"
        (position)="onposition($event)"
      ></ias-system-map-source-table-shop>
    </ng-container>
    <ng-container *ngIf="type === Type.road">
      <ias-system-map-source-table-road
        [datas]="roads"
        (selectedChange)="onselected($event)"
        (position)="onposition($event)"
      >
      </ias-system-map-source-table-road>
    </ng-container>
  </div>
</div>
