.system-map-statistic {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 200px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      background-image: url("../../../../../assets/image/map/panel/panel-statistic-item.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;

      &-shop {
        width: 42px;
        height: 40px;
        background-image: url("../../../../../assets/image/map/panel/shop.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;

      &-title {
        font-size: 20px;
        color: #69bbff;
        font-weight: bold;
        text-shadow: #000 0px 0 10px;
      }

      &-value {
        font-family: guangliangjiu-ganbeiti;
        font-size: 24px;
        color: #fff;
        text-shadow: #000 0px 0 10px;
      }
    }


  }
}
