<div class="system-task-file-details-map-manager">
  <ias-system-module-road-object-video-map-container
    [objects]="objects"
    [data]="data"
    [to]="to"
    [pickupable]="pickupable"
    [(location)]="position.current.data"
    [(rectified)]="rectified"
    [(pickup)]="position.pickup.data"
    (loaded)="on.loaded($event)"
    (trigger)="on.trigger($event)"
    (error)="on.error($event)"
    (current)="on.current($event)"
    (course)="on.course($event)"
    (objectdblclick)="on.object.dblclick($event)"
    (objectclick)="on.object.click($event)"
    (closest)="on.closest($event)"
    [displaypoint]="display.point"
    [displayline]="display.line"
    [displayroute]="display.route"
    [linecreate]="line.create"
    (lineclick)="line.on.click($event)"
  ></ias-system-module-road-object-video-map-container>
  <div
    class="system-task-file-details-map-manager-info osd panel-map"
    *ngIf="roadable"
  >
    {{ closest?.OSDTime | date : Language.yyyyMMddHHmmss }}
  </div>
  <div
    class="system-task-file-details-map-manager-info position"
    *ngIf="roadable && current"
  >
    <div class="text">{{ current[0] }}</div>
    <div class="dot">,</div>
    <div class="text">{{ current[1] }}</div>
  </div>
  <div class="system-task-file-details-map-manager-settings panel-map">
    <ias-system-module-road-object-video-map-settings
      [(rectified)]="rectified"
      [(pickupable)]="pickupable"
      [(displaypoint)]="display.point"
      [(displayline)]="display.line"
      [(displayroute)]="display.route"
    ></ias-system-module-road-object-video-map-settings>
  </div>
  <div
    class="system-task-file-details-map-manager-position-current"
    *ngIf="position.current && locationable"
    [ngClass]="{
      fixed: position.current.fixed
    }"
  >
    <ias-system-module-road-object-video-map-position
      [icon]="'howell-icon-arrow'"
      [title]="'当前位置'"
      [position]="position.current.data"
      [(fixed)]="position.current.fixed"
      [left]="true"
      [top]="false"
      [offset]="true"
    ></ias-system-module-road-object-video-map-position>
  </div>
  <div
    class="system-task-file-details-map-manager-position-point"
    *ngIf="position.pickup.data && pickupable && locationable"
    [ngClass]="{
      fixed: position.pickup.fixed
    }"
  >
    <ias-system-module-road-object-video-map-position
      [icon]="'howell-icon-garbage2'"
      [title]="'部件位置'"
      [position]="position.pickup.data"
      [(fixed)]="position.pickup.fixed"
      [left]="true"
      [top]="false"
    ></ias-system-module-road-object-video-map-position>
  </div>
</div>
