.system-event-process-realtime {
  @gap: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: @gap;

  &-body {
    width: 100%;
    height: calc(100% - @gap - 36px);
    display: flex;
    gap: 15px;
    flex-grow: 1;
  }

  // ========== 两列 ==========
  &-column {
    width: calc((100% - @gap * 2) * 0.4);
    display: flex;
    flex-direction: column;
    gap: @gap;

    &.half {
      width: calc((100% - @gap * 2) * 0.2);
    }

    &.full {
      width: calc((100% - @gap) * 0.5);
    }
  }

  // ========== 左列：图片 + (地图 | 音频) ==========

  &-picture {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: 0;
    box-sizing: border-box;
  }

  &-map-audio {
    flex: 1;
    display: flex;
    gap: @gap;
  }

  &-map {
    height: 100%;
    width: calc((100% - @gap) * 0.5);
    padding: 0;
    box-sizing: border-box;

    &.full {
      width: 100%;
    }
  }

  &-audio {
    width: 100%;
    aspect-ratio: 8/9;

    .panel-head {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .panel-title {
        width: auto;
      }
    }
  }

  // ========== 右列：信息 + 屏蔽 ==========

  &-info {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;

    &.flex-grow {
      flex-grow: 1;
    }
  }

  &-bottom {
    flex: 1;
    min-height: 0;
    display: flex;
    gap: @gap;
  }

  &-handle {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;

    .panel-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-blocked {
    width: 100%;

    .panel-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        cursor: pointer;
      }
    }
  }

  // ========== foot ==========

  &-foot {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &-page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &>div {
        display: flex;
        align-items: center;
      }
    }

    .audio {
      width: 300px;
      height: 100%;

      audio {
        height: 100%;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }
}
