.system-event-process-realtime {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-body {
    width: 100%;
    height: calc(100% - 15px - 36px);
    display: grid;
    grid-template-areas:
      "picture picture map map"
      "info audio audio audio";
    grid-template-rows: calc((100% - 15px) * 0.64) calc((100% - 15px) * 0.36);
    grid-template-columns: calc((100% - 15px * 3) /4) calc((100% - 15px * 3) /4) calc((100% - 15px * 3) /4) calc((100% - 15px * 3) /4);
    grid-gap: 15px;

  }

  &-picture {
    grid-area: picture;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }

  &-map {
    grid-area: map;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }

  &-info {
    grid-area: info;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }

  &-audio {
    grid-area: audio;
    width: 100%;

    .panel-head {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .panel-title {
        width: auto;
      }
    }

    .panel-body {
      font-size: 20px;
    }
  }


  &-foot {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-group {
      justify-content: flex-end;
    }

    .audio {
      width: 300px;
      height: 100%;

      audio {
        height: 100%;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

      }
    }
  }
}
