<div
  class="system-module-road-object-stock-manager"
  [style.padding]="iswindow ? 0 : undefined"
>
  <div class="system-module-road-object-stock-manager-head">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">部件类型</div>
        <div class="form-item-value fill">
          <hw-select
            [(selected)]="table.args.type"
            [nullable]="true"
            [nulltext]="'全部'"
          >
            <select [(ngModel)]="table.args.type">
              <option [ngValue]="item.Value" *ngFor="let item of source.types">
                {{ item.Name }}
              </option>
            </select>
          </hw-select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">部件名称</div>
        <div class="form-item-value fill">
          <input type="text" [(ngModel)]="table.args.name" />
        </div>
      </div>
      <div class="form-item submit">
        <button class="button-clip-gradient" (click)="table.search()">
          查找
        </button>
      </div>
    </div>

    <div class="button-group">
      <button class="button-clip-gradient" (click)="window.details.open()">
        添加
      </button>
      <button
        class="button-clip-gradient"
        (click)="window.transform.open(selecteds)"
        [disabled]="selecteds.length == 0"
      >
        导入到部件
      </button>
    </div>
  </div>
  <div
    class="system-module-road-object-stock-manager-body"
    [style.gap]="map.full ? 0 : undefined"
  >
    <div
      class="system-module-road-object-stock-manager-body-table"
      [style.width]="map.full ? '0%' : undefined"
    >
      <ias-system-module-road-object-stock-table
        [args]="table.args"
        [load]="table.load"
        [page]="table.page"
        (loaded)="table.on.load($event)"
        (selected)="table.on.select($event)"
        (modify)="table.on.details($event)"
        (delete)="table.on.delete($event)"
        (locate)="table.on.locate($event)"
        (picture)="window.picture.open($event)"
        (itemover)="map.over.emit($event)"
        (itemout)="map.out.emit($event)"
      ></ias-system-module-road-object-stock-table>
    </div>
    <div
      class="system-module-road-object-stock-manager-body-map"
      [style.width]="map.full ? '100%' : undefined"
    >
      <ias-system-module-road-object-map
        [datas]="table.datas"
        [selected]="located"
        [itemover]="map.over"
        [itemout]="map.out"
        (selectedChange)="map.select($event)"
        (itemdblclick)="table.on.details($event)"
      ></ias-system-module-road-object-map>
      <div class="system-module-road-object-stock-manager-body-map-buttons">
        <div class="button panel-map" (click)="map.full = !map.full">
          <i class="mdi mdi-arrow-expand"></i>
        </div>
      </div>
    </div>
  </div>
  <ias-window
    [Model]="window.details"
    *ngIf="window.details.show"
    [style]="window.details.style"
    [title]="window.details.title"
  >
    <ias-system-module-road-object-stock-details-manager
      [data]="window.details.data"
      (ok)="window.details.on.ok()"
      (close)="window.details.on.close()"
    ></ias-system-module-road-object-stock-details-manager>
  </ias-window>

  <ias-window
    [Model]="window.transform"
    *ngIf="window.transform.show"
    [style]="window.transform.style"
    [title]="window.transform.title"
  >
    <ias-system-module-road-object-stock-transform-manager
      [datas]="window.transform.datas"
      (ok)="window.transform.on.ok($event)"
      (close)="window.transform.on.close()"
    ></ias-system-module-road-object-stock-transform-manager>
  </ias-window>

  <ias-window
    *ngIf="window.picture.show"
    [Model]="window.picture"
    [style]="window.picture.style"
    [title]="window.picture.title"
  >
    <ias-picture-list
      [id]="window.picture.id"
      [page]="window.picture.page"
      (pageChange)="window.picture.change($event)"
    ></ias-picture-list>
  </ias-window>

  <confirm-window
    *ngIf="window.confirm.show"
    [model]="window.confirm"
    [content]="window.confirm.message"
    (ok)="window.confirm.on.ok()"
    (cancel)="window.confirm.on.close()"
  >
  </confirm-window>
</div>
