<div class="system-map-source-table">
  <div class="table-sticky-list">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      TableSorter
      (sort)="onsort($event)"
    >
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th class="center">#</th>
          <th sort="Name">名称</th>
          <th sort="ObjectState">状态</th>
          <th class="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of datas; let index = index"
          [ngClass]="{ selected: item === selected }"
          (click)="onselect(item)"
          (dblclick)="onposition(item, $event)"
          (mouseover)="onmouseover(item)"
          (mouseout)="onmouseout(item)"
        >
          <td class="center">
            {{ index + 1 }}
          </td>
          <td [title]="item.Name">
            {{ item.Name }}
          </td>
          <td
            [ngStyle]="{
            color: Color.ShopObjectState(item.ObjectState),
          }"
          >
            {{ item.ObjectStateName | async }}
          </td>
          <td class="center">
            <div class="operation">
              <div title="商铺详情" (click)="ondetails(item, $event)">
                <i class="howell-icon-details"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
