@import url(../system-main-manager/system-main-manager-@.less);

.system-main-manager-card {

  @card-margin: @padding;
  @card-gap: @gap;

  &-list {
    display: flex;
    flex-direction: column;
    gap: @card-gap;
    position: absolute;

    height: calc(100% - 2 * @card-margin);
    top: @card-margin;
    transition: all 0.5s;
    width: 0;

    &.show {
      width: @card-width;
    }

    &.left {
      left: @card-margin;
    }

    &.right {
      right: @card-margin;
      width: @card-width;
    }
  }

  &-item {
    height: calc((100% - @card-gap * 2) / 3);
  }
}
