<div class="system-map-filter-mask">
  <div class="panel-map-border system-map-filter root-router">
    <div class="system-map-filter-head">
      <div class="panel-map-title">查找</div>
      <div class="operation">
        <div class="button" (click)="onclose()">
          <i class="howell-icon-Close"></i>
        </div>
      </div>
    </div>
    <div class="system-map-filter-body">
      <div class="panel">
        <div class="panel-title">商铺查找</div>
        <div class="forms">
          <div class="form-item">
            <div class="form-item-text" text-space-between>商铺名称</div>
            <div class="form-item-value">
              <input type="text" [(ngModel)]="filter.name" />
            </div>
          </div>
          <div class="form-item">
            <div class="form-item-text" text-space-between>联系方式</div>
            <div class="form-item-value">
              <input type="text" [(ngModel)]="filter.telphone" />
            </div>
          </div>
          <div class="form-item">
            <div class="form-item-text" text-space-between>商铺对象状态</div>
            <div class="form-item-value">
              <select [(ngModel)]="filter.state">
                <option [ngValue]="undefined">全部</option>
                <option
                  *ngFor="let item of source.states | async"
                  [ngValue]="item.Value"
                >
                  {{ item.Name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-head">
          <div class="panel-title">
            <label for="distance-enabled">
              范围查找
              <input
                type="checkbox"
                id="distance-enabled"
                [(ngModel)]="distance.enabled"
              />
            </label>
          </div>
          <div class="panel-operation">
            <div
              class="button"
              title="在地图上选择范围"
              [class.disabled]="!distance.enabled"
              (click)="onmapmapdistance()"
            >
              <i class="mdi mdi-map-marker-radius"></i>
              地图
            </div>
          </div>
        </div>
        <div class="forms">
          <div class="form-item">
            <div
              class="form-item-text"
              text-space-between
              [class.disabled]="!distance.enabled"
            >
              中心点经度
            </div>
            <div class="form-item-value">
              <input
                type="text"
                [disabled]="!distance.enabled"
                [(ngModel)]="distance.center.X"
              />
            </div>
          </div>
          <div class="form-item">
            <div
              class="form-item-text"
              text-space-between
              [class.disabled]="!distance.enabled"
            >
              中心点纬度
            </div>
            <div class="form-item-value">
              <input
                type="text"
                [(ngModel)]="distance.center.Y"
                [disabled]="!distance.enabled"
              />
            </div>
          </div>
          <div class="form-item">
            <div
              class="form-item-text"
              text-space-between
              [class.disabled]="!distance.enabled"
            >
              查找半径
            </div>
            <div class="form-item-value">
              <input
                type="text"
                [(ngModel)]="distance.distance"
                [disabled]="!distance.enabled"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="system-map-filter-foot">
      <div class="button" (click)="onreset()">重置</div>
      <div class="button-group">
        <button class="button-clip-gradient" (click)="onsearch()">确定</button>

        <button class="button-clip-blue" (click)="onclose()">关闭</button>
      </div>
    </div>
  </div>
</div>
