.system-event-gps-task-table {
  height: 100%;
  width: 100%;
  transition: all 0.5s;

  @foot-height: 60px;

  &-body {
    height: calc(100% - @foot-height);

    .image {
      height: 80%;
      cursor: pointer;
    }

    .noimage {
      height: 100%;
    }

    table {
      thead {
        tr {
          th {
            white-space: nowrap;
          }
        }
      }

      .datetime {
        min-width: 200px;
      }
    }



  }

  &-foot {
    height: @foot-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
