.system-task-details-info {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  animation: 0.75s;

  .forms {
    flex-direction: column;
    height: 100%;
    width: 100%;

    .form-item {
      flex-grow: 1;

      &-value {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
